{% extends 'layouts.html' %}
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block content %}
<div class="container">
    <h3 align="center">ใบเปรียบเทียบราคา</h3>
    {% for d in cpd%}
    <ul class="list-group list-group-horizontal my-2">
        <li class="list-group-item {%if link_cpd_id == d.id%}list-group-item-warning{%endif%} ">
            <h3 class="float-left">{{forloop.counter}}. {{d.distributor}}</h3>
            <a href="{% url 'editComparePricePOItem' d.cp.id d.id%}" class="btn btn-warning float-right"><i class="fas fa-pen"></i> แก้ไข</a>
            <a onclick="return confirm('คุณต้องการลบผู้จำหน่าย {{d.distributor}} หรือไม่ ?')" href="{% url 'removeComparePriceDistributor' d.cp.id d.id%}" class="btn btn-danger float-right"><i class="fas fa-trash-alt"></i> ลบ</a>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-2">สินค้า</div>
                <div class="col">รายละเอียด</div>
                <div class="col">จำนวน</div>
                <div class="col">หน่วย</div>
                <div class="col">เกรด/ยี่ห้อ</div>
                <div class="col">ราคาหน่วยละ</div>
                <div class="col text-center">รวม</div>
            </div>
        </li>
        {% for it in cp_item %}
            {% if d.id == it.bidder.id%}
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-2">{% if it.item %}{{it.item}}{% endif %}</div>
                        <div class="col">{% if it.description %}{{it.description}}{% endif %}</div>
                        <div class="col">{% if it.quantity %}{{it.quantity}}{% endif %}</div>
                        <div class="col">{% if it.unit %}{{it.unit}}{% endif %}</div>
                        <div class="col">{% if it.brand %}{{it.brand}}{% endif %}</div>
                        <div class="col">{% if it.unit_price %}{{it.unit_price | intcomma}}{% endif %}</div>
                        <div class="col text-center">{% if it.price %}{{it.price | intcomma}}{% endif %}</div>
                    </div>
                </li>
            {% endif %}
        {% endfor %}
        <li class="list-group-item">
            <div class="row spacer">
                <div class="col-2">
                    {% if d.quotation_pdf %}
                        ใบเสนอราคา<br>
                        <a href="/media/{{d.quotation_pdf}}" class="btn btn-outline-success btn-sm"><i class="fas fa-file-download"></i> Download</a>
                    {% endif %}
                </div>
                <div class="col">
                    <div class="row spacer my-2">
                        <div class="col-3 offset-7 text-right">รวม</div>
                        <div class="col-2 text-right">{{d.total_price | intcomma}}</div>
                    </div>
                    <div class="row spacer my-2">
                        <div class="col-3 offset-7 text-right">หักส่วนลด</div>
                        <div class="col-2 text-right">{{d.discount | intcomma}}</div>
                    </div>
                    <div class="row spacer my-2">
                        <div class="col-3 offset-7 text-right">จำนวนเงินหลังหักส่วนลด</div>
                        <div class="col-2 text-right">{{d.total_after_discount | intcomma}}</div>
                    </div>
                    <div class="row spacer my-2">
                        <div class="col-3 offset-7 text-right">ค่าขนส่ง</div>
                        <div class="col-2 text-right">{{d.freight | intcomma}}</div>
                    </div>
                    <div class="row spacer my-2">
                        <div class="col-3 offset-7 text-right">ภาษีมูลค่าเพิ่ม 7%</div>
                        <div class="col-2 text-right">{{d.vat | intcomma}}</div>
                    </div>
                    <div class="row spacer my-2">
                        <div class="col-3 offset-7 text-right">รวมเป็นเงินทั้งสิ้น</div>
                        <div class="col-2 text-right">{{d.amount | intcomma}}</div>
                    </div>
                </div>
            </div>
        </li>
    </ul>        
    {% endfor %}
    <h4><span class="my-4 badge badge-pill badge-warning">แก้ไขร้านค้า</span></h4>
    <div class="card my-2 div-shadow border-warning" id="card">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="card-header text-warning">
                    <div class="row spacer">
                        <div class="col-5">
                            <div class="input-group">
                                <label>{{bookform.distributor.label}}</label>&ensp;
                                {{bookform.cp}}
                                {{bookform.distributor}}
                                <input type="text" name="form-distributor" id="id-form-distributor" class="form-control" Placeholder="ค้นหาผู้จำหน่าย ..." autocomplete="off" onfocusout="searchDataDistributor()">
                                <!--input id="id-form-distributor" name="form-distributor" type="text" list="idDistributorList" class="distributor form-control" Placeholder="ค้นหาผู้จำหน่าย ..." autocomplete="off">
                                <datalist-- id="idDistributorList">
                                {% for results in distributorList %}
                                    <option data-id="{{results.id}}" data-show="{{results.name}}" value="{{results.id}}-{{results.name}}" data-credit="{{results.credit__id}}" data-vat_type="{{results.vat_type__id}}"></option>
                                {% endfor %}
                                </datalist-->
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="input-group">
                                <label>{{bookform.credit.label}}</label>&ensp;
                                {{bookform.credit | add_class:"form-control"}}
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="input-group">
                                <label>{{bookform.vat_type.label}}</label>&ensp;
                                {{bookform.vat_type | add_class:"form-control"}}
                            </div>
                        </div>
                        <div class="col-1">
                            <a href="{% url 'createComparePricePOItem' link_cp_id False %}" class="btn btn-secondary float-right"><i class="fas fa-brush"></i> ล้าง</a>
                        </div>
                    </div>
            </div>
            <div class="card-body">
                <div class="row form-row spacer">
                    <div style="width: 20px;">ที่</div>
                    <div class="col">สินค้า</div>
                    <div class="col">จำนวน</div>
                    <div class="col">หน่วย</div>
                    <div class="col">เกรด/ยี่ห้อ</div>
                    <div class="col">ราคาหน่วยละ</div>
                    <div class="col text-center">รวม</div>
                </div>
                {{ formset.management_form }}
                {% for form in formset %}
                <div class="row form-row spacer my-2" id="div-{% if form.id.value %}{{form.id.value}}{% else %}None{% endif %}">
                    <div class="col">
                        <div class="input-group">
                            {{form.id}} 
                            {{form.item | add_class:"item"}}
                            <b id="id_comparisonpriceitem_set-{{forloop.counter0}}-lb" name="comparisonpriceitem_set-{{forloop.counter0}}-lb" class="lb">1&nbsp;</b>
                            <input id="id_comparisonpriceitem_set-{{forloop.counter0}}-express" name="comparisonpriceitem_set-{{forloop.counter0}}-express" type="text" list="idExpressList" class="express form-control" Placeholder="ค้นหาสินค้า ..." class="form-control" autocomplete="off">
                            <datalist id="idExpressList">
                              {% for results in itemList %}
                                <option data-id="{{results.id}}" data-refno = "{{results.requisit.pr_ref_no}}{{results.product.id}}" data-show="{{results.product.id}} {{results.product}}" value="{{results.product.id}}: {{results.product}} เลขที่ {{results.requisit.pr_ref_no}}" data-quantity="{{results.quantity_pr}}" data-unit="{{results.product.unit.id}}"></option>
                              {% endfor %}
                            </datalist>
                            {{form.description | add_class:"form-control"}}
                            {{form.quantity | add_class:"form-control quantity"}}
                            {{form.unit | add_class:"form-control"}}
                            {{form.brand | add_class:"form-control"}}
                            {{form.unit_price | add_class:"form-control unit-price"}}
                            {{form.price | add_class:"form-control text-right price"}}
                            {{ form.DELETE | add_class:"d-none"}}
                            {% if form.id.value %}
                                <div class="input-group-append text-right">
                                <button type="button" class="btn btn-danger hidden-print" onclick="hideDiv('{{form.id.value}}')">-</button>
                            </div>
                            {% else %}
                                <div class="input-group-append text-right">
                                    <button class="btn btn-success add-form-row hidden-print">+</button>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
                <div class="row spacer">
                    <div class="col-4 pdf">
                        ใบเสนอราคา {{bookform.quotation_pdf | add_class:"form-control text-right"}}
                    </div>
                    <div class="col">
                        <div class="row spacer">
                            <div class="col-8">
                                <label class="float-right">{{bookform.total_price.label}}</label>
                            </div>
                            <div class="col-4">
                                <div class="input-group float-right">
                                    {{bookform.total_price | add_class:"form-control text-right"}}
                                </div>
                            </div>
                        </div>
                        <div class="row spacer my-2">
                            <div class="col-8">
                                <label class="float-right">{{bookform.discount.label}}</label>
                            </div>
                            <div class="col-4">
                                <div class="input-group float-right">
                                    {{bookform.discount  | add_class:"form-control text-right"}}
                                    <p class="text-right" id="tempTotal" hidden></p>
                                </div>
                            </div>
                        </div>
                        <div class="row spacer my-2">
                            <div class="col-8">
                                <label class="float-right">{{bookform.total_after_discount.label}}</label>
                            </div>
                            <div class="col-4">
                                <div class="input-group float-right">
                                    {{bookform.total_after_discount | add_class:"form-control text-right"}}
                                </div>
                            </div>
                        </div>
                        <div class="row spacer my-2">
                            <div class="col-8">
                                <label class="float-right">{{bookform.freight.label}}</label>
                            </div>
                            <div class="col-4">
                                <div class="input-group float-right">
                                    {{bookform.freight | add_class:"form-control text-right"}}
                                </div>
                            </div>
                        </div>
                        <div class="row spacer my-2">
                            <div class="col-8">
                                <label class="float-right">{{bookform.vat.label}}</label>
                            </div>
                            <div class="col-4">
                                <div class="input-group float-right">
                                    {{bookform.vat | add_class:"form-control text-right"}}
                                </div>
                            </div>
                        </div>
                        <div class="row spacer my-2">
                            <div class="col-8">
                                <label class="float-right">{{bookform.amount.label}}</label>
                            </div>
                            <div class="col-4">
                                <div class="input-group float-right">
                                    {{bookform.amount | add_class:"form-control text-right"}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row spacer my-2">
                    <div class="col-3">
                        <button type="submit" class="btn btn-block btn-warning"><i class="fas fa-edit"></i> บันทึกการแก้ไข</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="row my-4">
        <div class="col">
            <a href="{% url 'printComparePricePO' link_cp_id %}" class="btn bg-success text-white float-right">Next <i class="fas fa-arrow-right"></i></a>
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
<script type="text/javascript">

$('div.pdf a').addClass('btn btn-outline-success btn-sm');
$('div.pdf a').text('Download');

//แสดงครั้งแรกเมื่อเปิด page
$(function() {
    //get datalist to set input
    var inputs = $(".item");
    for(var i = 0; i < inputs.length; i++){
        if($(inputs[i]).val()){
          var val = $(inputs[i]).val();
          var show = $('#idExpressList option[data-id='+val+']').attr('data-show');
          //set value to form.item
          $("#id_comparisonpriceitem_set-"+i+"-express").val(show);
        }
    }

    //set ผู้จำหน่าย
    /*
    var valDT  = $('#id_distributor').val();
    var showDT = $('#idDistributorList option[data-id='+valDT+']').val();
    $('#id-form-distributor').val(showDT);
    */
    setDataDistributor();
    tempTotal.innerHTML = $("#id_total_price").val();
    changeNumberOrder();

});

$('form').submit(function() {
  var inputId = $("#div-None div.col div.input-group input").attr("id").match(/\d+/);
  var data = $('#id_comparisonpriceitem_set-'+inputId+'-item').val();
  if(data == "")
     $("#div-None" ).remove();
});

function updateElementIndex(el, prefix, ndx) {
    var ndx = ndx-1;
    var id_regex = new RegExp('(' + prefix + '-\\d+)');
    var replacement = prefix + '-' + ndx;
    if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex, replacement));
    if (el.id) el.id = el.id.replace(id_regex, replacement);
    if (el.name) el.name = el.name.replace(id_regex, replacement);
    changeNumberOrder();
}
function cloneMore(selector, prefix) {
    var newElement = $(selector).clone(true);
    var total = $('#id_' + prefix + '-TOTAL_FORMS').val();
    newElement.find(':input:not([type=button]):not([type=submit]):not([type=reset])').each(function() {
        var name = $(this).attr('name')
        if(name) {
            name = name.replace('-' + (total-1) + '-', '-' + total + '-');
            var id = 'id_' + name;
            $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
        }
    });
    newElement.find('label').each(function() {
        var forValue = $(this).attr('for');
        if (forValue) {
          forValue = forValue.replace('-' + (total-1) + '-', '-' + total + '-');
          $(this).attr({'for': forValue});
        }
    });

    newElement.find('b').each(function() {
        var name = $(this).attr('name')
        if(name) {
            name = name.replace('-' + (total-1) + '-', '-' + total + '-');
            var id = 'id_' + name;
            $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
            var at = parseInt(total) + 1;
        }
    });

    total++;
    $('#id_' + prefix + '-TOTAL_FORMS').val(total);
    $(selector).after(newElement);
    var conditionRow = $('.form-row:not(:last)');
    conditionRow.find('.btn.add-form-row')
    .removeClass('btn-success').addClass('btn-danger')
    .removeClass('add-form-row').addClass('remove-form-row')
    .html('-');
    changeNumberOrder();
    return false;
}
function deleteForm(prefix, btn) {
    var total = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
    if (total > 1){
        btn.closest('.form-row').remove();
        var forms = $('.form-row');
        $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);
        for (var i=0, formCount=forms.length; i<formCount; i++) {
            $(forms.get(i)).find(':input').each(function() {
                updateElementIndex(this, prefix, i);
            });
        }
    }
    return false;
}
$(document).on('click', '.add-form-row', function(e){
    e.preventDefault();
    cloneMore('.form-row:last', 'comparisonpriceitem_set');
    return false;
});
$(document).on('click', '.remove-form-row', function(e){
    e.preventDefault();
    deleteForm('comparisonpriceitem_set', $(this));
    calculateAll();
    return false;
});

function changeNumberOrder(){
    var lbs = $(".lb" );
      for(var i = 0; i < lbs.length; i++){
        var at = (parseInt(i) + 1);
        $(lbs[i]).html(at + "&nbsp;");
      }
}

/*คำนวนค่าต่างๆ*/
//jQuery ดึงค่าจาก 2 class
$(".unit-price, .quantity")
  .focusout(function() {
  })  
  .blur(function() {
    var suffix = $(this).attr('id').match(/\d+/);
    var quantity = $('#id_comparisonpriceitem_set-' + suffix + '-quantity').val();
    var unitPrice = $('#id_comparisonpriceitem_set-' + suffix + '-unit_price').val();

    price = parseFloat(quantity) * parseFloat(unitPrice);
    $('#id_comparisonpriceitem_set-' + suffix + '-price').val(price);
    
    // format ทศนิยม 2 และ 0 ตำแหน่ง
    $('#id_comparisonpriceitem_set-' + suffix + '-unit_price').val(parseFloat($('#id_comparisonpriceitem_set-' + suffix + '-unit_price').val()).toFixed(2));
    $('#id_comparisonpriceitem_set-' + suffix + '-quantity').val(parseFloat($('#id_comparisonpriceitem_set-' + suffix + '-quantity').val()).toFixed());
    //คำนวนค่าทั้งหมด
    calculateAll();
});

$(".price")
  .focusout(function() {
  })  
  .blur(function() {
    $(this).val(parseFloat($(this).val()).toFixed(2));
    //คำนวนค่าทั้งหมด
    calculateAll();
  });

$("#id_discount")
  .focusout(function() {
  })  
  .blur(function() {
    if($(this).val().indexOf('%') != -1){
        //ไม่ต้องทำอะไร
    }else{
        $(this).val(parseFloat($(this).val()).toFixed(2));
    }
});

$("#id_total_price")
  .focusout(function() {
  })  
  .blur(function() {
    $(this).val(parseFloat($(this).val()).toFixed(2));
});

$("#id_freight")
  .focusout(function() {
  })  
  .blur(function() {
    $(this).val(parseFloat($(this).val()).toFixed(2));
});

$("#id_vat_type" ).change(function() {
  var price =  $("#id_total_price").val();
  var discount =  $("#id_discount").val();
  var totalAfterDiscount = parseFloat(price) - calculateDiscount(discount);

  var vat = calculateVat(parseFloat(tempTotal.innerHTML));

  setValueTotalAfterDiscount(totalAfterDiscount, vat);

  var amount =  calculateAmount(vat, $("#id_total_after_discount").val(), $("#id_freight").val());
  vat = calculateVat(parseFloat(tempTotal.innerHTML));

  $("#id_vat").val(vat.toFixed(2));
  $("#id_amount").val(amount.toFixed(2));
});

$("#id_freight").change(function() {
  var amount = calculateAmount($("#id_vat").val(), $("#id_total_after_discount").val(), $("#id_freight").val());
  $("#id_amount").val(amount.toFixed(2));
});

$("#id_total_price, #id_discount").change(function() {
  var price =  $("#id_total_price").val();
  var discount =  $("#id_discount").val();
  var totalAfterDiscount = parseFloat(price) - calculateDiscount(discount);

  //คำนวน vat
  var vat = calculateVat(totalAfterDiscount);
  $("#id_vat").val(vat.toFixed(2));
  setValueTotalAfterDiscount(totalAfterDiscount, vat);

  //คำนวน amount
  var amount = calculateAmount(vat, $("#id_total_after_discount").val(), $("#id_freight").val());
  $("#id_amount").val(amount.toFixed(2));
});

function calculateDiscount(prmDiscount){
    if(prmDiscount.indexOf('%') != -1){
        var discountPersent = prmDiscount.replace('%','');
        var totalPrice = $("#id_total_price").val();
        var discount = parseFloat(totalPrice) * parseFloat(discountPersent)/100;
        return discount;
    }else{
        return prmDiscount;
    }
}

function calculateAll(){
    //คำนวน รวมเป็นเงิน
    var inputs = $(".price" );
      var total = 0.0;
      for(var i = 0; i < inputs.length; i++){
        if($(inputs[i]).val() != 0.00 && !$(inputs[i]).hasClass("hiden-delete")){
            total += parseFloat($(inputs[i]).val());
          }
      }
    var totalAfterDiscount = calculateTotalAfterDiscount(total);
    var vat = calculateVat(totalAfterDiscount);
    setValueTotalAfterDiscount(totalAfterDiscount, vat);

    //แสดง รวมเป็นเงิน 
    $("#id_total_price").val(total.toFixed(2));
    //แสดง จำนวนภาษีมูลค่าเพิ่ม
    $("#id_vat").val(vat.toFixed(2));
    //แสดง จำนวนเงินรวมทั้งสิ้น
    var amount =  calculateAmount(vat, $("#id_total_after_discount").val(), $("#id_freight").val());
    $("#id_amount").val(amount.toFixed(2));
}

function setValueTotalAfterDiscount(totalAfterDiscount, vat){
  var TAD = 0.00;
  tempTotal.innerHTML = totalAfterDiscount;
  var vatType = $("#id_vat_type").val();
  if(vatType == "1"){
    TAD = parseFloat(tempTotal.innerHTML) - parseFloat(vat) ;
  } //vat ใน
  else if(vatType == "2") //vat นอก
    TAD = parseFloat(tempTotal.innerHTML);
  else
    TAD = parseFloat(tempTotal.innerHTML);
    
  $("#id_total_after_discount").val(TAD.toFixed(2));
}

function calculateTotalAfterDiscount(totalPrice){
  var discount =  parseFloat($("#id_discount").val());
  if(isNaN(discount) || discount == "")
    discount = 0.00;
  return totalPrice - discount;
}

function calculateVat(total){
  var vatType = $("#id_vat_type").val();
  var vat = 0.00;
  if(vatType == "1") //vat ใน
    vat = (total*7)/107;
  else if(vatType == "2") //vat นอก
    vat = (total*7)/100;
  return vat;
}

function calculateAmount(vat, total, freight){
    if(isNaN(freight) || freight == "")
      freight = 0.00;
    return parseFloat(total) + parseFloat(vat) + parseFloat(freight);
}

function hideDiv(id){
    var inputId = $("#div-"+id+" div.col div.input-group input[value='"+id+"']").attr("id").match(/\d+/);
    $("#id_comparisonpriceitem_set-"+inputId+"-DELETE").prop('checked', true);
    //เพิ่ม class hiden-delete ไว้บอกว่าไม่ต้องคำนวน ราคารวม
    $("#id_comparisonpriceitem_set-"+inputId+"-price").addClass("hiden-delete");
    $("#id_comparisonpriceitem_set-"+inputId+"-lb").removeClass("lb");
    //คำนวน รวมเป็นเงิน
    calculateAll();
    $("#div-"+id).hide();
    changeNumberOrder();
}

$(".express").change(function() {
    // get data id ของ option data list
    var suffix = $(this).attr('id').match(/\d+/);
    var val = $("#id_comparisonpriceitem_set-"+suffix+"-express").val();
    var item1 = val.split(":");
    var idExpress = item1[item1.length - 2];

    var item2 = val.split("เลขที่ ");
    var idRef = item2[item2.length - 1];

    var dataRef = idRef + idExpress;

    if(val != ""){
        var id = $('#idExpressList option[data-refno='+dataRef+']').attr('data-id');
        var quantity = $('#idExpressList option[data-refno='+dataRef+']').attr('data-quantity');
        var unit = $('#idExpressList option[data-refno='+dataRef+']').attr('data-unit');
        var show = $('#idExpressList option[data-refno='+dataRef+']').attr('data-show');
        //set value to form.item
        $("#id_comparisonpriceitem_set-"+suffix+"-express").val(show);
        $("#id_comparisonpriceitem_set-"+suffix+"-item").val(id);
        $("#id_comparisonpriceitem_set-"+suffix+"-quantity").val(quantity);
        $("#id_comparisonpriceitem_set-"+suffix+"-unit").val(unit);        
    }else{
        $("#id_comparisonpriceitem_set-"+suffix+"-item").val("");
        $("#id_comparisonpriceitem_set-"+suffix+"-quantity").val("");
        $("#id_comparisonpriceitem_set-"+suffix+"-unit").val("");
    }

  });
  
  $(function () {
    $("#id-form-distributor").autocomplete({
        source: '{% url "autocompalteDistributor" %}',
        minLength: 1,
    });
});

function searchDataDistributor(){
    if($('#id-form-distributor').val() != ""){
        var str = $('#id-form-distributor').val();
        var items = str.split( "-" );
        var idInput = items[0];
        // Create Ajax Call
        if(idInput){
            //set id_distributor
            $("#id_distributor").val(idInput);
            $.ajax({
            url: '{% url "searchDataDistributor" %}',
            data: {
                    'id_distributor': idInput,
                },
            dataType: 'json',
            success: function (data) {
                if (data.credit) {
                    //set id_credit , id_vat_type
                    $("#id_credit").val(data.credit);
                    $("#id_vat_type").val(data.vat_type);
                }
            }
            });
        }
        return false;
    }

  }

function setDataDistributor(){
    if($('#id_distributor').val() != ""){
        var idInput = $('#id_distributor').val();
        // Create Ajax Call
        if(idInput){
            $.ajax({
                url: '{% url "setDataDistributor" %}',
                data: {
                    'id_distributor': idInput,
                },
                dataType: 'json',
                success: function (data) {
                    if (data.val) {
                        //set id_credit , id_vat_type
                        $('#id-form-distributor').val(data.val);
                    }
                }
            });
        }
        return false;
    }

}

  /*
  $(".distributor" ).change(function() {
    // get data id ของ option data list
    var str = $("#id-form-distributor").val();
    var items = str.split( "-" );
    var id = items[items.length - 2];
    $("#id_distributor").val(id);
    var credit = $('#idDistributorList option[data-id='+id+']').attr('data-credit');
    $("#id_credit").val(credit);

    var vat_type = $('#idDistributorList option[data-id='+id+']').attr('data-vat_type');
    $("#id_vat_type").val(vat_type);
  });
  */

</script>
{% endblock %}