{% extends 'layouts.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load templatehelpers %}
{% load humanize %}

{% block css %}
<style>
  #loading {
      display: none; /* Initially hidden */
      position: fixed;
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.8);
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 24px;
  }
</style>
{% endblock %}

{% block content %}
<div class="container my-3">
<h3 align="center">ใบจ่ายสินค้าภายใน - อะไหล่ Express</h3>
<div class="card my-3 bg-light div-shadow">
  <div class="card-body">
    <form method="get">
      {% csrf_token %}
      <div class="form-row">
        <div class="form-group col-md-2 mb-0">
          {{ filter.form.docnum|as_crispy_field }}
        </div>
        <div class="form-group col-md-3 mb-0">
          {{ filter.form.depcod|as_crispy_field }}
        </div>
        <div class="form-group col-md-3 mb-0">
          {{ filter.form.depname|as_crispy_field }}
        </div>
        <div class="form-group col-md-4 mb-0">
          {{ filter.form.note2|as_crispy_field }}
        </div>
        <div class="form-group col-md-3 mb-0">
          {{ filter.form.note3|as_crispy_field }}
        </div>                
        <div class="form-group col-md-4 mb-0">
          {{ filter.form.remark|as_crispy_field }}
        </div>
        <div class="form-group col-md-2 mb-0">
          {{ filter.form.start_created|as_crispy_field }}
        </div>
        <div class="form-group col-md-2 mb-0">
          {{ filter.form.end_created|as_crispy_field }}
        </div>
        <div class="form-group col-md-1 mb-0">
          <div>
            <label for=""></label>
            <div class="my-2">
              <button type="submit" class="btn btn-info">กรอง<i class="fas fa-filter"></i></button>
            </div>
          </div>
        </div>
      </div>
    </form>
    <div class="row">
        <div class="col">
          <!-- a class="btn btn-success" href="{% url 'exportExcelByExpense' %}?{{request.GET.urlencode}}">รายงานสรุปค่าใช้จ่ายพัสดุ PO <i class="fas fa-file-excel"></i></a-->

          <button id="iv_download-btn" class="btn" style="position: relative; overflow: hidden; background-color:#24493d;color:white;">
            <span id="iv_btn-text">รายงานสรุปค่าใช้จ่ายพัสดุ <i class="far fa-file-excel"></i></span>
              <div id="iv_btn-progress" 
                style="position: absolute; left: 0; top: 0; height: 100%; width: 0%; 
                background: rgba(255,255,255,0.4); transition: width 0.1s;"></div>
              <span id="iv_btn-percent" style="position: absolute; left: 50%; top: 50%; 
                transform: translate(-50%, -50%); font-weight: bold; display: none;">
                0%
              </span>
          </button>
          <button id="er_download-btn" class="btn" style="position: relative; overflow: hidden; background-color:#376e5b;color:white;">
            <span id="er_btn-text">รายงานสรุปค่าใช่จ่ายทะเบียนรถทั้งหมด <i class="far fa-file-excel"></i></span>
              <div id="er_btn-progress" 
                style="position: absolute; left: 0; top: 0; height: 100%; width: 0%; 
                background: rgba(255,255,255,0.4); transition: width 0.1s;"></div>
              <span id="er_btn-percent" style="position: absolute; left: 50%; top: 50%; 
                transform: translate(-50%, -50%); font-weight: bold; display: none;">
                0%
              </span>
          </button>
          <button id="rr_download-btn" class="btn" style="position: relative; overflow: hidden; background-color:#49937a;color:white;">
            <span id="rr_btn-text">รายงานสรุปตามทะเบียนรถและประเภทการซ่อม <i class="far fa-file-excel"></i></span>
              <div id="rr_btn-progress" 
                style="position: absolute; left: 0; top: 0; height: 100%; width: 0%; 
                background: rgba(255,255,255,0.4); transition: width 0.1s;"></div>
              <span id="rr_btn-percent" style="position: absolute; left: 50%; top: 50%; 
                transform: translate(-50%, -50%); font-weight: bold; display: none;">
                0%
              </span>
          </button>
        </div>
    </div>
  </div>
</div>
<div class="card div-shadow">
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-striped my-3">
        <thead class="thead-dark">
          <tr>
            <th scope="col">เลขที่เอกสาร</th>
            <th scope="col">วันที่จ่าย</th>
            <th scope="col">สินค้า</th>
            <th scope="col">exp คชจ.</th>
            <th scope="col">แผนกคชจ.</th>
            <th scope="col">หมายเหตุ</th>
            <th scope="col">จำนวนเงิน</th>
            <th scope="col">ประเภทการซ่อม</th>
            <th scope="col">เลขที่ใบแจ้งซ่อม</th>
          </tr>
        </thead>
        <tbody>
        {% for oi in ois %}
          <tr>
            <th scope="row"><a href="">{{oi.docnum}}</a></th>
            <td>{{oi.docdat |date:"d/m/Y" }}</td>
            <td>{{oi.get_items|safe }}</td>
            <td>{{oi.depcod}}</td>
            <td>{{oi.get_depnam}}</td>
            <td>{{oi.remark}}</td>
            <td class="text-right">{{oi.get_total_price | intcomma}}</td>
            <td>{% if oi.get_repair %}{{oi.get_repair}}{%else%}{{oi.note2}}{%endif%}</td>
            <td>{{oi.note3}}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
      <br/>
      <!--Pagination-->
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
        {% if ois.has_previous %}
            <li class="page-item">
            <a class="page-link" href="{% my_url ois.previous_page_number 'page' request.GET.urlencode %}">Previous</a>
          </li>
        {% else %}
            <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
          </li>
        {% endif %}

        {% if ois.number|add:'-4' > 1 %}
            <li class="page-item"><a class="page-link" href="{% my_url ois.number|add:'-5' 'page' request.GET.urlencode %}">&hellip;</a></li>
        {% endif %}

        {% for i in ois.paginator.page_range %}
            {% if ois.number == i %}
                <li class="page-item active" aria-current="page">
              <span class="page-link">
                {{ i }}
                <span class="sr-only">(current)</span>
              </span>
            </li>
            {% elif i > ois.number|add:'-5' and i < ois.number|add:'5' %}
                 <li class="page-item"><a class="page-link" href="{% my_url i 'page' request.GET.urlencode %}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}

        {% if ois.paginator.num_pages > ois.number|add:'4' %}
           <li class="page-item"><a class="page-link" href="{% my_url ois.number|add:'5' 'page' request.GET.urlencode %}">&hellip;</a></li>
        {% endif %}

        {% if ois.has_next %}
            <li class="page-item">
            <a class="page-link"  href="{% my_url ois.next_page_number 'page' request.GET.urlencode %}">Next</a>
          </li>
        {% else %}
            <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
          </li>
        {% endif %}
      </ul>
    </nav>
    <!--end of Pagination-->
</div>
{% endblock%}
{% block javascript %}
<script>
  function progress_bar(btn, btnText, btnProgress, btnPercent, py_url, file_name, delay_time){
    btn.disabled = true;
    btnText.style.visibility = "hidden";
    btnPercent.style.display = "block";
    btnProgress.style.width = "0%";
    btnPercent.innerText = "0%";

    let fakeProgress = 0;
    let timer = setInterval(() => {
        if (fakeProgress < 95) {
            fakeProgress++;
            btnProgress.style.width = fakeProgress + "%";
            btnPercent.innerText = fakeProgress + "%";
        }
    }, delay_time);

    fetch(py_url)
        .then(response => {
            if (!response.ok) throw new Error("Server error");
            return response.blob();
        })
        .then(blob => {
            clearInterval(timer);
            btnProgress.style.width = "100%";
            btnPercent.innerText = "100%";

            const downloadUrl = window.URL.createObjectURL(blob);
            const a = document.createElement("a");
            a.href = downloadUrl;
            a.download = file_name;
            document.body.appendChild(a);
            a.click();
            a.remove();

            setTimeout(() => {
                btn.disabled = false;
                btnText.style.visibility = "visible";
                btnPercent.style.display = "none";
                btnProgress.style.width = "0%";
            }, 1000);
        })
        .catch(err => {
            clearInterval(timer);
            console.error(err);
            alert("ไม่มีข้อมูลจากวันที่เลือก กรุณาเลือกวันที่ กดกรอง และดาว์นโหลดไฟล์อีกครั้ง");
            btn.disabled = false;
            btnText.style.visibility = "visible";
            btnPercent.style.display = "none";
            btnProgress.style.width = "0%";
        });
  }

  document.getElementById('iv_download-btn').addEventListener('click', () => {
    const btn = document.getElementById('iv_download-btn');
    const btnText = document.getElementById('iv_btn-text');
    const btnProgress = document.getElementById('iv_btn-progress');
    const btnPercent = document.getElementById('iv_btn-percent');

    const queryString = "{{ request.GET.urlencode|escapejs }}";
    const py_url = "{% url 'exportExcelByIVExpense' %}" + (queryString ? "?" + queryString : "");
    const file_name = "agency_expense_report_("+'{{ request.session.company_code }}'+").xlsx";

	  const delay_time = 50;
    progress_bar(btn, btnText, btnProgress, btnPercent, py_url, file_name, delay_time)
  });

  document.getElementById('er_download-btn').addEventListener('click', () => {
    const btn = document.getElementById('er_download-btn');
    const btnText = document.getElementById('er_btn-text');
    const btnProgress = document.getElementById('er_btn-progress');
    const btnPercent = document.getElementById('er_btn-percent');

    const queryString = "{{ request.GET.urlencode|escapejs }}";
    const py_url = "{% url 'exportToExcelAllExpensesRegistration' %}" + (queryString ? "?" + queryString : "");
    const file_name = "expenses_registration_("+'{{ request.session.company_code }}'+").xlsx";

	  const delay_time = 100;
    progress_bar(btn, btnText, btnProgress, btnPercent, py_url, file_name, delay_time)
  });

  document.getElementById('rr_download-btn').addEventListener('click', () => {
    const btn = document.getElementById('rr_download-btn');
    const btnText = document.getElementById('rr_btn-text');
    const btnProgress = document.getElementById('rr_btn-progress');
    const btnPercent = document.getElementById('rr_btn-percent');

    const queryString = "{{ request.GET.urlencode|escapejs }}";
    const py_url = "{% url 'exportToExcelRegistrationAndRepair' %}" + (queryString ? "?" + queryString : "");
    const file_name = "registration_repair_("+'{{ request.session.company_code }}'+").xlsx";

	  const delay_time = 100;
    progress_bar(btn, btnText, btnProgress, btnPercent, py_url, file_name, delay_time)
  });
</script>
{% endblock%}