{% extends 'layouts.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load static %}
{% load widget_tweaks %}
{% load humanize %}

{% block css %}
<style>
  @media print {
  .hidden-print {
    display: none;
  }

  @page {
    margin: 0mm 10mm 0mm 0mm;
    }
    body {
        font-size: 10pt;
        font-family: serif;
        color: black;
        float: right;
    }
}
u.dotted {
  border-bottom: 1px dashed #999;
  text-decoration: none;
}

</style>
{% endblock %}

{% block content %}
<div class="container my-3">
  <form method="post">
    <!-- {% crispy form %} -->
    {% csrf_token %}
    <div class="row my-2">
      {% if pr.address_company %}
        <div class="col col-md-2">
          <img src="/media/{{pr.address_company.logo}}" class="rounded float-left" width="120" height="120"/>
        </div>
        <div class="text-left col">
          <description>
            <strong>{{pr.address_company.name_eng}}</strong>
            <br>{{pr.address_company.name_th}}
            <br>{{pr.address_company.address}}
            <br>{% if pr.address_company.tel %}โทร {{pr.address_company.tel}}{%endif%}{% if pr.address_company.tex %} เลขที่ผู้เสียภาษี {{pr.address_company.tex}}{%endif%}{% if pr.address_company.branch %} สาขา{{pr.address_company.branch}}{%endif%}
          </description>
        </div>
      {% else %}
        <div class="col col-md-2">
          <img src="/media/{{company.address.logo}}" class="rounded float-left" width="120" height="120"/>
        </div>
        <div class="text-left col">
          <description>
            <strong>{{company.address.name_eng}}</strong>
            <br>{{company.address.name_th}}
            <br>{{company.address.address}}
            <br>{% if company.address.tel %}โทร {{company.address.tel}}{%endif%}{% if company.address.tex %} เลขที่ผู้เสียภาษี {{company.address.tex}}{%endif%}{% if company.address.branch %} สาขา{{company.address.branch}}{%endif%}
          </description>
        </div>
      {%endif%}
    </div>
    <h3 align="center">ใบขอซื้อ/ใบขอซ่อม</h3>
    <div class="row">
        <div class="col invoice-title text-left">
          <h5>รหัสใบขอเบิก # <u><a href="{% url 'showRequisition' requisition.id 4 %}">{{requisition.ref_no}}</a></u></h5>
        </div>
        <div class="col invoice-title text-right">
          <h5>รหัสใบขอซื้อ # {{pr.ref_no}}
          {% if requisition.memorandum_pdf %}
            {% ifchanged requisition.memorandum_pdf %}
              <a href="/media/{{requisition.memorandum_pdf}}" class="btn btn-outline-success btn-sm hidden-print"><i class="fas fa-file-download"></i> เอกสารแนบ</a>
            {% endifchanged %}
          {% endif %}
        </h5>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-12">
      <div class="row">
        <div class="col-4">
          <description>
          <strong>ผู้ขอซื้อ/ขอซ่อม: </strong>{{requisition.chief_approve_user_name}}
          <br>
          <br>
          </description>
        </div>
        <div class="col-4 text-center">
            <description>
              <strong>แผนก: </strong>{{requisition.section}}<br>
              <br>
            </description>
          </div>
        <div class="col-4 text-right">
          <description>
            <strong>วันที่ขอซื้อ: </strong>
            {% if pr.created %}
              {{ pr.created | date:"d/m/Y" }}
            {% else %}
              {% now "d/m/Y" %}
            {% endif %}
            <br>
            <br>
          </description>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
            <!-- div class="panel-heading">
                <h3 class="panel-title">
                  <strong>รายการใบขอซื้อ</strong>
                </h3>
            </div -->
        <div class="panel-body">
          <div class="table-responsive">
            <table id="userTable" class="table table-bordered">
              <thead>
                <tr>
                    <td class="text-center"><strong>ลำดับที่</strong></td>
                    <td><strong>รหัสวัสดุ/อุปกรณ์</strong></td>
                    <td class="text-center"><strong>รายการ</strong></td>
                    <td class="text-center"><strong>รายละเอียด/ประเภทการซ่อม</strong></td>
                    <td class="text-center"><strong>จำนวน</strong></td>
                    <td class="text-center"><strong>หน่วย</strong></td>
                    <td class="text-center"><strong>ทะเบียนรถ/ เครื่องจักร/ หน่วยงาน</strong></td>
                    <td class="text-center"><strong>วันที่ต้องการ</strong></td>
                    <td class="text-center"><strong>ระดับความเร่งด่วน</strong></td>
                    
                </tr>
              </thead>
              <tbody>
                {% for item in items %}
                <tr>
                    <td class="text-center">{{ forloop.counter }}</td>
                    <td class="text-center">
                      <input type='hidden' value='{{item.id}}' name='id'>
                      <input id="product" name="product" type="text" list="idExpresslist" Placeholder="ค้นหารหัส express..." class="form-control" style="width:190px;" autocomplete="off" value="{{item.product.id}}" required>
                      <datalist id="idExpresslist">
                      {% for results in baseProduct %}
                        <option value="{{results.id}}">{{results.name}}</option>
                      {% endfor %}
                      </datalist>
                    </td>
                    <td name="name">{{item.product_name}}</td>
                    <td name="description">{{item.description}}</td>
                    <td class="text-center" name="quantity">{{item.quantity_pr |floatformat:"-4"}}</td>
                    <td class="text-center" name="unit">
                      {{item.unit}}
                    </td>
                    <td name="machine">{%if item.requisit.car %}{{item.requisit.car}}{%else%}{{item.machine}}{%endif%}</td>
                    <td class="text-center" name="desireddate">{{item.desired_date | date:"d/m/Y"}}</td>
                    <td class="text-center" name="urgency">
                      {% for bu in baseUrgency %}
                        {% if item.urgency == bu.id %}
                          {{bu.name}}
                        {% endif %}
                      {% endfor %}
                    </td>
                </tr>
                {% empty %}
                <tr>
                  <td colspan="9" class="text-center">
                    <div class="alert alert-warning" role="alert">
                      ไม่มีสินค้า
                    </div>
                  </td>
                </tr>
                {% endfor %}
                <tr>
                  <td colspan="4" class="text-right">รวมรายการขอซื้อ</td>
                  <td class="text-center">{{items | length}}</td>
                  <td class="text-center">รายการ</td>
                  <td colspan="3" class="text-center"></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="row my-2">
            <div class="col-2 text-danger">{{ form.organizer.label}}</div>
            <div class="col">{{ form.organizer | add_class:"form-control is-invalid" }}</div>
          </div>
          <div class="row my-2">
            <div class="col-2 text-danger">{{ form.approver_user.label}}</div>
            <div class="col">{{ form.approver_user | add_class:"form-control is-invalid" }}</div>
          </div>
          <div class="row">
            <div class="card-group col">
              <div class="card col">
                <div class="card-body">
                  <strong>หมายเหตุ: </strong>
                    {{ form.note }}
                    {{ form.branch_company }}
                </div>
              </div>
              <div class="card col-4">
                <div class="card-body">
                  <h5 class="card-title">ระดับความเร่งด่วน</h5>
                  <p class="card-text">A = ภายใน 48 ชม.&emsp;B = 3-5 วัน<br>C = 7 วัน&emsp;&emsp;&emsp;&emsp;&emsp;D = 15 วัน</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="card-group col">
              <div class="card">
                <div class="card-body">
                  {% if pr.stockman_user %}
                    <h5 class="card-title">เจ้าหน้าที่พัสดุ
                      <img src="/media/{{pr.stockman_user.userprofile.signature}}" width="100" height="40" style="border-bottom: 1px dashed #999;text-decoration: none;" />
                    </h5>
                    <p class="card-text">{{pr.stockman_user.first_name}} ตำแหน่ง {{pr.stockman_user.userprofile.position}}</p>
                    <div class="row">
                      <div class="col-sm-8">
                        <p class="card-text">วันที่ {{pr.stockman_update | date:"d/m/Y"}}</p>
                      </div>
                    </div>
                  {% else %}
                    <h5 class="card-title">เจ้าหน้าที่พัสดุ
                      <img src="/media/{{request.user.userprofile.signature}}" width="100" height="40" style="border-bottom: 1px dashed #999;text-decoration: none;" />
                    </h5>
                    <p class="card-text">{{request.user.first_name}} ตำแหน่ง {{request.user.userprofile.position}}</p>
                    <div class="row">
                      <div class="col-sm-8">
                        <p class="card-text">วันที่ </p>
                      </div>
                    </div>
                  {% endif %} 
                </div>
              </div>
              <div class="card">
                <div class="card-body">
                  {% if pr.purchase_user %}
                    <!-- 2 คืออนุมัติจะแสดงลายเซ็น-->
                    {% if pr.purchase_status_id == 2 %}
                      <h5 class="card-title">ผู้ขอซื้อ/ขอซ่อม
                        <img src="/media/{{pr.purchase_user.userprofile.signature}}" width="100" height="40" style="border-bottom: 1px dashed #999;text-decoration: none;"/>
                      </h5>
                    {% else %}
                      <h5 class="card-title">ผู้ขอซื้อ/ขอซ่อม
                          #{{pr.purchase_status}}
                      </h5>
                    {% endif %}
                    <p class="card-text">{{pr.purchase_user.first_name}} ตำแหน่ง {{pr.purchase_user.userprofile.position}}</p>
                    <div class="row">
                      <div class="col-sm-8">
                        <p class="card-text">วันที่ {{pr.purchase_update | date:"d/m/Y"}}</p>
                      </div>
                    </div>
                  {% else %}
                      <h5 class="card-title">ผู้ขอซื้อ/ขอซ่อม
                        #รอดำเนินการ
                    </h5>
                    <p class="card-text">{{requisition.chief_approve_user_name.first_name}} ตำแหน่ง {{requisition.chief_approve_user_name.userprofile.position}}</p>
                    <div class="row">
                      <div class="col-sm-8">
                        <p class="card-text">วันที่ </p>
                      </div>
                    </div>
                  {% endif %}
                </div>
              </div>
              <div class="card">
                <div class="card-body">
                  <!-- 2 คืออนุมัติจะแสดงลายเซ็น-->
                  {% if pr.approver_status_id == 2 %}
                    <h5 class="card-title">ผู้อนุมัติ
                      <img src="/media/{{pr.approver_user.userprofile.signature}}" width="100" height="40" style="border-bottom: 1px dashed #999;text-decoration: none;"/>
                    </h5>
                  {% else %}
                    <h5 class="card-title">ผู้อนุมัติ
                      #{{pr.approver_status}}
                    </h5>
                  {% endif %}
                  <p class="card-text">{{pr.approver_user.first_name}} ตำแหน่ง {{pr.approver_user.userprofile.position}}</p>
                  <div class="row">
                    <div class="col-sm-8">
                      <p class="card-text">วันที่ {{pr.approver_update | date:"d/m/Y"}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="invoice-title text-right my-2">
            <h6>{{bc.affiliated.iso_code.pr_code|safe}}</h6>
          </div>
          <div class="text-right my-2">
            <description id="dt_print"></description>
          </div>
            <div class="row my-2">
              <div class="col">
                <button type="submit" class="btn btn-primary hidden-print">
                  <i class="fas fa-save"></i>
                  {% if create_mode %}
                    บันทึก
                  {% else %}
                    บันทึกการแก้ไข
                  {% endif %}
                </button>
              </div>
              <div class="col-6 col-md-2 text-right">
                <button type="button" class="btn btn-outline-info pull-right hidden-print my-2" onclick="scrollToTop();setDateTimePrint();window.print();">
                  <i class="fas fa-print"></i>
                  ปริ้นใบขอซื้อ
                </button>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  </form>
  </div>
{% endblock %}
//script
{% block javascript %}
<script>
  function setDateTimePrint(){
  var currentdate = new Date();
  var datetime = "@ " + currentdate.toLocaleString('th-TH', { dateStyle: 'long', timeStyle: 'medium' })+ " (" + "{{request.user}}"+ ")";
  $("#dt_print").text(datetime);
  }
</script>
{% endblock %}