{% extends 'layouts.html' %}
{% load static %}

{% block content %}
<div class="container my-2">
  <h3 align="center">สร้างใบขอซื้อและใบจ่ายสินค้าภายใน</h3>
      {% if messages %}
          {% for message in messages %}
              <div class="alert {{ message.tags }} alert-dismissible my-3" role="alert" >
                <i class="fas fa-check-circle"></i>
                {{ message }}
              </div>
          {% endfor %}
      {% endif %}
    {% for requisition in requisitions%}
    <div class="card my-3">
        <h5 class="card-header alert-info">ใบขอเบิก #{{requisition.ref_no}}</h5>
        <div class="card-body">
          <h6 class="card-title">วันที่ตั้งเบิก {{requisition.created |date:"d/m/Y"}}</h6>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col" class="text-center">สินค้า</th>
                <th scope="col" class="text-center">จำนวนที่ออกใบขอซื้อ</th>
                <th scope="col" class="text-center">จำนวนที่ออกใบจ่ายสินค้าภายใน</th>
              </tr>
            </thead>
            <tbody>
              {% for item in requisition.requisitionitem_set.all %}
              <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>{{ item.product_name }}</td>
                <td class="text-right">{{ item.quantity_pr |floatformat:"-4" }}</td>
                <td class="text-right">{% if requisition.agency.id == 1 %}{{ item.quantity_take |floatformat:"-4" }}{%else%}0{%endif%}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <p class="card-text">ขอเบิกโดย {{requisition.name}} แผนก {{requisition.section}}</p>
          <a href="{%url 'CUInvoiceAndItem' requisition.id %}" class="btn btn-primary"><i class="fas fa-plus-circle"></i> สร้างใบขอซื้อและใบจ่ายสินค้าภายใน</a>
        </div>
    </div>
    {% empty %}
    <div class="alert alert-warning my-3" role="alert">
      ไม่มีใบขอเบิก
    </div>
    {% endfor %}
       <!--Pagination-->
       <nav aria-label="pagination">
        {% if requisitions.has_other_pages %}
        <ul class="pagination">
          {% if requisitions.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ requisitions.previous_page_number }}">&laquo;</a></li>
          {% else %}
            <li class="page-item disabled"><a class="page-link"><span>&laquo;</span></a></li>
          {% endif %}
          {% for i in requisitions.paginator.page_range %}
            {% if requisitions.number == i %}
              <li class="page-item active"><a class="page-link">{{ i }}<span class="sr-only">(current)</span></a></li>
            {% else %}
              <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
          {% endfor %}
          {% if requisitions.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ requisitions.next_page_number }}">&raquo;</a></li>
          {% else %}
            <li class="page-item disabled"><a class="page-link"><span>&raquo;</span></a></li>
          {% endif %}
        </ul>
      {% endif %}
    </nav>
    <!--end of Pagination-->
</div>
{% endblock%}