{% extends 'layouts.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% load humanize %}

{% block css %}
<style>
  @media print {
  .hidden-print {
    display: none;
  }

    @page {
      margin: 0mm 10mm 0mm 0mm;
      }
      body {
          font-size: 10pt;
          font-family: serif;
          color: black;
          float: right;
      }
}
u.dotted {
  border-bottom: 1px dashed #999;
  text-decoration: none;
}

@media print { 
  table.table-bordered{
    border:1px solid black;
    margin-top:20px;
  }
  table.table-bordered > thead > tr > th{
      border:1px solid black;
  }
  table.table-bordered > tbody > tr > td{
      border:1px solid black;
  }
}

.verybigmodal {
    max-width: 80%;
}
</style>
{% endblock %}

{% block content %}
<div class="container my-3">
    <div class="row my-2">
      <div class="col col-md-2">
        <img src="/media/{{pr.address_company.logo}}" class="rounded float-left" width="120" height="120"/>
      </div>
      <div class="text-left col">
          <description>
            <strong>{{pr.address_company.name_eng}}{% if isPurchasing or isSupplies %}  <button type="button" class="btn btn-outline-dark d-print-none btn-sm" data-toggle="modal" data-target="#addressCompany"><i class="fas fa-cog"></i></button>{%endif%}</strong>
            <br>{{pr.address_company.name_th}}
            <br>{{pr.address_company.address}}
            <br>{% if pr.address_company.tel %}โทร {{pr.address_company.tel}}{%endif%}{% if pr.address_company.tex %} เลขที่ผู้เสียภาษี {{pr.address_company.tex}}{%endif%}{% if pr.address_company.branch %} สาขา{{pr.address_company.branch}}{%endif%}
          </description>
      </div>
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% if isReApprove %}
        <div class="col d-print-none">
              <div class="pdf">
                {% if form.memorandum_pdf.errors %}
                  <div class="alert alert-warning" role="alert">
                      {{ form.memorandum_pdf.errors }}
                  </div>
                {% endif %}
                เอกสารแนบ {{form.memorandum_pdf | add_class:"form-control text-right"}}
              </div>
              <button type="submit" name="btnformR" class="btn btn-primary my-1">
                <i class="fas fa-save"></i>
                บันทึก
              </button>
        </div>
        {%endif%}
        <div class="modal fade" id="addressCompany" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">แก้ไขที่อยู่ตามจดทะเบียน</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                {{pr_form.address_company | add_class:"form-control"}}
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">ปิด</button>
                <button type="submit" name="btnformPR" class="btn btn-primary">บันทึกการแก้ไข</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <h3 align="center">ใบขอซื้อ/ใบขอซ่อม</h3>
    <div class="row">
      <div class="col invoice-title text-left">
        <h5>รหัสใบขอเบิก # <u><a href="{% url 'showRequisition' requisition.id 4 %}">{{requisition.ref_no}}</a></u></h5>
      </div>
      <div class="col invoice-title text-right">
        <h5>รหัสใบขอซื้อ # {{pr.ref_no}}
          {% if requisition.memorandum_pdf %}
            {% ifchanged requisition.memorandum_pdf %}
              <a href="/media/{{requisition.memorandum_pdf}}" class="btn btn-outline-success btn-sm hidden-print"><i class="fas fa-file-download"></i> เอกสารแนบ</a>
            {% endifchanged %}
          {% endif %}
        </h5>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-12">
      <div class="row">
        <div class="col-md-4">
          <description>
          <strong>ผู้ขอซื้อ/ขอซ่อม: </strong>{{requisition.chief_approve_user_name}}
          <br>
          <br>
          </description>
        </div>
        <div class="col-md-4 text-center">
            <description>
              <strong>แผนก: </strong>{{requisition.section}}<br>
              <br>
            </description>
          </div>
        <div class="col-md-4 text-right">
          <description>
            <strong>วันที่ขอซื้อ: </strong>
            {% if pr.created %}
              {{ pr.created | date:"d/m/Y" }}
            {% else %}
              {% now "d/m/Y" %}
            {% endif %}
            <br>
            <br>
          </description>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
            <!-- div class="panel-heading">
                <h3 class="panel-title">
                  <strong>รายการใบขอซื้อ</strong>
                </h3>
            </div-->
        <div class="panel-body">
          <div class="table-responsive">
            <table id="userTable" class="table table-bordered">
              <thead>
                <tr>
                    <td class="text-center"><strong>ลำดับที่</strong></td>
                    <form class="form-inline ml-3" id="search" method="GET">
                      <td class="text-center" style="cursor: pointer;" onclick="searchLastPoItem()" data-target="#myEdit" data-toggle="modal">
                        <strong>รหัสวัสดุ/อุปกรณ์ <i class="fas fa-list text-danger d-print-none"></i></strong>
                      </td>
                    </form>
                    <td class="text-center"><strong>รายการ</strong></td>
                    <td class="text-center"><strong>วัตุประสงค์/เหตุผล</strong></td>
                    <td class="text-center"><strong>จำนวน</strong></td>
                    <td class="text-center"><strong>หน่วย</strong></td>
                    <td class="text-center"><strong>ใช้ในระบบงาน(เครื่องจักร)</strong></td>
                    <td class="text-center"><strong>วันที่ต้องการ</strong></td>
                    <td class="text-center"><strong>ระดับความเร่งด่วน</strong></td>
                </tr>
              </thead>
              <tbody>
                {% for item in items %}
                <tr>
                    <td class="text-center">{{ forloop.counter }}</td>
                    <td class="text-center">{{item.product.id}}</td>
                    <td name="name">{{item.product_name}}</td>
                    <td name="description">{{item.description}}</td>
                    <td class="text-center" name="quantity">{{item.quantity_pr |floatformat:"-4"}}</td>
                    <td class="text-center" name="unit">
                      {{item.unit}}
                    </td>
                    <td name="machine">{{item.machine}}</td>
                    <td name="desireddate">{{item.desired_date | date:"d/m/Y"}}</td>
                    <td class="text-center" name="urgency">
                      {% for bu in baseUrgency %}
                        {% if item.urgency == bu.id %}
                          {{bu.name}}
                        {% endif %}
                      {% endfor %}
                    </td>
                </tr>
                {% empty %}
                <tr>
                  <td colspan="9" class="text-center">
                    <div class="alert alert-warning" role="alert">
                      ไม่มีสินค้า
                    </div>
                  </td>
                </tr>
                {% endfor %}
                <tr>
                  <td colspan="4" class="text-right">รวมรายการขอซื้อ</td>
                  <td class="text-center">{{items | length}}</td>
                  <td class="text-center">รายการ</td>
                  <td colspan="3" class="text-center"></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="row">
            <div class="card-group col">
              <div class="card col">
                <div class="card-body">
                  <strong>หมายเหตุ: </strong>
                  <u class="dotted">
                    {{ pr.note }}
                  </u>
                </div>
              </div>
              <div class="card col-4">
                <div class="card-body">
                  <h5 class="card-title">ระดับความเร่งด่วน</h5>
                  <p class="card-text">A = ภายใน 48 ชม.&emsp;B = 3-5 วัน<br>C = 7 วัน&emsp;&emsp;&emsp;&emsp;&emsp;D = 15 วัน</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="card-group col">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">เจ้าหน้าที่พัสดุ
                    <img src="/media/{{pr.stockman_user.userprofile.signature}}" width="100" height="40" style="border-bottom: 1px dashed #999;text-decoration: none;" />
                  </h5>
                  <p class="card-text">{{pr.stockman_user.first_name}} ตำแหน่ง {{pr.stockman_user.userprofile.position}}</p>
                  <div class="row">
                    <div class="col-sm-8">
                      <p class="card-text">วันที่ {{pr.stockman_update | date:"d/m/Y"}}</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-body">
                  <!-- 2 คืออนุมัติจะแสดงลายเซ็น-->
                  {% if pr.purchase_status_id == 2 %}
                    <h5 class="card-title">ผู้ขอซื้อ/ขอซ่อม
                      <img src="/media/{{pr.purchase_user.userprofile.signature}}" width="100" height="40" style="border-bottom: 1px dashed #999;text-decoration: none;"/>
                    </h5>
                  {% else %}
                    <h5 class="card-title">ผู้ขอซื้อ/ขอซ่อม
                        #{{pr.purchase_status}}
                    </h5>
                  {% endif %}
                  <p class="card-text">{{pr.purchase_user.first_name}} ตำแหน่ง {{pr.purchase_user.userprofile.position}}</p>
                  <div class="row">
                    <div class="col-sm-8">
                      <p class="card-text">วันที่ {{pr.purchase_update | date:"d/m/Y"}}</p>
                    </div>
                  </div>  
                </div>
              </div>
              <div class="card">
                <div class="card-body">
                      <!-- 2 คืออนุมัติจะแสดงลายเซ็น-->
                      {% if pr.approver_status_id == 2 %}
                        <h5 class="card-title">ผู้อนุมัติ
                          <img src="/media/{{pr.approver_user.userprofile.signature}}" width="100" height="40" style="border-bottom: 1px dashed #999;text-decoration: none;"/>
                        </h5>
                      {% else %}
                        <h5 class="card-title">ผู้อนุมัติ
                          #{{pr.approver_status}}
                        </h5>
                      {% endif %}
                      <p class="card-text">{{pr.approver_user.first_name}} ตำแหน่ง {{pr.approver_user.userprofile.position}}</p>
                      <div class="row">
                        <div class="col-sm-8">
                          <p class="card-text">วันที่ {{pr.approver_update | date:"d/m/Y"}}</p>
                        </div>
                      </div>  
                  </div>
                </div>  
                </div>
                </div>  
                </div>
              </div>
            </div>
          </div>
          <div class="invoice-title text-right my-2">
            <h6>{{bc.affiliated.iso_code.pr_code|safe}}</h6>
          </div>
          <div class="row my-2">
            <div class="col-6">
              {% if isReApprove %}
                <a class="btn btn-warning d-print-none" onclick="return confirm('คุณต้องการขอเปลี่ยนแปลงรายละเอียดรายการนี้หรือไม่ ?\n *** หากทำรายการนี้จะต้องทำการอนุมัติใหม่ทั้งหมด')" href="{%url 'reApprovePR'  pr.id %}" role="button"><i class="fas fa-edit"></i> ขอเปลี่ยนแปลงรายละเอียดรายการ</a>
              {% endif %}
            </div>
            <div class="col-6 text-right">
              {% if isRePr %}
                <a class="btn btn-success d-print-none" onclick="return confirm('คุณต้องการนำรายการนี้กลับมาหรือไม่ ?\n *** รายการใบขอซื้อนี้จะกลับไปที่หน้าสร้างใบเปรียบเทียบราคาหรือใบสั่งซื้อ')" href="{%url 'reBuyPR' pr.id %}" role="button"><i class="fas fa-redo"></i> นำรายการกลับมา</a>
              {% endif %}
              <button type="button" class="btn btn-outline-info pull-right hidden-print my-2" onclick="window.print();">
                <i class="fas fa-print"></i>
                ปริ้นใบขอซื้อ
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal Search-->
    <div class="modal fade" id="myEdit" role="dialog">
      <div class="modal-dialog modal-lg verybigmodal">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">รายการสินค้าที่ซื้อล่าสุด</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              <p id="pShowSearch"></p>
            </div>
          </div>
      </div>
    </div>
{% endblock %}
{% block javascript %}
<script type="text/javascript">
$('div.pdf a').addClass('btn btn-outline-success btn-sm');
$('div.pdf a').text('Download');

//ค้นหา 5 รายการล่าสุด
function searchLastPoItem(){
    var itemList = [];

    "{% for it in items %}"
        itemList.push('{{it.id}}');
    "{% endfor %}"

    if (itemList) {
        // Create Ajax Call
        $.ajax({
            url: '{% url "searchLastPoItem" %}',
            data: { itemList },
            dataType: 'json',
            success: function (data) {
              if (data.instance) {
                openModal(data.instance);
                e.preventDefault();
              }else{
                $("#pShowSearch").html('ไม่พบรายการที่สั่งซื้อล่าสุด');
              }
            }
        });
    } else {
      
    }
    return false;
}

function openModal(instance) {
  $("#pShowSearch").html(instance);
  $('#myEdit').modal('show');
}
</script>
{% endblock %}