{% extends 'layouts.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load templatehelpers %}

{% block content %}
<div class="container my-3">
{% if isPurchasing %}
  <h3 align="center">สร้างใบเปรียบเทียบราคาหรือใบสั่งซื้อจากใบขอซื้อ/ขอซ่อม</h3>
{% else %}
  <h3 align="center">ใบขอซื้อ/ขอซ่อม</h3>
{% endif %}

<div class="card my-3 bg-light div-shadow">
  <div class="card-body">
    <form method="get">
      {% csrf_token %}
      <div class="form-row">
        <div class="form-group col-md-1 mb-0">
          {{ filter.form.ref_no|as_crispy_field }}
        </div>
        <div class="form-group col-md-2 mb-0">
          {{filter.form.requisition__name|as_crispy_field}}
        </div>
        <div class="form-group col-md-2 mb-0">
          {{filter.form.purchase_user|as_crispy_field}}
        </div>
        <div class="form-group col-md-2 mb-0">
          {{filter.form.organizer|as_crispy_field}}
        </div>
        <div class="form-group col-md-2 mb-0">
          {{filter.form.start_created|as_crispy_field}}
        </div>
        <div class="form-group col-md-2 mb-0">
          {{filter.form.end_created|as_crispy_field}}
        </div>
        <div class="form-group col-md-1 mb-0">
          <div>
            <label for=""></label>
            <div class="my-2">
              <button type="submit" class="btn btn-info">กรอง<i class="fas fa-filter"></i></button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="card div-shadow">
  <div class="card-body">
    {% if isPurchasing %}
      * แสดงเฉพาะใบขอซื้อที่ได้รับการอนุมัติแล้ว
    {% else %}
    <a class="btn btn-primary btn-block" href="{%url 'preparePR' %}" role="button"><i class="fas fa-plus-square"></i> สร้างใบขอซื้อ</a>
    {% endif %}
    <div class="table-responsive">
      <table class="table table-striped my-3">
        <thead class="thead-dark">
          <tr>
            <th scope="col">รหัสใบขอซื้อ</th>
            <th scope="col">รหัสใบขอเบิก</th>
            <th scope="col">สินค้า</th>
            <th scope="col">เร่งด่วน</th>
            <th scope="col">ชื่อผู้ขอเบิก</th>
            <th scope="col">ชื่อผู้ขอซื้อ</th>
            <th scope="col">เจ้าหน้าที่จัดซื้อ</th>
            <th scope="col">วันที่ขอซื้อ</th>
            <!-- <th scope="col">ความเร่งด่วน</th> -->
            <th scope="col" colspan="2" class="text-center">Action</th>
          </tr>
        </thead>
        <tbody>
        {% for pr in prs %}
          <tr>
            <th scope="row"><a href="{% url 'showPR' pr.id 1 %}">{{pr.ref_no}}</a></th>
            <td><a href="{% url 'showRequisition' pr.requisition.id 1 %}">{{pr.requisition.ref_no}}</a></td>
            <td>
               {% for item in ri_not_used%}
                  {% if item.requisition_id ==  pr.requisition.id %}
                    <li>{{item.product_name}}</li>
                  {% endif %}
                {% endfor %}
            </td>
            <td>
              {% for item in ri_not_used%}
                {% if item.requisition_id ==  pr.requisition.id %}
                  {% for bu in baseUrgency %}
                    {% if item.urgency == bu.id %}
                      <li>{{bu.name}}</li>
                    {% endif %}
                  {% endfor %}
                {% endif %}
              {% endfor %} 
            </td>
            <td>{{pr.requisition.name}}</td>
            <td>{{pr.purchase_user}}</td>
            <td>{{pr.organizer}}</td>
            <td>{{pr.created |date:"d/m/Y"}}</td>
            <!-- <td class="text-center">{{pr.requisition.urgency.name}}</td> -->
            <td colspan="2">
              {% if isPurchasing %}
              <div style="display: flex;">
                <a href="{% url 'createCMorPO' pr.id %}" class="btn btn-warning btn-sm"><i class="fas fa-edit"></i> สร้างใบ CM/ใบ PO</a>
                <a href="{% url 'closePR' pr.id %}" onclick="return confirm('คุณต้องการปิดรายการนี้หรือไม่ ?\n *** รายการใบขอซื้อจะไปอยู่หน้า History ใช้ในกรณี\n 1. ดึงสินค้าไปทำรายการแล้ว แต่ระบบไม่นำใบขอซื้อออกอัตโนมัติ\n 2. รายการใบขอซื้อที่ไม่ต้องการซื้อแล้ว')" class="btn btn-secondary btn-sm">ปิดรายการ</a>             
              </div>
              {% else %}
                {% if pr.approver_status_id == 1 %}
                <div style="display: flex;">
                  <a href="{% url 'editPR' pr.id %}" class="btn btn-secondary btn-sm"><i class="fas fa-edit"></i> แก้ไข</a>
                  <a onclick="return confirm('คุณต้องการลบใบขอซื้อนี้หรือไม่ ?')" href="{% url 'removePR' pr.id %}" class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i> ลบ</a>
                </div>
                {% else %}
                  <button type="button"
                    class="btn btn-sm
                    {% if pr.purchase_status.id == 1 %}
                      btn-outline-warning
                    {% elif pr.purchase_status.id == 2 %}
                      btn-outline-success
                    {% elif pr.purchase_status.id == 3 %}
                      btn-outline-danger
                    {% endif %}" style="width:90px"
                    >{{pr.purchase_status}}</button>
                  <button type="button"
                    class="btn btn-sm
                    {% if pr.approver_status.id == 1 %}
                      btn-outline-warning
                    {% elif pr.approver_status.id == 2 %}
                      btn-outline-success
                    {% elif pr.approver_status.id == 3 %}
                      btn-outline-danger
                    {% endif %}" style="width:90px"
                    >{{pr.approver_status}}</button>
                {% endif %}
              {% endif %}
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
      <br/>
      <!--Pagination-->
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
        {% if prs.has_previous %}
            <li class="page-item">
            <a class="page-link" href="{% my_url prs.previous_page_number 'page' request.GET.urlencode %}">Previous</a>
          </li>
        {% else %}
            <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
          </li>
        {% endif %}

        {% if prs.number|add:'-4' > 1 %}
            <li class="page-item"><a class="page-link" href="{% my_url prs.number|add:'-5' 'page' request.GET.urlencode %}">&hellip;</a></li>
        {% endif %}

        {% for i in prs.paginator.page_range %}
            {% if prs.number == i %}
                <li class="page-item active" aria-current="page">
              <span class="page-link">
                {{ i }}
                <span class="sr-only">(current)</span>
              </span>
            </li>
            {% elif i > prs.number|add:'-5' and i < prs.number|add:'5' %}
                 <li class="page-item"><a class="page-link" href="{% my_url i 'page' request.GET.urlencode %}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}

        {% if prs.paginator.num_pages > prs.number|add:'4' %}
           <li class="page-item"><a class="page-link" href="{% my_url prs.number|add:'5' 'page' request.GET.urlencode %}">&hellip;</a></li>
        {% endif %}

        {% if prs.has_next %}
            <li class="page-item">
            <a class="page-link"  href="{% my_url prs.next_page_number 'page' request.GET.urlencode %}">Next</a>
          </li>
        {% else %}
            <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
          </li>
        {% endif %}
      </ul>
    </nav>
    <!--end of Pagination-->
</div>
{% endblock%}