{% extends 'layouts.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container my-3">
    <h2 align="center">ใบขอเบิก</h2>
    <div class="card bg-light">
        <div class="card-body">
            {% if form.memorandum_pdf.errors %}
            <div class="alert alert-warning" role="alert">
                {{ form.memorandum_pdf.errors }}
            </div>
            {% endif %}
            {% if form.name.errors %}
            <div class="alert alert-danger" role="alert">
                ชื่อผู้ขอตั้งเบิก {{ form.name.errors }}
            </div>
            {% endif %}
            {% if form.chief_approve_user_name.errors %}
            <div class="alert alert-danger" role="alert">
                ชื่อหัวหน้างาน {{ form.chief_approve_user_name.errors }}
            </div>
            {% endif %}
            <form method="post" enctype="multipart/form-data">
                <label for="id_name" class=" requiredField">
                    ชื่อผู้ขอตั้งเบิก<span class="asteriskField">*</span>
                </label>
                <input id="rName" name="rName" type="text" list="idRequestNameList" class="form-control" Placeholder="ค้นหาชื่อผู้ขอตั้งเบิก ..." class="form-control" autocomplete="off" required>
                <datalist id="idRequestNameList">
                    {% for results in requestName %}
                        <option data-id="{{results.id}}" value="{{results.first_name}} {{results.last_name}}"></option>
                    {% endfor %}
                </datalist>
                <label for="id_name" class=" requiredField my-3">
                    ชื่อหัวหน้างาน<span class="asteriskField">*</span>
                </label>
                <input id="cName" name="cName" type="text" list="idChiefNameList" class="form-control" Placeholder="ค้นหาชื่อหัวหน้างาน ..." class="form-control" autocomplete="off" required>
                <datalist id="idChiefNameList">
                    {% for cResults in chiefName %}
                        <option data-id="{{cResults.id}}" value="{{cResults.first_name}} {{cResults.last_name}}"></option>
                    {% endfor %}
                </datalist>
                <p>{{ form | crispy}}</p>
                {% csrf_token %}
                <button type="submit" class="btn btn-primary hidden-print">
                    <i class="fas fa-save"></i>
                    บันทึก
                </button>
            </form>
        </div>
      </div>
</div>

{% endblock%}
{% block javascript %}
<script>
 //ผู้ขอตั้งเบิก
 $("#rName").change(function() {
    // get data id ของ option data list
    var val = $("#rName").val();
    var id = $("#idRequestNameList option[value='"+val+"']").attr('data-id');

    //set value to form.item
    $("#id_name").val(id);
  });

  //หัวหน้างาน
  $("#cName").change(function() {
    // get data id ของ option data list
    var val = $("#cName").val();
    var id = $("#idChiefNameList option[value='"+val+"']").attr('data-id');

    //set value to form.item
    $("#id_chief_approve_user_name").val(id);
  });
</script>
{% endblock%}