{% extends 'layouts.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container my-3">
    <h2 align="center">ใบขอเบิก</h2>
    <div class="card bg-light">
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                <p>{{ form | crispy}}</p> 
                {% csrf_token %}
                <button type="submit" class="btn btn-primary hidden-print">
                    <i class="fas fa-save"></i>
                    บันทึก
                </button>
            </form>
        </div>
      </div>
</div>

{% endblock%}
{% block javascript %}
<script>
$(function() {
    /*
    if($("#id_name").val() == "")
        alert("emty");
    else
        alert("have val");
    */
}); 
</script>
{% endblock%}