{% extends 'layouts.html' %}
{% load crispy_forms_tags %}
{% load humanize %}
{% load static %}
{% load widget_tweaks %}
{% load templatehelpers %}
{% block css %}
<!-- Select2 CSS -->
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet">

<style>
    /* When inside col-12 */
    .form-group .select2-container .select2-selection--single {
        width: 55.5vw !important;
    }

    /* When inside col-6 */
    .col-md-6 .select2-container .select2-selection--single {
        width: 27.4vw !important;
    }

    /* Adjust the Select2 container */
    .select2-container .select2-selection--single {
        height: 37px !important;
        line-height: 50px !important;
        padding: 5px 12px;
        border-radius: 4px;
        border: 1px solid #ced4da;
    }

    /* Adjust the dropdown arrow height and alignment */
    .select2-container .select2-selection--single .select2-selection__arrow {
        height: 37px !important;
        top: 0;
        right: 6px;
    }

    /* Ensure dropdown menu adapts properly */
    .select2-container .select2-dropdown {
        border-radius: 4px;
        border: 1px solid #ced4da;
    }

    /* Align the clear button */
    .select2-container .select2-selection__clear {
        line-height: 37px !important;
    }

    .custom-control-label::before{
        background-color:lightblue;
        width: 1.85rem;
        height: 1.85rem;
    }
    .custom-control-label::after {
        width: 1.85rem;
        height: 1.85rem;
    }

    .big-checkbox{
        width: 16px; /* Adjust the width as needed */
        height: 16px; /* Adjust the height as needed */
        transform: scale(1.15); /* Adjust the scale as needed */
        -webkit-transform: scale(1.15); /* For Safari and Chrome */
        -moz-transform: scale(1.15); /* For Firefox */
        -ms-transform: scale(1.15); /* For Internet Explorer */
        -o-transform: scale(1.15); /* For Opera */
    }

    .inline-checkboxes{
        display: inline-block;
        margin-right: 15px; /* Adjust spacing as needed */
    }

    .radio-inline {
        display: inline-flex;
        gap: 30px;           /* ← spacing between options */
        padding: 1px;     /* remove default <ul> padding */
        margin: 2px;
        border: 1px solid #ced4da;
        border-radius: 5px;
    }

    #id-form-ma{
        border-color: #F28A18;
    }
    #id-form-ma:focus {
        border-color: #F28A18; /* Changes the border color to blue */
        box-shadow: 0 0 7px rgba(243, 149, 47, 0.5); /* Optional: Adds a subtle blue glow */
        outline: none; /* Removes the default browser outline */
    }
</style>
{% endblock %}

{% block content %}

<div class="container my-3">
    <h2 align="center">สร้างใบขอเบิก</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.branch_company}}
        <h6 class="text-right">รายละเอียดใบขอเบิก</h6>
        <div class="card div-shadow my-2">
            <div class="card-body">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                        <label>{{form.name.label}}</label> 
                        {{form.name | add_class:"form-control"}}
                        </div>
                        <div class="form-group col-md-6">
                        <label>{{form.chief_approve_user_name.label}}</label> 
                        {{form.chief_approve_user_name | add_class:"form-control"}}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                        <label>{{form.agency.label}}</label> 
                        {{form.agency | add_class:"form-control"}}
                        </div>
                        <div class="form-group col-md-6">
                        <label>{{form.expense_dept.label}}</label> 
                        {{form.expense_dept | add_class:"form-control"}}
                        </div>
                    </div>
            </div>
        </div>
        <h6 class="my-3 text-right">ประเภทใบขอเบิก</h6>
        <div class="card div-shadow my-2">
        <div class="card-content">
          <div class="card-body">
                    <div class="form-group">
                        <label>{{form.ma_ref_no.label}}</label> {{form.ma_id}} {{form.ma_ref_no}}
                          <input type="text" name="form-ma" id="id-form-ma" class="form-control"
                            Placeholder="ค้นหาเลขที่ใบแจ้งซ่อม ....." autocomplete="off"
                            onfocusout="searchDataMaintenance();"
                            oninput="this.value = this.value.toUpperCase()">
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                        <label>{{form.rq_type.label}}</label> 
                        {{form.rq_type | add_class:"form-control"}}
                        </div>
                        <div class="form-group col-md-6">
                        <label>{{form.car.label}}</label> 
                        {{form.car | add_class:"form-control"}}
                        </div>                        
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                        <label>{{form.repair_type.label}}</label> 
                        {{form.repair_type | add_class:"form-control"}}
                        </div>
                        <div class="form-group col-md-6">
                        <label>{{form.broke_type.label}}</label> 
                        {{form.broke_type | add_class:"form-control"}}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                        <label>{{form.desired_date.label}}</label> 
                        {{form.desired_date | add_class:"form-control"}}
                        </div>
                        <div class="form-group col-md-6">
                        <label>{{form.urgency.label}}</label> 
                        {{form.urgency | add_class:"form-control"}}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-6">
                        <label>{{form.expenses.label}}</label> 
                        {{form.expenses | add_class:"form-control"}}
                        </div>
						            <div class="form-group col-md-6">
                        <label>{{form.mile.label}}</label> 
                        {{form.mile | add_class:"form-control"}}
                        </div>
                    </div>         
                    <div class="pdf">
                      {% if form.memorandum_pdf.errors %}
                      <div class="alert alert-warning" role="alert">
                          {{ form.memorandum_pdf.errors }}
                      </div>
                      {% endif %}
                      <div class="form-group">
                        <label>{{form.memorandum_pdf.label}}</label> 
                        {{form.memorandum_pdf | add_class:"form-control"}}
                      </div>
                    </div>
                    <div class="form-group">
                        <label>{{form.note.label}}</label> 
                        {{form.note | add_class:"form-control"}}
                    </div>
                <div class="row">
                    <div class="col text-right">
                        <button type="submit" class="btn btn-primary">บันทึก</button>
                    </div>
                </div>
          </div>
        </div>
        </div>
    </form>
</div>

{% endblock%}
{% block javascript %}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
<!-- Select2 CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />

<!-- Select2 JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.full.min.js"></script>

<script>
    $('#id_car').select2({
        ajax: {
            url: "{% url 'car_search' %}",
            dataType: 'json',
            delay: 250,
            data: function (params) {
                return {
                    q: params.term, // search term
                    'rq_type': $('#id_rq_type').val(),
                };
            },
            processResults: function (data) {
                return {
                    results: data.results
                };
            },
            cache: true
        },
        placeholder: 'ค้นหาด้วย code หรือ ชื่อ',
        minimumInputLength: 2,
        allowClear: true
    });

  $("#id_rq_type").change(function() {
    rqType_Change();
  });

  $("#id_agency").change(function() {
    agency_Change();
  });

  function agency_Change(){
    if ($("#id_agency").val() == ""){
        $("#div_id_expense_dept").addClass("d-none");
    }
    else{
        $("#id_agency").removeClass("d-none");
        $("#div_id_expense_dept").removeClass("d-none");
        searchExpenseDept();
    }
  }

  function rqType_Change(){
    //เคลียร์ค่าเครื่องจักร/ทะเบียนรถ หากเปลี่ยนประเภทใบขอเบิก
    $("#id_car").find('option').remove();

    if ($("#id_rq_type").val() == ""){
        $("#div_id_repair_type").addClass("d-none");
        $("#div_id_car").addClass("d-none");
        $("#div_id_broke_type").addClass("d-none");
        //เลขไมล์
        $("#div_id_mile").addClass("d-none");
        $("#id_mile").prop('required',false);
        $("#id_mile").val("");
    }
    else if($("#id_rq_type").val() == 2){
        $("#div_id_repair_type").removeClass("d-none");
        $("#div_id_car").removeClass("d-none");
        $("#div_id_broke_type").removeClass("d-none");
        //เลขไมล์
        $("#div_id_mile").removeClass("d-none");
        $("#id_mile").prop('required',true);
    }
    else{
        $("#div_id_repair_type").removeClass("d-none");
        $("#div_id_car").removeClass("d-none");
        $("#div_id_broke_type").removeClass("d-none");
        //เลขไมล์
        $("#div_id_mile").addClass("d-none");
        $("#id_mile").prop('required',false);
        $("#id_mile").val("");

        searchRepairType();
    }
  }

    function searchRepairType(){
        var tempRepairType = $("#id_repair_type").val();

        if($('#id_rq_type').val() != ""){
            var idInput = $('#id_rq_type').val();

            // Create Ajax Call
            if(idInput){
                //set id_rq_type
                $.ajax({
                    url: '{% url "searchRepairType" %}',
                    data:{
                            'rq_type': idInput,
                        },
                    dataType: 'json',
                    success: function (data) {
                        if (data.repair_type_list) {
                                $("#id_repair_type").find('option').not(':first').remove();
                                //set option 
                                for(var i = 0; i < data.repair_type_list.length; i++){
                                    $("#id_repair_type").append(new Option(data.repair_type_list[i].name, data.repair_type_list[i].id));
                                }
                        }
                        $('#id_repair_type option[value="'+tempRepairType +'"]').attr('selected','selected');
                    }
                });
            }
            return false;
        }else{
            $("#id_repair_type").find('option').not(':first').remove();
        }
    }

    function searchExpenseDept(){
        var tempExpenseDept = $("#id_expense_dept").val();

        if($('#id_agency').val() != ""){
            var idInput = $('#id_agency').val();

            // Create Ajax Call
            if(idInput){
                //set id_rq_type
                $.ajax({
                    url: '{% url "searchExpenseDept" %}',
                    data:{
                            'agency': idInput,
                        },
                    dataType: 'json',
                    success: function (data) {
                        if (data.expense_dept_list) {
                                $("#id_expense_dept").find('option').not(':first').remove();
                                //set option 
                                for(var i = 0; i < data.expense_dept_list.length; i++){
                                    $("#id_expense_dept").append(new Option(data.expense_dept_list[i].name, data.expense_dept_list[i].id));
                                }
                        }
                        $('#id_expense_dept option[value="'+tempExpenseDept +'"]').attr('selected','selected');
                    }
                });
            }
            return false;
        }else{
            $("#id_expense_dept").find('option').not(':first').remove();
        }
    }

    //after load
    $(document).ready(function() {
        //$('#id_car').select2();
        $('#id_name').select2();
        $('#id_chief_approve_user_name').select2();
        $('#id_repair_type').select2();
        $('#id_expense_dept').select2();

        //เส้น
        $('#div_id_expense_dept').after("<hr class='my-4' style='border: 1px solid #7DCEA0; border-radius: 1px;'>");
        $('#div_id_urgency').after("<hr class='my-4' style='border: 1px solid #7FB3D5; border-radius: 1px;'>");

        $('input[type="checkbox"]').addClass('big-checkbox');
        $('.form-check').addClass('inline-checkboxes');

        rqType_Change();
        agency_Change();
    });
	  
    function parseDate(str) {
        var mdy = str.split('-');
        return new Date(mdy[0], mdy[1]-1, mdy[2]);
    }
      
    function datediff(first, second) {
        return Math.round((second-first)/(1000*60*60*24));
    }
      
    function showDayDiff(name){
        var dateNow = new Date();
        var desireddateInput = $('input[name="'+name+'"]').val();
        var daydiff = datediff(dateNow, parseDate(desireddateInput));
        return daydiff;
    }
      
    function selectedUrgency(name, id){
        var day = showDayDiff(name);
        if(day == 0 | day == 1){
          document.getElementById(id).selectedIndex = 1;
        }else if(day > 1 & day < 5){
          document.getElementById(id).selectedIndex = 2;
        }else if(day > 4 & day < 7){
          document.getElementById(id).selectedIndex = 3;
        }else if(day > 6){
          document.getElementById(id).selectedIndex = 4;
        }
    }

    //ระดับความเร่งด่วน
    $("#id_desired_date").change(function() {
        selectedUrgency('desired_date', 'id_urgency');
    });


    $(function () {
        $("#id-form-ma").autocomplete({
            source: '{% url "autocompalte_maintenance" %}',
            minLength: 1,
        });
    });

    function fixSelect2Width() {
        $(".col-12 .select2").css("width", "55vw");
        $(".col-md-6 .select2").css("width", "27.4vw");
    }

    $("#id_repair_type").on("change", function() {
        fixSelect2Width();
    });


    function searchDataMaintenance(){
        if($('#id-form-ma').val() != ""){
            var str = $('#id-form-ma').val();
            var idInput = str.replace(/\s/g, "");
            // Create Ajax Call
            if(idInput){
                $.ajax({
                url: '{% url "searchDataMaintenance" %}',
                data: {
                        'id_input': idInput,
                    },
                dataType: 'json',
                success: function (data) {
                    if(data.have_id == false){
                        $("#id_ma_id").val('');
                        $("#id_ma_ref_no").val('');
                        //$("#id_repair_type").val('');
                        //$("#id_rq_type").val('');
                        //$("#id_car").val('');

                        $("#id-form-ma").val('');
                        $("#id-form-ma").focus();
                        alert('ไม่มีเลขที่ใบแจ้งซ่อมนี้ กรุณาใส่เลขที่ใบแจ้งซ่อมอีกครั้ง');

                        $('#id_rq_type').css('pointer-events','auto');
                        $('#id_car').next('.select2-container').css('pointer-events', 'auto');

                    }else if(data.have_id == true){
                        $("#id_ma_id").val(data.id);
                        $("#id_ma_ref_no").val(data.ref_no);

                        var repairOption = new Option(data.repair_type_name, data.repair_type_id, true, true);
                        $("#id_repair_type").append(repairOption).trigger('change');
                        
                        $("#id_rq_type").val(data.rq_type);
                        $('#id_rq_type').trigger('change');

                        var carOption = new Option(data.car_text, data.car_id, true, true);
                        $('#id_car').append(carOption).trigger('change');

                        $('#id_rq_type').css('pointer-events','none');
                        $('#id_car').next('.select2-container').css('pointer-events', 'none');
                    }
                }
                });
            }
            return false;
        }else{
            $("#id_ma_id").val('');
            $("#id_ma_ref_no").val('');
        }
    }
	
</script>
{% endblock%}