{% extends 'layouts.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block css %}
<style>
@media print {
    .hidden-print {
    display: none;
    }
    
}
</style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row my-2">
      <div class="col col-md-2">
        <img src="/media/{{requisition.address_company.logo}}" class="rounded float-left" width="50" height="50"/>
      </div>
      <div class="text-left col">
        <h3>{{requisition.address_company.name_th}}</h3>
      </div>
      <div class="text-center col col-md-3">
        <div role="alert"  
        class="alert
        {% if requisition.urgency.id == 1 %}
          alert-danger
        {% elif requisition.urgency.id == 2 %}
          alert-warning
        {% elif requisition.urgency.id == 3 %}
          alert alert-success
        {% elif requisition.urgency.id == 4 %}
          alert-info
        {% endif %}">
         {% if requisition.urgency %} 
          <b>ระดับความเร่งด่วน: {{requisition.urgency.name}}</b>
         {% endif %}
        </div>
      </div>
    </div>
    <hr>
    <!--
    <h4 align="center">ใบขอเบิก</h4>
    -->
    <div class="row my-2">
      <div class="col-md-12">
      <div class="invoice-title text-right">
          <h5>รหัสใบขอเบิก # {{requisition.ref_no}}
            {% if requisition.memorandum_pdf %}
              {% ifchanged requisition.memorandum_pdf %}
                <a href="/media/{{requisition.memorandum_pdf}}" class="btn btn-outline-success btn-sm hidden-print"><i class="fas fa-file-download"></i> เอกสารแนบ</a>
              {% endifchanged %}
            {% endif %}
          </h5>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-4">
          <description>
          <strong>ขอตั้งเบิก: </strong>{{requisition.name}}
          <br>
          <br>
          </description>
        </div>
        <div class="col-md-4 text-center">
            <description>
              <strong>แผนก: </strong>{{requisition.section}}<br>
              <br>
            </description>
          </div>
        <div class="col-md-4 text-right">
          <description>
            <strong>วันที่ขอเบิก: </strong>{{requisition.created | date:"d/m/Y"}}<br>
            <br>
          </description>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                  <div class="row">
                    <div class="col">
                     <strong>รายการใบขอเบิก</strong> 
                    </div>
                  </div>
                </h3>
            </div>
        <div class="panel-body">
          <div class="table-responsive">
            <table id="userTable" class="table table-condensed">
              <thead>
                <tr>
                    <td class="text-center"><strong>ลำดับที่</strong></td>
                    <td class="text-center"><strong>สินค้า/รายละเอียด</strong></td>
                    <td class="text-center"><strong>เหตุผลและวัตถุประสงค์</strong></td>
                    <td class="text-center"><strong>จำนวนที่ขอเบิก</strong></td>
                    <td class="text-center"><strong>จำนวนที่จ่ายไป</strong></td>
                    <td class="text-center"><strong>หน่วย</strong></td>
                    <td class="text-center"><strong>ใช้ในระบบงาน(เครื่องจักร)</strong></td>
                    <td class="text-center"><strong>วันที่ต้องการ</strong></td>
                    <td class="text-center"><strong>ระดับความเร่งด่วน</strong></td>                   
                </tr>
              </thead>
              <tbody>
                {% for item in items %}
                <tr>
                    <td class="text-center">{{ forloop.counter }}</td>
                    <td class="text-center userName userData" name="name">{{item.product_name}}</td>
                    <td class="text-center userDescription userData" name="description">{{item.description}}</td>
                    <td class="text-center userQuantity userData" name="quantity">{{item.quantity |floatformat:"-4"}}</td>
                    <td class="text-center userQuantityTake userData" name="quantityTake">{{item.quantity_take |floatformat:"-4"}}</td>
                    <td class="text-center userUnit userData" name="unit" data-val="{{item.unit}}">
                      {{item.unit}}
                    </td>
                    <td class="text-center userMachine userData" name="machine">{{item.machine}}</td>
                    <td class="text-center userDesiredDate userData" name="desireddate">{{item.desired_date | date:"d/m/Y"}}</td>
                    <td class="text-center userUrgency userData" name="urgency" data-val="{{item.urgency}}">
                      {% for bu in baseUrgency %}
                        {% if item.urgency == bu.id %}
                          {{bu.name}}
                        {% endif %}
                      {% endfor %}
                    </td>
                </tr>
                {% empty %}
                <tr>
                  <td colspan="10" class="text-center ">
                    <div class="alert alert-warning" role="alert">
                      ไม่มีสินค้า
                    </div>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-4">
      <description>
      <strong>หัวหน้างาน: </strong>{{requisition.chief_approve_user_name}}
      </description>
    </div>
    <div class="col-md-4 text-center">
        <description>
          <strong>เจ้าหน้าที่พัสดุ: </strong>{{requisition.supplies_approve_user_name}}
        </description>
      </div>
    <div class="col-md-4 text-right">
      <description>
        <strong>ส่งให้เจ้าหน้าที่จัดซื้อ: </strong>{{requisition.organizer}}
      </description>
    </div>
  </div>
  <hr>
   <div class="invoice-title text-right my-2">
    <h6>{{bc.affiliated.iso_code.r_code|safe}}</h6>
  </div>
  <div class="row">
    <div class="col text-right">
      <button type="button" class="btn btn-outline-info pull-right hidden-print my-2" onclick="window.print();">
        <i class="fas fa-print"></i>
        ปริ้นใบขอเบิก
      </button>
    </div>
  </div>
  </div>
{% endblock%}

