{% extends 'layouts.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block css %}
<style>
@media print {
    .hidden-print {
    display: none;
    }
    
}
</style>
{% endblock %}

{% block content %}
<div class="container">
  <div class="row"><!-- ใบขอเบิก QR Code 10-02-2025 -->
    <div class="col-1">
      {% if requisition.qr_code %}
      <img src="{{ requisition.qr_code.url }}" width="95" height="95">
      {% else %}
        <img src="/media/{{requisition.address_company.logo}}" class="rounded float-left" width="95" height="95"/>
      {% endif %}
    </div>
    <div class="col-7">
      <div class="row">
        <div class="col text-right">
          <h4>{{requisition.address_company.name_th}}</h4>
        </div>
      </div>
      <div class="row my-2">
        <div class="col text-right">
          <h4>ใบขอเบิก{% if requisition.rq_type %} ({{requisition.rq_type}}){%endif%}</h4>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="row">
        <div class="col text-right">
          <h5>เลขที่. {{requisition.ref_no}}
            {% if requisition.memorandum_pdf %}
              {% ifchanged requisition.memorandum_pdf %}
                <a href="/media/{{requisition.memorandum_pdf}}" class="btn btn-outline-success btn-sm hidden-print"><i class="fas fa-file-download"></i> เอกสารแนบ</a>
              {% endifchanged %}
            {% endif %}
          </h5>
        </div>
      </div>
      <div class="row my-2">
        <div class="col text-right">
          <description>
            <strong>ระดับความเร่งด่วน: </strong>
            {% if requisition.urgency %}
              {{requisition.urgency}}
            {%else%}
              {% for bu in baseUrgency %}
                {% if items.1.urgency == bu.id %}
                  {{bu.name}} {{bu.description}}
                {% endif %}
              {% endfor %}
            {%endif%}
          </description>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-6">
      <description>
      <strong>ผู้ขอตั้งเบิก: </strong>{{requisition.name}}
      <br>
      <br>
      </description>
    </div>
    <div class="col-4 text-left">
        <description>
          <strong>ใบแจ้งซ่อมเลขที่: </strong><br>
          <br>
        </description>
    </div>
    <div class="col-2 text-right">
      <description>
        <strong>วันที่: </strong>{{requisition.created | date:"d/m/Y"}}<br>
        <br>
      </description>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <description>
      <strong>ทะเบียนรถ/ เครื่องจักร/ หน่วยงาน: </strong>{% if requisition.car %}{{requisition.car}}{%endif%}
      <br>
      <br>
      </description>
    </div>
    <div class="col-3 text-left">
        <description>
          <strong>แผนกคชจ. </strong>{% if requisition.expense_dept %}{{requisition.expense_dept}}{%endif%}<br>
          <br>
        </description>
      </div>
    <div class="col-3 text-right">
      <description>
        <strong>
        </strong>
        {% for expense in requisition.expenses.all %}
          <i class="fas fa-circle"></i> {{ expense.name }}
        {% endfor %}
      </description>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <description>
        <strong>หมายเหตุ/เหตุผล: </strong>{% if requisition.note %}{{requisition.note}}{%endif%}
      </description>
    </div>
  </div>
  
  <div class="row my-3">
    <div class="col-md-12">
      <div class="panel panel-default">
            <div class="panel-heading">
                <h5 class="panel-title">
                  <div class="row">
                    <div class="col">
                     <strong>รายการใบขอเบิก</strong> 
                    </div>
                  </div>
                </h5>
            </div>
        <div class="panel-body">
          <div class="table-responsive">
            <table id="userTable" class="table table-bordered">
              <thead>
                <tr>
                    <td class="text-center"><strong>ลำดับ</strong></td>
                    <td class="text-center"><strong>รหัสวัสดุ/อุปกรณ์</strong></td>
                    <td class="text-center"><strong>สินค้า</strong></td>
                    <!--td class="text-center"><strong>เหตุผลและวัตถุประสงค์</strong></td-->
                    <td class="text-center"><strong>จำนวนที่ขอเบิก</strong></td>
                    <td class="text-center"><strong>จำนวนที่จ่ายไป</strong></td>
                    <td class="text-center"><strong>หน่วย</strong></td>
                    <td class="text-center"><strong>วันที่ต้องการ</strong></td>
                    <td class="text-center"><strong>รายละเอียด/ประเภทการซ่อม</strong></td>
                    <!--
                    <td class="text-center"><strong>วันที่ต้องการ</strong></td>
                    <td class="text-center"><strong>ระดับความเร่งด่วน</strong></td>
                    -->
                </tr>
              </thead>
              <tbody>
                {% for item in items %}
                <tr>
                    <td class="text-center">{{ forloop.counter }}</td>
                    <td class="text-center userProduct userData" name="product"><b class="text-danger">{{item.alert_level}}</b>{{item.product.id}}</td>
                    <td class="userName userData" name="name">{{item.product_name}}</td>
                    <td class="text-center userQuantity userData" name="quantity">{{item.quantity |floatformat:"-4"}}</td>
                    <td class="text-center userQuantityTake userData" name="quantityTake">{{item.quantity_take |floatformat:"-4"}}</td>
                    <td class="text-center userUnit userData" name="unit" data-val="{{item.unit}}">
                      {{item.unit}}
                    </td>
                    <td class="text-center userDesiredDate userData" name="desireddate">{{item.desired_date | date:"d/m/Y"}}</td>
                    <td class="text-center userDescription userData" name="description">{{item.description}}</td>
                    <!--
                    <td class="text-center userMachine userData" name="machine">{{item.machine}}</td>
                    <td class="text-center userDesiredDate userData" name="desireddate">{{item.desired_date | date:"d/m/Y"}}</td>
                    <td class="text-center userUrgency userData" name="urgency" data-val="{{item.urgency}}">
                      {% for bu in baseUrgency %}
                        {% if item.urgency == bu.id %}
                          {{bu.name}}
                        {% endif %}
                      {% endfor %}
                    </td>
                    -->
                </tr>
                {% empty %}
                <tr>
                  <td colspan="10" class="text-center ">
                    <div class="alert alert-warning" role="alert">
                      ไม่มีสินค้า
                    </div>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col">
      <description>
      <strong>สาเหตุ: </strong>{% if requisition.broke_type %}{{requisition.broke_type}}{%endif%}
      </description>
    </div>
    {% if requisition.rq_type.id == 2 %}
    <div class="col-4 text-right">
      <description>
      <strong>เลขไมล์/เลขชั่วโมง: </strong>{{requisition.mile}}
      </description>
    </div>
    {%endif%}
  </div>
  <hr>
  <div class="row">
    <div class="col-4">
      <description>
      <strong>หัวหน้างาน: </strong>{{requisition.chief_approve_user_name}}
      </description>
    </div>
    <div class="col-4 text-center">
      <description>
        <strong>เจ้าหน้าที่พัสดุ: </strong>{{requisition.supplies_approve_user_name}}
      </description>
    </div>
    <div class="col-4 text-right">
      <h6>{{requisition.rq_type.iso_code}}</h6>
    </div>
  </div>
  <hr>
  <div class="row">
    {% if requisition.rq_type.id == 1 or requisition.rq_type.id == 2%}
    <div class="col text-danger">
      <b>หากมีการเบิกสินค้านี้ซ้ำ ในทะเบียนรถหรือเครื่องจักรเดียวกัน</b>
      <h6>ภายใน 30 วัน *** , ภายใน 90 วัน ** , ภายใน 365 วัน *</h6>
    </div>
    {%endif%}
    <div class="col text-right">
      <description id="dt_print"></description>
    </div>
  </div>
  <div class="row">
    <div class="col text-right">
      <button type="button" class="btn btn-outline-info pull-right hidden-print my-2" onclick="scrollToTop();setDateTimePrint();window.print();">
        <i class="fas fa-print"></i>
        ปริ้นใบขอเบิก
      </button>
    </div>
  </div>
  </div>
{% endblock%}
{% block javascript %}
<script>
  function setDateTimePrint(){
    var currentdate = new Date();
    var datetime = "@ " + currentdate.toLocaleString('th-TH', { dateStyle: 'long', timeStyle: 'medium' })+ " (" + "{{request.user}}"+ ")";
    $("#dt_print").text(datetime);
  }
</script> 
{% endblock %}

