{% extends 'layouts.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load templatehelpers %}

{% block content %}
<div class="container my-3">
<h3 align="center">ประวัติใบขอเบิกที่สำเร็จ</h3>
<div class="card my-3 bg-light div-shadow">
  <div class="card-body">
    <form method="get">
      {% csrf_token %}
      <div class="form-row">
        <div class="form-group col-md-1 mb-0">
          {{ filter.form.ref_no|as_crispy_field }}
        </div>
        <div class="form-group col-md-2 mb-0">
          {{ filter.form.name|as_crispy_field }}
        </div>
        <div class="form-group col-md-2 mb-0">
          {{ filter.form.section|as_crispy_field }}
        </div>
        <div class="form-group col-md-2 mb-0">
          {{ filter.form.urgency|as_crispy_field }}
        </div>
        <div class="form-group col-md-2 mb-0">
          {{ filter.form.start_created|as_crispy_field }}
        </div>
        <div class="form-group col-md-2 mb-0">
          {{ filter.form.end_created|as_crispy_field }}
        </div>
        <div class="form-group col-md-1 mb-0">
          <div>
            <label for=""></label>
            <div class="my-2">
              <button type="submit" class="btn btn-info">กรอง<i class="fas fa-filter"></i></button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="card div-shadow">
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered my-3">
        <thead class="table-info">
          <tr>
            <th scope="col">วันที่ตั้งเบิก</th>
            <th scope="col">รหัสใบขอเบิก</th>
            <th scope="col">ชื่อผู้ตั้งเบิก</th>
            <th scope="col">แผนก</th>
            <!--<th scope="col">ความเร่งด่วน</th>-->
            <th scope="col">สถานะใบขอซื้อ</th>
            <th scope="col">ใบบันทึก</th>
          </tr>
        </thead>
        <tbody>
        {% for requisition in requisitions %}
          <tr>
            <td>{{requisition.created |date:"d/m/Y" }}</td>
            <th scope="row"><a href="{% url 'showRequisition' requisition.id 4 %}">{{requisition.ref_no}}</a></th>
            <td>{{requisition.name}}</td>
            <td>{{requisition.section}}</td>
            <!--<td class="text-center">{{requisition.urgency.name}}</td>-->
            <td>
              {% if requisition.purchase_requisition_id %}
                <button type="button" class="btn btn-outline-info btn-block btn-sm">มีใบขอซื้อ</button>
              {% else %}
                <button type="button" class="btn btn-outline-warning btn-block btn-sm">ไม่มีใบขอซื้อ</button>
              {% endif %}
            </td>
            <td>
              {% if requisition.memorandum_pdf %}
              <a href="/media/{{requisition.memorandum_pdf}}" class="btn btn-success btn-block btn-sm" target="_blank"><i class="fas fa-file-download"></i></a>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
      <br/>
      <!--Pagination-->
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
        {% if requisitions.has_previous %}
            <li class="page-item">
            <a class="page-link" href="{% my_url requisitions.previous_page_number 'page' request.GET.urlencode %}">Previous</a>
          </li>
        {% else %}
            <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
          </li>
        {% endif %}

        {% if requisitions.number|add:'-4' > 1 %}
            <li class="page-item"><a class="page-link" href="{% my_url requisitions.number|add:'-5' 'page' request.GET.urlencode %}">&hellip;</a></li>
        {% endif %}

        {% for i in requisitions.paginator.page_range %}
            {% if requisitions.number == i %}
                <li class="page-item active" aria-current="page">
              <span class="page-link">
                {{ i }}
                <span class="sr-only">(current)</span>
              </span>
            </li>
            {% elif i > requisitions.number|add:'-5' and i < requisitions.number|add:'5' %}
                 <li class="page-item"><a class="page-link" href="{% my_url i 'page' request.GET.urlencode %}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}

        {% if requisitions.paginator.num_pages > requisitions.number|add:'4' %}
           <li class="page-item"><a class="page-link" href="{% my_url requisitions.number|add:'5' 'page' request.GET.urlencode %}">&hellip;</a></li>
        {% endif %}

        {% if requisitions.has_next %}
            <li class="page-item">
            <a class="page-link"  href="{% my_url requisitions.next_page_number 'page' request.GET.urlencode %}">Next</a>
          </li>
        {% else %}
            <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
          </li>
        {% endif %}
      </ul>
    </nav>
    <!--end of Pagination-->
</div>
{% endblock%}