{% extends 'layouts.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load templatehelpers %}

{% block content %}
<div class="container my-3">
<h3 align="center">ประวัติใบสั่งซื้อที่สำเร็จ</h3>
<div class="card my-3 bg-light div-shadow">
  <div class="card-body">
    <form method="get">
      {% csrf_token %}
      <div class="form-row">
        <div class="form-group col-md-1 mb-0">
            {{ filter.form.ref_no|as_crispy_field }}
          </div>
          <div class="form-group col-md-2 mb-0">
            {{filter.form.distributor|as_crispy_field}}
          </div>
          <div class="form-group col-md-2 mb-0">
            {{filter.form.stockman_user|as_crispy_field}}
          </div>
          <div class="form-group col-md-2 mb-0">
            {{filter.form.approver_status|as_crispy_field}}
          </div>
          <div class="form-group col-md-2 mb-0">
            {{filter.form.start_created|as_crispy_field}}
          </div>
          <div class="form-group col-md-2 mb-0">
            {{filter.form.end_created|as_crispy_field}}
          </div>
        <div class="form-group col-md-1 mb-0">
          <div>
            <label for=""></label>
            <div class="my-2">
              <button type="submit" class="btn btn-info">กรอง<i class="fas fa-filter"></i></button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="card div-shadow">
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered my-3">
        <thead class="table-info">
            <tr>
                <th scope="col">วันที่สั่งซื้อ</th>
                <th scope="col">รหัสใบสั่งซื้อ</th>
                <th scope="col">รหัส CM/รหัส PR</th>
                <th scope="col">ชื่อผู้จำหน่าย</th>
                <th scope="col">เครดิต</th>
                <th scope="col">ผู้สั่งสินค้า</th>
                <th scope="col">ลงวันที่อนุมัติ</th>
                <th scope="col">วันที่รับสินค้า</th>
            </tr>
        </thead>
        <tbody>
        {% for po in pos %}
          <tr>
            <td>{{po.created |date:"d/m/Y"}}</td>
            <th scope="row"><a href="{%url 'showPO' po.id 4 %}">{{po.ref_no}}</a></th>
            <td>
              {%if po.cp %}<a href="{%url 'showComparePricePO' po.cp.id 4 %}">{{po.cp.ref_no}}</a>{%endif%}
              {%if po.pr %}<a href="{%url 'showPR' po.pr.id 4 %}">{{po.pr.ref_no}}</a>{%endif%}
            </td>
            <td>{{po.distributor}}</td>
            <td>{{po.credit}}</td>
            <td>{{po.stockman_user}}</td>            
            <td>
              {% if po.approver_status.id == 1 or po.approver_status.id == 3%}
              <button type="button"
              class="btn btn-block btn-sm
              {% if po.approver_status.id == 1 %}
                btn-outline-warning
              {% elif po.approver_status.id == 2 %}
                btn-outline-success
              {% elif po.approver_status.id == 3 %}
                btn-outline-danger
              {% endif %}"
              >{{po.approver_status}}</button>
              {%else%}
                {{po.approver_update |date:"d/m/Y"}}
              {%endif%}
            </td>
            <td>
              {% if po.is_receive == True %}
                {{ po.receive_update |date:"d/m/Y" }}
              {%endif%}
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
      <br/>
      <!--Pagination-->
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
        {% if pos.has_previous %}
            <li class="page-item">
            <a class="page-link" href="{% my_url pos.previous_page_number 'page' request.GET.urlencode %}">Previous</a>
          </li>
        {% else %}
            <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
          </li>
        {% endif %}

        {% if pos.number|add:'-4' > 1 %}
            <li class="page-item"><a class="page-link" href="{% my_url pos.number|add:'-5' 'page' request.GET.urlencode %}">&hellip;</a></li>
        {% endif %}

        {% for i in pos.paginator.page_range %}
            {% if pos.number == i %}
                <li class="page-item active" aria-current="page">
              <span class="page-link">
                {{ i }}
                <span class="sr-only">(current)</span>
              </span>
            </li>
            {% elif i > pos.number|add:'-5' and i < pos.number|add:'5' %}
                 <li class="page-item"><a class="page-link" href="{% my_url i 'page' request.GET.urlencode %}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}

        {% if pos.paginator.num_pages > pos.number|add:'4' %}
           <li class="page-item"><a class="page-link" href="{% my_url pos.number|add:'5' 'page' request.GET.urlencode %}">&hellip;</a></li>
        {% endif %}

        {% if pos.has_next %}
            <li class="page-item">
            <a class="page-link"  href="{% my_url pos.next_page_number 'page' request.GET.urlencode %}">Next</a>
          </li>
        {% else %}
            <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
          </li>
        {% endif %}
      </ul>
    </nav>
    <!--end of Pagination-->
</div>
{% endblock%}