{% extends 'layouts.html' %}
{% load static %}
{% load widget_tweaks %}
{% load humanize %}

{% block css %}
<style>
    @media print {
    .hidden-print {
      display: none;
    }
  }
  u.dotted {
  border-bottom: 1px dashed #999;
  text-decoration: none;
  }

  p.line75 {
    line-height:75%;
  }

  .verybigmodal {
    max-width: 80%;
  }
</style>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row my-2">
        <div class="col-md-12">
        <div class="invoice-title">
          <description>
            <h4>{{po.address_company.name_th}}</h4>
            {{po.address_company.address}}
            {% if po.address_company.tel %}<br>โทร {{po.address_company.tel}}{%endif%}
            {% if po.address_company.tex %}<br>เลขที่ผู้เสียภาษี {{po.address_company.tex}}{%endif%}
          </description>
        </div>
        <hr>
        <div class="row">
          <div class="col">
            <address>
            <strong>ผู้จำหน่าย: {{po.distributor.id}}</strong><br>
              {% if po.distributor.prefix %}{{po.distributor.prefix}}{%endif%} {{po.distributor}}<br>
              {{po.distributor.address}}<br>
              โทร : {{po.distributor.tel}}<br>
              <h6 style="font-size:8pt">
              {% if po.cp %}
                รหัสใบเปรียบเทียบ :
                <b><u><a class="{% if po.cp.is_re_approve %}text-danger{%endif%}" href="{%url 'showComparePricePO' po.cp.id 4 %}">{{po.cp.ref_no}}</a></u></b>
              {% else %}
                รหัสใบขอซื้อ :
                {% for i in new_pr %}
                  <b><u><a href="/purchaseRequisition/show/{{i.id}}/4">{{i.ref_no}}</a></u>, </b>
                {% endfor %}
              {%endif%}              
              </h6>
            </address>
          </div>
          <div class="col text-right">
            <address>
              <strong>ใบสั่งซื้อ
                {% if po.is_re_approve == True %}
                  <b class="text-danger">***ฉบับแก้ไข</b>
                {% endif %}
                {% for item in items %}
                  {% if item.item.requisit.memorandum_pdf %}
                    {% ifchanged item.item.requisit.memorandum_pdf %}
                      <a href="/media/{{item.item.requisit.memorandum_pdf}}" class="btn btn-outline-success btn-sm hidden-print"><i class="fas fa-file-download"></i> เอกสารแนบ</a>
                    {% endifchanged %}
                  {% endif %}
                {% endfor %}
              </strong><br>
              เลขที่ใบสั่งซื้อ : {{po.ref_no}}<br>
              วันที่ : {{po.created}}<br>
              เครดิต : {{po.credit}}<br>
              ขนส่งโดย : {{po.shipping}}
            </address>
          </div>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><strong>รายการสั่งซื้อ</strong></h3>
          </div>
          <div class="panel-body">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col" class="text-center">No.</th>
                        <form class="form-inline ml-3" id="search" method="GET">				
                          <th scope="col" class="text-center" style="cursor: pointer;" onclick="searchLastPoItem()" data-target="#myEdit" data-toggle="modal">
                            รหัสสินค้า/รายละเอียด <i class="fas fa-list text-danger d-print-none"></i>
                          </th>
                        </form>
                        <th scope="col" class="text-center">จำนวน</th>
                        <th scope="col" class="text-center">หน่วยละ</th>
                        <th scope="col" class="text-center">จำนวนเงิน</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for item in items %}
                        <tr>
                            <td class="text-center">{{ forloop.counter }}</td>
                            <td>{{ item.item.product.id}} {{ item.item }} <b class="text-success">{{ item.description }}</b></td>
                            <td class="text-center">{{ item.quantity |floatformat:"-4"}}</td>
                            <td class="text-center">{{ item.unit_price | intcomma}}</td>
                            <td class="text-center">{{ item.price | intcomma}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <hr>
            <div class="row">
              <div class="col-7">
                <p>หมายเหตุ : {{po.note}}</p>
              </div>
              <div class="col-3">
                <p class="text-right">รวมเป็นเงิน</p>
              </div>
              <div class="col-2">
                <p class="text-right">{{po.total_price | intcomma}}&ensp;บาท</p>
              </div>
            </div>
            <div class="row">
              <div class="col-7">
                <p>สถานที่จัดส่ง : {% if po.delivery %}{{po.delivery}}{% endif %}</p>
              </div>
              <div class="col-3">
                <p class="text-right">หักส่วนลด</p>
              </div>
              <div class="col-2">
                <p class="text-right">{{po.discount | intcomma}}&ensp;{% if '%' in po.discount %}{%else%}บาท{%endif%}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-10">
                <p class="text-right">จำนวนเงินหลังหักส่วนลด</p>
              </div>
              <div class="col-2">
                <p class="text-right">{{po.total_after_discount | intcomma}}&ensp;บาท</p>
              </div>
            </div>
            <div class="row">
              <div class="col-10">
                <p class="text-right">ค่าขนส่ง</p>
              </div>
              <div class="col-2">
                <p class="text-right">{{po.freight | intcomma}}&ensp;บาท</p>
              </div>
            </div>
            <div class="row">
              <div class="col-10">
                <p class="text-right">จำนวนภาษีมูลค่าเพิ่ม 7%</p>
              </div>
              <div class="col-2">
                <p class="text-right">{{po.vat | intcomma}}&ensp;บาท</p>
              </div>
            </div>
            <div class="row">
              <div class="col-7">
                <p id="total-spell"></p>
              </div>
              <div class="col-3">
                <p class="text-right">จำนวนเงินรวมทั้งสิ้น</p>
              </div>
              <div class="col-2">
                <p class="text-right">{{po.amount | intcomma}}&ensp;บาท</p>
              </div>
            </div>
            <hr>
            <div class="row spacer my-3">
                <div class="col">
                  <p>ผู้สั่งสินค้า</p>
                  <p><img src="/media/{{po.stockman_user.userprofile.signature}}" width="100" height="40" style="border-bottom: 1px dashed #999;text-decoration: none;"/></p>
                  <p>{{po.stockman_user}}</p>
                  <p class="line75">({{po.stockman_user.userprofile.position}})</p>
                  {% if isFromHome == 'True' %}
                    <a href="{% url 'home' %}" class="btn btn-secondary btn-sm d-print-none"><i class="fas fa-arrow-left"></i> กลับไป</a>
                  {% elif isFromHome == 'False' %}
                    <a href="{% url 'viewPOApprove' %}" class="btn btn-secondary btn-sm d-print-none"><i class="fas fa-arrow-left"></i> กลับไป</a>
                  {% endif %}
                </div>
                <div class="col">
                <!-- form Apporve -->
                <form action="{% url 'editPOApprove' po.id isFromHome %}" method="post">
                    {% csrf_token %}
                    <p class="line75">ในนาม {{po.address_company.name_th}}</p>
                    <p class="line75">ผู้รับมอบอำนาจ</p>
                    <p>
                        {% if po.approver_status_id == 2 %}
                          <img src="/media/{{po.approver_user.userprofile.signature}}" width="160" height="75" style="border-bottom: 1px dashed #999;text-decoration: none;"/>
                          <p class="line75">{{po.approver_user}}</p>
                        {% endif %}
                    </p>
                    {% if isPermiss and po.approver_status_id == 1%}
                    <div style="display: flex;">
                      <input id='submit' type='submit' name = 'status' value = 'อนุมัติ' class="btn btn-success btn-sm hidden-print" onclick="return confirm('ต้องการอนุมัติใบสั่งซื้อนี้หรือไม่?');">
                      <input id='submit' type='submit' name = 'status' value = 'ไม่อนุมัติ' class="btn btn-danger btn-sm hidden-print" onclick="return confirm('ต้องการไม่อนุมัติใบสั่งซื้อนี้หรือไม่?');">                    
                    </div>
                    {% endif %}
                </form>
                </div>
                <div class="float-right">
                  <h6>{{bc.affiliated.iso_code.po_code|safe}}</h6>
                  <button type="button" class="btn btn-outline-info pull-right hidden-print" onclick="window.print();">
                      <i class="fas fa-print"></i>
                      ปริ้นใบสั่งซื้อ
                  </button>
                </div>
            </div>
            <hr>
          </div>
        </div>
      </div>
    </div>
</div>
<!-- Modal Search-->
<div class="modal fade" id="myEdit" role="dialog">
  <div class="modal-dialog modal-lg verybigmodal">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">รายการสินค้าที่ซื้อล่าสุด</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <p id="pShowSearch"></p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block javascript %}
<script src="{% static 'js/thaibath.js' %}" type="text/javascript"></script>
<script type="text/javascript">
$(function() {
    //แสดง จำนวนเงินรวมทั้งสิ้นสะกด
    var amount = "{{po.amount}}";
		var thaibath = ArabicNumberToText(amount);
    document.getElementById("total-spell").innerHTML = "(" + thaibath + ")";
});

//ค้นหา 5 รายการล่าสุด
function searchLastPoItem(){
    var itemList = [];

    "{% for it in items %}"
        itemList.push('{{it.item.id}}');
    "{% endfor %}"

    if (itemList) {
        // Create Ajax Call
        $.ajax({
            url: '{% url "searchLastPoItem" %}',
            data: { itemList },
            dataType: 'json',
            success: function (data) {
              if (data.instance) {
                openModal(data.instance);
                e.preventDefault();
              }else{
                $("#pShowSearch").html('ไม่พบรายการที่สั่งซื้อล่าสุด');
              }
            }
        });
    } else {
      
    }
    return false;
}

function openModal(instance) {
  $("#pShowSearch").html(instance);
  $('#myEdit').modal('show');
}
</script>
{% endblock %}

