{% extends 'layouts.html' %}
{% load crispy_forms_tags %}
{% load humanize %}
{% load static %}
{% load widget_tweaks %}
{% load templatehelpers %}
{% block css %}
<!-- Select2 CSS -->
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

<!-- Optional: Select2 Bootstrap4 theme -->
<link href="https://cdn.jsdelivr.net/npm/@ttskch/select2-bootstrap4-theme@1.5.2/dist/select2-bootstrap4.min.css" rel="stylesheet" />

<!-- Boostrap 4 icon -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
<style>
    @media (min-width: 360px) { /* Styles for screens 768px and wider */
        .select2-container .select2-selection {
            width: 70vw !important;
            height: 37px !important;
            line-height: 50px !important;
            padding: 5px 12px;
            border-radius: 4px;
        }

        .select2-container {
            width: 70vw !important;
        }
    }

    @media (min-width: 768px) { /* Styles for screens 1200px and wider */
        .select2-container .select2-selection {
            width: 66.5vw !important;
            height: 37px !important;
            line-height: 50px !important;
            padding: 5px 12px;
            border-radius: 4px;
        }

        .select2-container {
            width: 66.5vw !important;
        }
    }

    @media (min-width: 1200px) { /* Styles for screens 1200px and wider */
        .select2-container .select2-selection {
            width: 55.5vw !important;
            height: 37px !important;
            line-height: 50px !important;
            padding: 5px 7px;
            border-radius: 4px;
            border: 1px solid #ced4da;
        }

        .select2-container {
            width: 55.5vw !important;
        }
    }
    
    .big-checkbox{
        width: 16px; /* Adjust the width as needed */
        height: 16px; /* Adjust the height as needed */
        transform: scale(1.15); /* Adjust the scale as needed */
        -webkit-transform: scale(1.15); /* For Safari and Chrome */
        -moz-transform: scale(1.15); /* For Firefox */
        -ms-transform: scale(1.15); /* For Internet Explorer */
        -o-transform: scale(1.15); /* For Opera */
    }

    .inline-checkboxes{
        display: inline-block;
        margin-right: 15px; /* Adjust spacing as needed */
    }

    .preview-image {
            max-width: 200px; 
            display: none; 
            border: 1px solid #ddd; 
            border-radius: 8px; 
            padding: 5px;
    }

    .upload-label {
            background-color: white; 
            padding: 6px 20px; 
            border: 1px solid #ddd; 
            border-radius: 8px; 
            cursor: pointer; 
            width: 100%; 
            height: 40px; 
            display: inline-flex;
            align-items: center;
            justify-content: center;
    }

            .custom-combobox {
            position: relative;
            display: inline-block;
        }
        .custom-combobox-toggle {
            position: absolute;
            top: 0;
            bottom: 0;
            margin-left: -1px;
            padding: 0;
        }
        .custom-combobox-input {
            margin: 0;
            padding: 5px 10px;
        }
</style>
{% endblock %}

{% block content %}

<div class="container my-3">
    <h2 align="center">บันทึกแจ้งซ่อม</h2>
    <div class="card bg-light">
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                <!--p>{{ form | crispy}}</!--p-->
                <p>
                    {{ form.name.label_tag }}
                    {{ form.name | add_class:"select2bs4"|attr:"style:width:100%;"}}
                </p>
                <p>
                    {{ form.branch_company }}
                </p>
                <p>
                    {{ form.car.label_tag }}*
                    {{ form.car }}
                </p>
                <hr class="border border-success">
                <p>
                    {{ form.mile.label_tag }}*
                    <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default"><i class="bi bi-speedometer2"></i></span>
                    </div>
                        {{ form.mile |attr:"required:true"}}
                    </div>
                </p>
                <p>
                    {{ form.broke_reason.label_tag }}*
                    {{ form.broke_reason |attr:"required:true"}}
                </p>
                <p>
                    {{ form.car_state.label_tag }}*
                    {{ form.car_state |attr:"required:true"}}
                </p>
                <hr class="border border-primary">
                <p>
                    {{ form.image1.label_tag}}*
                    <input type="file" 
                        name="image1" 
                        accept="image/*"
                        id="id_image1" 
                        style="display: none;" 
                        oninvalid="this.setCustomValidity('กรุณาถ่ายรูปโลโก้')"
                        oninput="this.setCustomValidity('')">

                    <!-- Label as button -->
                    <label for="id_image1" class="upload-label" id="label_image1">
                        <i class="fas fa-camera"></i>&nbsp;ถ่ายรูปภาพ 1
                    </label>

                    <!-- Preview container -->
                    <div id="preview-container" style="margin-top: 10px;">
                        <img id="preview-image1" src="" alt="Preview โลโก้" class="preview-image">
                    </div>
                </p>
                
                <p>
                    {{ form.image2.label_tag}}*
                    <input type="file" 
                        name="image2" 
                        accept="image/*"
                        id="id_image2" 
                        style="display: none;" 
                        oninvalid="this.setCustomValidity('กรุณาถ่ายรูปภาพ 2')"
                        oninput="this.setCustomValidity('')">

                    <label for="id_image2" class="upload-label" id="label_image2">
                        <i class="fas fa-camera"></i>&nbsp;ถ่ายรูปภาพ 2
                    </label>

                    <div style="margin-top: 10px;">
                        <img id="preview-image2" src="" alt="Preview ภาพ 2" class="preview-image" style="display:none; max-width:150px; border:1px solid #ccc;">
                    </div>
                </p>

                <p>
                    {{ form.image3.label_tag}}
                    <input type="file" 
                        name="image3" 
                        accept="image/*"
                        id="id_image3" 
                        style="display: none;" 
                        oninvalid="this.setCustomValidity('กรุณาถ่ายรูปภาพ 3')"
                        oninput="this.setCustomValidity('')">

                    <label for="id_image3" class="upload-label" id="label_image3">
                        <i class="fas fa-camera"></i>&nbsp;ถ่ายรูปภาพ 3
                    </label>

                    <div style="margin-top: 10px;">
                        <img id="preview-image3" src="" alt="Preview ภาพ 3" class="preview-image" style="display:none; max-width:150px; border:1px solid #ccc;">
                    </div>
                </p>
                <p>
                    {{ form.image4.label_tag}}
                    <input type="file" 
                        name="image4" 
                        accept="image/*"
                        id="id_image4" 
                        style="display: none;" 
                        oninvalid="this.setCustomValidity('กรุณาถ่ายรูปภาพ 4')"
                        oninput="this.setCustomValidity('')">

                    <label for="id_image4" class="upload-label" id="label_image4">
                        <i class="fas fa-camera"></i>&nbsp;ถ่ายรูปภาพ 4
                    </label>

                    <div style="margin-top: 10px;">
                        <img id="preview-image4" src="" alt="Preview ภาพ 4" class="preview-image" style="display:none; max-width:150px; border:1px solid #ccc;">
                    </div>
                </p>
                <p>
                    {{ form.approve_status }}
                </p>
                {% csrf_token %}
                <div class="row">
                    <div class="col-6">
                        <a href="{% url 'mobileMenu' %}" class="btn btn-lg btn-block btn-secondary" onclick="return confirm('คุณต้องการ Cancel หรือไม่ ?\n *** หาก Cancel ข้อมูลจะไม่ถูกบันทึก')">
                            Cancel
                        </a>
                    </div>
                    <div class="col-6">
                        <button type="submit" class="btn btn-lg btn-block btn-primary">
                            <i class="fas fa-save"></i>
                            บันทึก
                        </button>
                    </div>
                </div>
            </form>
        </div>
      </div>
</div>

{% endblock%}
{% block javascript %}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
<!-- Select2 JS -->
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>


<script>
    $('#id_name').css('pointer-events','none');
    
    $(function() {
        setupAutocomplete("#job1_autocomplete", "#id_job1", "#job1-show-all", "{% url 'job_car_dep_autocomplete' %}");
        setupAutocomplete("#job2_autocomplete", "#id_job2", "#job2-show-all", "{% url 'job_car_dep_autocomplete' %}");
        setupAutocomplete("#job3_autocomplete", "#id_job3", "#job3-show-all", "{% url 'job_car_dep_autocomplete' %}");
        setupAutocomplete("#job4_autocomplete", "#id_job4", "#job4-show-all", "{% url 'job_car_dep_autocomplete' %}");
        // add more as needed...
    });

    function setupAutocomplete(inputSelector, hiddenSelector, buttonSelector, url) {
        var $input = $(inputSelector);
        var $hidden = $(hiddenSelector);

        $input.autocomplete({
            source: function(request, response) {
                $.ajax({
                    url: url,
                    dataType: "json",
                    data: { term: request.term },
                    success: function(data) {
                        response(data);
                    }
                });
            },
            minLength: 0,
            select: function(event, ui) {
                // set both inputs to the NAME
                $hidden.val(ui.item.value);
                $input.val(ui.item.label);
                return false;
            }
        });

        // Show all on ▼ click
        $(buttonSelector).on("click", function() {
            $input.autocomplete("search", "");
            $input.focus();
        });
    }

    $('#id_car').select2({
        ajax: {
            url: "{% url 'car_search' %}",
            dataType: 'json',
            delay: 250,
            data: function (params) {
                return {
                    q: params.term, // search term
                    'rq_type': [1,2],
                };
            },
            processResults: function (data) {
                return {
                    results: data.results
                };
            },
            cache: true
        },
        placeholder: 'ค้นหาด้วย code หรือ ทะเบียนรถ ...',
        minimumInputLength: 2,
        allowClear: true
    });

    //after load
    $(document).ready(function() {
        if($('#id_car').val() != "")
            $('#id_car').next('.select2-container').css('pointer-events', 'none');
        /*
        $('#id_name').select2({
            theme: 'bootstrap4',
            placeholder: "ค้นหาชื่อ",
            allowClear: true,
            width: '100%'   // <=== สำคัญ
        });
        */
    });

    // ฟังก์ชัน preview
    function setupImagePreview(inputId, previewId) {
        const inputFile = document.getElementById(inputId);
        const previewImage = document.getElementById(previewId);

        if (inputFile && previewImage) {
            inputFile.addEventListener('change', function(event) {
                const file = event.target.files[0];
                if (file) {
                    const reader = new FileReader();
                    reader.onload = function(e) {
                        previewImage.src = e.target.result;
                        previewImage.style.display = 'block';
                    }
                    reader.readAsDataURL(file);
                } else {
                    previewImage.src = '';
                    previewImage.style.display = 'none';
                }
            });
        }
    }

    // ใช้งานกับแต่ละคู่ input + preview
    setupImagePreview('id_image1', 'preview-image1');
    setupImagePreview('id_image2', 'preview-image2');
    setupImagePreview('id_image3', 'preview-image3');
    setupImagePreview('id_image4', 'preview-image4');

    //before submit
    $('form').submit(function () {
        const submitButton = $(this).find("[type='submit']");
        submitButton.prop("disabled", true); //ปิดปุ่ม submit หากมีการกดซ้ำ

        const inputFile1 = document.getElementById('id_image1');
        const inputFile2 = document.getElementById('id_image2');
        if (inputFile1.files.length < 1) {
            $("#id_mile_start").focus();
            alert('กรุณาถ่ายรูปภาพที่ 1');

            submitButton.prop("disabled", false); // เปิดปุ่ม submit อีกครั้ง
            event.preventDefault(); // Prevent form submission
            return false;
        }

        if (inputFile2.files.length < 1) {
            $("#id_mile_start").focus();
            alert('กรุณาถ่ายรูปภาพที่ 2');

            submitButton.prop("disabled", false); // เปิดปุ่ม submit อีกครั้ง
            event.preventDefault(); // Prevent form submission
            return false;
        }
    });

</script>
{% endblock%}
