{% extends 'layouts.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load templatehelpers %}

{% block content %}
<div class="container">
    <h3 align="center">ใบรับสินค้า</h3>
    <div class="card my-3 bg-light div-shadow">
        <div class="card-body">
          <form method="get">
            {% csrf_token %}
            <div class="form-row">
              <div class="form-group col-md-1 mb-0">
                {{ filter.form.ref_no|as_crispy_field }}
              </div>
              <div class="form-group col-md-2 mb-0">
                {{filter.form.po__ref_no|as_crispy_field}}
              </div>
              <div class="form-group col-md-3 mb-0">
                {{filter.form.po__distributor|as_crispy_field}}
              </div>
              <div class="form-group col-md-1 mb-0">
                {{filter.form.po__credit|as_crispy_field}}
              </div>
              <div class="form-group col-md-2 mb-0">
                {{filter.form.start_created|as_crispy_field}}
              </div>
              <div class="form-group col-md-2 mb-0">
                {{filter.form.end_created|as_crispy_field}}
              </div>
              <div class="form-group col-md-1 mb-0">
                <div>
                  <label for=""></label>
                  <div class="my-2">
                    <button type="submit" class="btn btn-info">กรอง<i class="fas fa-filter"></i></button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    <div class="card div-shadow">
        <div class="card-body">
          <!--a class="btn btn-primary btn-block" href="{%url 'createReceive' %}" role="button"><i class="fas fa-plus-square"></i> สร้างใบรับสินค้า</a -->
          <a class="btn btn-primary btn-block" href="{%url 'uploadReceive' %}" role="button"><i class="fas fa-plus-square"></i> สร้างใบรับสินค้า</a>
          <div class="table-responsive">
            <table class="table table-striped my-3">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">รหัสใบรับสินค้า</th>
                  <th scope="col">รหัสใบสั่งสินค้า</th>
                  <th scope="col">ชื่อผู้จำหน่าย</th>
                  <th scope="col">เครดิต</th>
                  <th scope="col">วันที่รับสินค้า</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
              {% for rc in rcs %}
                <tr>
                  <th scope="row"><a href="{%url 'showReceive' rc.id %}">{{rc.ref_no}}</a></th>
                  <td>{{rc.po.ref_no}}</td>
                  <td>{{rc.po.distributor}}</td>
                  <td>{{rc.po.credit}}</td>
                  <td>{{rc.created |date:"d/m/Y"}}</td>
                  <td>
                      <!--a href="{%url 'editReceiveItem' rc.id %}" class="btn btn-secondary"><i class="fas fa-edit"></i> แก้ไข</a-->
                      <a onclick="return confirm('คุณต้องการลบใบรับสินค้าหรือไม่ ?')" href="{% url 'removeReceive' rc.id %}" class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i> ลบ</a>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
    </div>
    <br/>
    <!--Pagination-->
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
      {% if rcs.has_previous %}
          <li class="page-item">
          <a class="page-link" href="{% my_url rcs.previous_page_number 'page' request.GET.urlencode %}">Previous</a>
        </li>
      {% else %}
          <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
        </li>
      {% endif %}

      {% if rcs.number|add:'-4' > 1 %}
          <li class="page-item"><a class="page-link" href="{% my_url rcs.number|add:'-5' 'page' request.GET.urlencode %}">&hellip;</a></li>
      {% endif %}

      {% for i in rcs.paginator.page_range %}
          {% if rcs.number == i %}
              <li class="page-item active" aria-current="page">
            <span class="page-link">
              {{ i }}
              <span class="sr-only">(current)</span>
            </span>
          </li>
          {% elif i > rcs.number|add:'-5' and i < rcs.number|add:'5' %}
               <li class="page-item"><a class="page-link" href="{% my_url i 'page' request.GET.urlencode %}">{{ i }}</a></li>
          {% endif %}
      {% endfor %}

      {% if rcs.paginator.num_pages > rcs.number|add:'4' %}
         <li class="page-item"><a class="page-link" href="{% my_url rcs.number|add:'5' 'page' request.GET.urlencode %}">&hellip;</a></li>
      {% endif %}

      {% if rcs.has_next %}
          <li class="page-item">
          <a class="page-link"  href="{% my_url rcs.next_page_number 'page' request.GET.urlencode %}">Next</a>
        </li>
      {% else %}
          <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
        </li>
      {% endif %}
    </ul>
  </nav>
  <!--end of Pagination-->
</div>
{% endblock%}