{% extends 'layouts.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container my-3">
    <h2 align="center">ใบสั่งซื้อ</h2>
    <div class="card bg-light">
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                {% if form.distributor.label %}
                <label>{{ form.distributor.label }}</label>
                <div>
                    <input type="text" name="form-distributor" id="id-form-distributor" class="form-control" Placeholder="ค้นหาผู้จำหน่าย ..." autocomplete="off" onfocusout="searchDataDistributor()">
                    <!--input id="id-form-distributor" name="form-distributor" type="text" list="idDistributorList" class="distributor form-control" Placeholder="ค้นหาผู้จำหน่าย ..." autocomplete="off">
                    <datalist-- id="idDistributorList">
                    {% for results in distributorList %}
                        <option data-id="{{results.id}}" data-show="{{results.name}}" value="{{results.id}}-{{results.name}}" data-credit="{{results.credit__id}}" data-vat_type="{{results.vat_type__id}}"></option>
                    {% endfor %}
                    </datalist-->
                </div>
                {% endif %}
                <p>{{ form | crispy}}</p>
                {% csrf_token %}
                <button type="submit" class="btn btn-primary hidden-print">
                    <i class="fas fa-save"></i>
                    บันทึก
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
<script>

    var now = new Date();
    var day = ("0" + now.getDate()).slice(-2);
    var month = ("0" + (now.getMonth() + 1)).slice(-2);
    var today = now.getFullYear()+"-"+(month)+"-"+(day) ;
    $('#id_created').val(today);

    //After page load
    $(function() {
        //ปิดไม่ให้แก้รหัสใบสั่งซื้อหากไม่มีสิทธิ
        "{% if not isEditPO %}"
            $('#div_id_ref_no').hide();
            $('#div_id_created').hide();
        "{% endif %}"

        //ปิดไม่ให้แก้ผู้อนุมัติใบสั่งซื้อหากไม่มีสิทธิ
        "{% if not isEditApproverUserPO %}"
            $('#div_id_approver_user').hide();
        "{% endif %}"
    });

$(function () {
    $("#id-form-distributor").autocomplete({
        source: '{% url "autocompalteDistributor" %}',
        minLength: 1,
    });
});

function searchDataDistributor(){
    if($('#id-form-distributor').val() != ""){
        var str = $('#id-form-distributor').val();
        var items = str.split( "-" );
        var idInput = items[0];
        // Create Ajax Call
        if(idInput){
            //set id_distributor
            $("#id_distributor").val(idInput);
            $.ajax({
            url: '{% url "searchDataDistributor" %}',
            data: {
                    'id_distributor': idInput,
                },
            dataType: 'json',
            success: function (data) {
                if (data.credit) {
                    //set id_credit , id_vat_type
                    $("#id_credit").val(data.credit);
                    $("#id_vat_type").val(data.vat_type);
                }
            }
            });
        }
        return false;
    }

  }
    
/*
$(".distributor" ).change(function() {
    // get data id ของ option data list
    var str = $("#id-form-distributor").val();
    var items = str.split( "-" );
    var id = items[items.length - 2]
    $("#id_distributor").val(id);
    var credit = $('#idDistributorList option[data-id='+id+']').attr('data-credit');
    $("#id_credit").val(credit);

    var vat_type = $('#idDistributorList option[data-id='+id+']').attr('data-vat_type');
    $("#id_vat_type").val(vat_type);

    $('form').submit(function() {
        
    });

});
*/
</script>
{% endblock %}