{% extends 'layouts.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container my-3">
    <h2 align="center">ใบสั่งซื้อ</h2>
    <div class="card bg-light">
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                {% if form.distributor.label %}
                <label>{{ form.distributor.label }}</label>
                <div>
                    <input id="id-form-distributor" name="form-distributor" type="text" list="idDistributorList" class="distributor form-control" Placeholder="ค้นหาผู้จำหน่าย ..." autocomplete="off">
                    <datalist id="idDistributorList">
                    {% for results in distributorList %}
                        <option data-id="{{results.id}}" data-show="{{results.name}}" value="{{results.id}}-{{results.name}}" data-credit="{{results.credit__id}}" data-vat_type="{{results.vat_type__id}}"></option>
                    {% endfor %}
                    </datalist>
                </div>
                {% endif %}
                <p>{{ form | crispy}}</p>
                {% csrf_token %}
                <button type="submit" class="btn btn-primary hidden-print">
                    <i class="fas fa-save"></i>
                    บันทึก
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
<script>
    $(".distributor" ).change(function() {
    // get data id ของ option data list
    var str = $("#id-form-distributor").val();
    var items = str.split( "-" );
    var id = items[items.length - 2]
    $("#id_distributor").val(id);
    var credit = $('#idDistributorList option[data-id='+id+']').attr('data-credit');
    $("#id_credit").val(credit);

    var vat_type = $('#idDistributorList option[data-id='+id+']').attr('data-vat_type');
    $("#id_vat_type").val(vat_type);
  });
</script>
{% endblock %}