{% extends 'layouts.html' %}
{% load static %}
{% load widget_tweaks %}
{% load humanize %}
{% load crispy_forms_tags %}

{% block css %}
<style>
    @media print {
    .hidden-print {
      display: none;
    }
  }
  u.dotted {
  border-bottom: 1px dashed #999;
  text-decoration: none;
  }
</style>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row my-2">
        <div class="col-md-12">
        <div class="row">
          <div class="col">
            <description>
              <h4>{{po.address_company.name_th}}{% if isUploadeReceipt %}   <button type="button" class="btn btn-outline-dark d-print-none btn-sm" data-toggle="modal" data-target="#addressCompany"><i class="fas fa-cog"></i></button>{%endif%}</h4>
              {{po.address_company.address}}
              {% if po.address_company.tel %}<br>โทร {{po.address_company.tel}}{%endif%}
              {% if po.address_company.tex %}<br>เลขที่ผู้เสียภาษี {{po.address_company.tex}}{%endif%}
            </description>
          </div>
          <form  class="float-right" method="post" enctype="multipart/form-data">
              {% csrf_token %}
                {% if mode == 4 and isUploadeReceipt %}
                  <div class="col d-print-none">
                    <div class="pdf">
                      ใบรับสินค้า {{form.receipt_pdf | add_class:"form-control text-right"}}
                    </div>
                    <button type="submit" name="btnformPOr" class="btn btn-primary my-1">
                      <i class="fas fa-save"></i>
                      บันทึก
                    </button>
                  </div>
                  {%endif%}
                  <div class="modal fade" id="addressCompany" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLongTitle">แก้ไขที่อยู่ตามจดทะเบียน</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          {{poa_form.address_company | add_class:"form-control"}}
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">ปิด</button>
                          <button type="submit"  name="btnformPOa" class="btn btn-primary">บันทึกการแก้ไข</button>
                        </div>
                      </div>
                    </div>
                  </div>
          </form>
        </div>
        <hr>
        <div class="row">
          <div class="col">
            <address>
            <strong>ผู้จำหน่าย: {{po.distributor.id}}</strong><br>
              {% if po.distributor.prefix %}{{po.distributor.prefix}}{%endif%} {{po.distributor}}<br>
              {{po.distributor.address}}<br>
              โทร : {{po.distributor.tel}}<br>
              <h6 style="font-size:8pt">
              {% if po.cp %}
                รหัสใบเปรียบเทียบ :
                <b><u><a class="{% if po.cp.is_re_approve %}text-danger{%endif%}" href="{%url 'showComparePricePO' po.cp.id 4 %}">{{po.cp.ref_no}}</a></u></b>
              {% else %}
                รหัสใบขอซื้อ :
                {% for i in new_pr %}
                  <b><u><a href="/purchaseRequisition/show/{{i.id}}/4">{{i.ref_no}}</a></u>, </b>
                {% endfor %}
              {%endif%}
              </h6>
            </address>
          </div>
          <div class="col text-right">
            <address>
              <strong>ใบสั่งซื้อ
                {% if po.is_re_approve == True %}
                  <b class="text-danger">***ฉบับแก้ไข</b>
                {% endif %}
                {% for item in items %}
                  {% if item.item.requisit.memorandum_pdf %}
                    {% ifchanged item.item.requisit.memorandum_pdf %}
                      <a href="/media/{{item.item.requisit.memorandum_pdf}}" class="btn btn-outline-success btn-sm hidden-print"><i class="fas fa-file-download"></i> เอกสารแนบ</a>
                    {% endifchanged %}
                  {% endif %}
                {% endfor %}
              </strong><br>
              เลขที่ใบสั่งซื้อ : {{po.ref_no}}<br>
              วันที่ : {{po.created}}<br>
              เครดิต : {{po.credit}}<br>
              ขนส่งโดย : {{po.shipping}}
            </address>
          </div>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><strong>รายการสั่งซื้อ</strong></h3>
          </div>
          <div class="panel-body">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col" class="text-center">No.</th>
                        <th scope="col" class="text-center">รหัสสินค้า/รายละเอียด</th>
                        <th scope="col" class="text-center">จำนวน</th>
                        <th scope="col" class="text-center">หน่วย</th>
                        <th scope="col" class="text-center">หน่วยละ</th>
                        <th scope="col" class="text-center">จำนวนเงิน</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for item in items %}
                        <tr>
                            <td class="text-center">{{ forloop.counter }}</td>
                            <td>{{ item.item.product.id }} {{ item.item }}</td>
                            <td class="text-center">{{ item.quantity }}</td>
                            <td class="text-center">{{ item.unit}}</td>
                            <td class="text-center">{{ item.unit_price | intcomma}}</td>
                            <td class="text-center">{{ item.price | intcomma}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <hr>
            <div class="row">
              <div class="col-7">
                <p>หมายเหตุ : {{po.note}}</p>
              </div>
              <div class="col-3">
                <p class="text-right">รวมเป็นเงิน</p>
              </div>
              <div class="col-2">
                <p class="text-right">{{po.total_price | intcomma}}&ensp;บาท</p>
              </div>
            </div>
            <div class="row">
              <div class="col-7">
                <p>สถานที่จัดส่ง : {% if po.delivery %}{{po.delivery}}{% endif %}</p>
              </div>
              <div class="col-3">
                <p class="text-right">หักส่วนลด</p>
              </div>
              <div class="col-2">
                <p class="text-right">{{po.discount | intcomma}}&ensp;{% if '%' in po.discount %}{%else%}บาท{%endif%}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-10">
                <p class="text-right">จำนวนเงินหลังหักส่วนลด</p>
              </div>
              <div class="col-2">
                <p class="text-right">{{po.total_after_discount | intcomma}}&ensp;บาท</p>
              </div>
            </div>
            <div class="row">
              <div class="col-10">
                <p class="text-right">ค่าขนส่ง</p>
              </div>
              <div class="col-2">
                <p class="text-right">{{po.freight | intcomma}}&ensp;บาท</p>
              </div>
            </div>
            <div class="row">
              <div class="col-10">
                <p class="text-right">จำนวนภาษีมูลค่าเพิ่ม 7%</p>
              </div>
              <div class="col-2">
                <p class="text-right">{{po.vat | intcomma}}&ensp;บาท</p>
              </div>
            </div>
            <div class="row">
              <div class="col-7">
                <p id="total-spell"></p>
              </div>
              <div class="col-3">
                <p class="text-right">จำนวนเงินรวมทั้งสิ้น</p>
              </div>
              <div class="col-2">
                <p class="text-right">{{po.amount | intcomma}}&ensp;บาท</p>
              </div>
            </div>
            <hr>
            <div class="row spacer my-3">
                <div class="col">
                  <p>ผู้สั่งสินค้า</p>
                  <p><img src="/media/{{po.stockman_user.userprofile.signature}}" width="100" height="40" style="border-bottom: 1px dashed #999;text-decoration: none;"/></p>
                  <p>{{po.stockman_user}}</p>
                  <p>({{po.stockman_user.userprofile.position}})</p>
                </div>
                <div class="col">
                    <p>ในนาม {{po.address_company.name_th}}</p>
                    <p>ผู้รับมอบอำนาจ</p>
                    <p>
                        {% if po.approver_status_id == 2 %}
                          <img src="/media/{{po.approver_user.userprofile.signature}}" width="160" height="75" style="border-bottom: 1px dashed #999;text-decoration: none;"/>
                        {% else %}
                          <u class="dotted">
                            #{{po.approver_status}}
                          </u>
                        {% endif %}
                    </p>
                </div>
                <div class="float-right">
                  <h6>FM-PU-003 Rev.00</h6>
                  <button type="button" class="btn btn-secondary pull-right hidden-print" onclick="window.print();">
                      <i class="fas fa-print"></i>
                      ปริ้นใบสั่งซื้อ
                  </button>
                </div>
            </div>
            {% if po.approver_status_id != 1 and po.is_receive != True  and isPurchasing%}
              <div class="row my-3 d-print-none">
                <a class="btn btn-warning" onclick="return confirm('คุณต้องการขอเปลี่ยนแปลงรายละเอียดรายการนี้หรือไม่ ?\n *** หากทำรายการนี้จะต้องทำการอนุมัติใหม่ทั้งหมด')" href="{%url 'editPOItem' po.id False True %}" role="button"><i class="fas fa-edit"></i> ขอเปลี่ยนแปลงรายละเอียดรายการ</a>
              </div>
            {% endif %}
            <hr>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
<script src="{% static 'js/thaibath.js' %}" type="text/javascript"></script>
<script type="text/javascript">

$('div.pdf a').addClass('btn btn-outline-success btn-sm');
$('div.pdf a').text('Download');

$(function() {
    //แสดง จำนวนเงินรวมทั้งสิ้นสะกด
    var amount = "{{po.amount}}";
		var thaibath = ArabicNumberToText(amount);
    document.getElementById("total-spell").innerHTML = "(" + thaibath + ")";
});
</script>
{% endblock %}