{% extends 'layouts.html' %}
{% load static %}
{% load widget_tweaks %}
{% load humanize %}
{% load crispy_forms_tags %}

{% block css %}
<style>
    @media print {
    .hidden-print {
      display: none;
    }
  }
  u.dotted {
  border-bottom: 1px dashed #999;
  text-decoration: none;
  }

  p.line75 {
    line-height:75%;
  }

  .verybigmodal {
    max-width: 80%;
  }
</style>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row my-2">
        <div class="col-md-12">
        <div class="row">
          <div class="col">
            <description>
              {% if po.is_cancel %}
                <h3 class="text-danger">ยกเลิก</h3>
                <h4 class="text-danger">({{po.cancel_reason}})</h4>
              {%endif%}
              <h4>{{po.address_company.name_th}}{% if isUploadeReceipt %}   <button type="button" class="btn btn-outline-dark d-print-none btn-sm" data-toggle="modal" data-target="#addressCompany"><i class="fas fa-cog"></i></button>{%endif%}</h4>
              {{po.address_company.address}}
              {% if po.address_company.tel %}<br>โทร {{po.address_company.tel}}{%endif%}
              {% if po.address_company.tex %}<br>เลขที่ผู้เสียภาษี {{po.address_company.tex}}{%endif%}
            </description>
          </div>
          <form  class="float-right" method="post" enctype="multipart/form-data">
              {% csrf_token %}
                {% if mode == 4 and isUploadeReceipt %}
                  <div class="col d-print-none">
                    <div class="pdf">
                      ใบรับสินค้า {{form.receipt_pdf | add_class:"form-control text-right"}}
                      {% if form.receipt_pdf.errors %}
                      <div class="alert alert-warning" role="alert">
                          {{ form.receipt_pdf.errors }}
                      </div>
                      {% endif %}
                    </div>
                    <!-- แก้ไขที่อยู่หัวรายงาน -->
                    <button type="submit" name="btnformPOr" class="btn btn-primary my-1">
                      <i class="fas fa-save"></i>
                      บันทึก
                    </button>
                  </div>
                  {%endif%}
                  <!-- แก้ไขที่อยู่หัวรายงาน -->
                  <div class="modal fade" id="addressCompany" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLongTitle">แก้ไขที่อยู่ตามจดทะเบียน</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          {{poa_form.address_company | add_class:"form-control"}}
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">ปิด</button>
                          <button type="submit"  name="btnformPOa" class="btn btn-primary" onclick="">บันทึกการแก้ไข</button>
                        </div>
                      </div>
                    </div>
                  </div>
          </form>
          <!-- QR Code 17-05-2024 -->
          <div class="col-4 float-right" style="display: flex; align-items: center;">
            {% if po.qr_code %}
                <img src="{{ po.qr_code.url }}" width="120" height="120" style="margin-right: 10px;">
            <ul class="list-unstyled my-3 text-left">
                {% for bp in base_po_type %}
                    <li>
                        {% if bp == po.po_type %}
                            <i class="fas fa-square"></i>
                        {% else %}
                            <i class="far fa-square"></i>
                        {% endif %}
                        {{ bp.name }}
                    </li>
                {% endfor %}
            </ul>
            {% endif %}
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col">
            <address>
            <strong>ผู้จำหน่าย: {{po.distributor.id}}</strong><br>
              {% if po.distributor.prefix %}{{po.distributor.prefix}}{%endif%} {{po.distributor}}<br>
              {{po.distributor.address}}<br>
              โทร : {{po.distributor.tel}}<br>
              <h6 style="font-size:8pt">
              {% if po.cp %}
                รหัสใบเปรียบเทียบ :
                <b><u><a class="{% if po.cp.is_re_approve %}text-danger{%endif%}" href="{%url 'showComparePricePO' po.cp.id 4 %}">{{po.cp.ref_no}}</a></u></b>
              {% else %}
                รหัสใบขอซื้อ :
                {% for i in new_pr %}
                  <b><u><a href="/purchaseRequisition/show/{{i.id}}/4">{{i.ref_no}}</a></u>, </b>
                {% endfor %}
              {%endif%}
              </h6>
            </address>
          </div>
          <div class="col text-right">
            <address>
              <strong>ใบสั่งซื้อ
                {% if po.is_re_approve == True %}
                  <b class="text-danger">***ฉบับแก้ไข</b>
                {% endif %}
                {% for item in items %}
                  {% if item.item.requisit.memorandum_pdf %}
                    {% ifchanged item.item.requisit.memorandum_pdf %}
                      <a href="/media/{{item.item.requisit.memorandum_pdf}}" class="btn btn-outline-success btn-sm hidden-print"><i class="fas fa-file-download"></i> เอกสารแนบ</a>
                    {% endifchanged %}
                  {% endif %}
                {% endfor %}
              </strong><br>
              เลขที่ใบสั่งซื้อ : {{po.ref_no}}<br>
              วันที่ : {{po.created}}<br>
              เครดิต : {{po.credit}}<br>
              ขนส่งโดย : {{po.shipping}}
            </address>
          </div>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><strong>รายการสั่งซื้อ</strong></h3>
          </div>
          <div class="panel-body">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col" class="text-center">No.</th>
                        <form class="form-inline ml-3" id="search" method="GET">					
                          <th scope="col" class="text-center" style="cursor: pointer;" onclick="searchLastPoItem()" data-target="#myEdit" data-toggle="modal">
                            รหัสสินค้า/รายละเอียด <i class="fas fa-list text-danger d-print-none"></i>
                          </th>
                        </form>
                        <th scope="col" class="text-right">จำนวน</th>
                        <th scope="col" class="text-center">หน่วย</th>
                        <th scope="col" class="text-right">หน่วยละ</th>
                        <th scope="col" class="text-right">ส่วนลด</th>
                        <th scope="col" class="text-right">จำนวนเงิน</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for item in items %}
                        <tr>
                            <td class="text-center">{{ forloop.counter }}</td>
                            <td>{{ item.item.product.id }} {{ item.item.product_name }} <b class="text-success">{{ item.description }}</b></td>
                            <td class="text-right">{{ item.quantity |floatformat:"-4"}}</td>
                            <td class="text-center">{{ item.unit}}</td>
                            <td class="text-right">{{ item.unit_price | intcomma}}</td>
                            <td class="text-right">{% if item.discount %}{{item.discount | intcomma}}&ensp;{% if '%' in po.discount %}{%endif%}{%else%}0.00{%endif%}</td>
                            <td class="text-right">{{ item.price | intcomma}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <hr>
            <!-- Old ****************
            <div class="row">
              <div class="col-7">
                <p>หมายเหตุ : {{po.note}}</p>
              </div>
              <div class="col-3">
                <p class="text-right">รวมเป็นเงิน</p>
              </div>
              <div class="col-2">
                <p class="text-right">{{po.total_price | intcomma}}&ensp;บาท</p>
              </div>
            </div>
            <div class="row">
              <div class="col-7">
                <p>สถานที่จัดส่ง : {% if po.delivery %}{{po.delivery}}{% endif %}</p>
              </div>
              <div class="col-3">
                <p class="text-right">หักส่วนลด</p>
              </div>
              <div class="col-2">
                <p class="text-right">{{po.discount | intcomma}}&ensp;{% if '%' in po.discount %}{%else%}บาท{%endif%}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-10">
                <p class="text-right">จำนวนเงินหลังหักส่วนลด</p>
              </div>
              <div class="col-2">
                <p class="text-right">{{po.total_after_discount | intcomma}}&ensp;บาท</p>
              </div>
            </div>
            <div class="row">
              <div class="col-10">
                <p class="text-right">ค่าขนส่ง</p>
              </div>
              <div class="col-2">
                <p class="text-right">{{po.freight | intcomma}}&ensp;บาท</p>
              </div>
            </div>
            <div class="row">
              <div class="col-10">
                <p class="text-right">จำนวนภาษีมูลค่าเพิ่ม 7%</p>
              </div>
              <div class="col-2">
                <p class="text-right">{{po.vat | intcomma}}&ensp;บาท</p>
              </div>
            </div>
            <div class="row">
              <div class="col-7">
                <p id="total-spell"></p>
              </div>
              <div class="col-3">
                <p class="text-right">จำนวนเงินรวมทั้งสิ้น</p>
              </div>
              <div class="col-2">
                <p class="text-right">{{po.amount | intcomma}}&ensp;บาท</p>
              </div>
            </div>
            -->

            <!-- New **************** -->
            <div class="row">
              <div class="col-7">
                <div class="row">
                  <div class="col">
                    <p>ทะเบียนรถ/เครื่องจักร/หน่วยงาน : {% if items.0.item.requisit.car.code %}{{ items.0.item.requisit.car.name }}{{ items.0.item.requisit.car.code }}{% endif %}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col"><p>หมายเหตุ : {% if po.note %}{{po.note}}{% endif %}</p></div>
                </div>
                <div class="row">
                  <div class="col"><p>สถานที่จัดส่ง : {% if po.delivery %}{{po.delivery}}{% endif %}</p></div>
                </div>
              </div>
              <div class="col-3">
                <div class="row">
                  <div class="col"><p class="text-right">รวมเป็นเงิน</p></div>
                </div>
                <div class="row">
                  <div class="col"><p class="text-right">หักส่วนลด</p></div>
                </div>
                <div class="row">
                  <div class="col"><p class="text-right">จำนวนเงินหลังหักส่วนลด</p></div>
                </div>
                <div class="row">
                  <div class="col"><p class="text-right">ค่าขนส่ง</p></div>
                </div>
                <div class="row">
                  <div class="col"><p class="text-right">จำนวนภาษีมูลค่าเพิ่ม 7%</p></div>
                </div>
              </div>
              <div class="col-2">
                <div class="row">
                  <div class="col"><p class="text-right">{{po.total_price | intcomma}}&ensp;บาท</p></div>
                </div>
                <div class="row">
                  <div class="col">
                    <p class="text-right">{{po.discount | intcomma}}&ensp;{% if '%' in po.discount %}{%else%}บาท{%endif%}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <p class="text-right">{{po.total_after_discount | intcomma}}&ensp;บาท</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <p class="text-right">{{po.freight | intcomma}}&ensp;บาท</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <p class="text-right">{{po.vat | intcomma}}&ensp;บาท</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-7">
                <p id="total-spell"></p>
              </div>
              <div class="col-3">
                <p class="text-right">จำนวนเงินรวมทั้งสิ้น</p>
              </div>
              <div class="col-2">
                <p class="text-right">{{po.amount | intcomma}}&ensp;บาท</p>
              </div>
            </div>

            <hr>
            <div class="row spacer my-3">
                <div class="col">
                  <p>ผู้สั่งสินค้า</p>
                  <p><img src="/media/{{po.stockman_user.userprofile.signature}}" width="100" height="40" style="border-bottom: 1px dashed #999;text-decoration: none;"/></p>
                  <p>{{po.stockman_user}}</p>
                  <p class="line75">({{po.stockman_user.userprofile.position}})</p>
                </div>
                <div class="col">
                    <p class="line75">ในนาม {{po.address_company.name_th}}</p>
                    <p class="line75">ผู้รับมอบอำนาจ</p>
                    <p>
                        {% if po.approver_status_id == 2 %}
                          <img src="/media/{{po.approver_user.userprofile.signature}}" width="160" height="75" style="border-bottom: 1px dashed #999;text-decoration: none;"/>
                          <p class="line75">{{po.approver_user}}</p>
                        {% endif %}
                    </p>
                </div>
                <div class="float-right">
                  <h6>{{bc.affiliated.iso_code.po_code|safe}}</h6>
                </div>
              </div>
              <div class="row my-3 d-print-none">
                {% if po.approver_status_id != 1 and isPurchasing%}
                <div class="col">
                  <!-- ขอเปลี่ยนแปลงรายละเอียกรายการ -->
                  <a class="btn btn-warning" onclick="return confirm('คุณต้องการขอเปลี่ยนแปลงรายละเอียดรายการนี้หรือไม่ ?\n *** หากทำรายการนี้จะต้องทำการอนุมัติใหม่ทั้งหมด')" href="{%url 'editPOItem' po.id False True %}" role="button"><i class="fas fa-edit"></i> ขอเปลี่ยนแปลงรายละเอียดรายการ</a>
                  <!-- ขอยกเลิกรายการ -->
                  <button type="button" class="btn btn-danger d-print-none" data-toggle="modal" data-target="#cancelPO"><i class="fas fa-window-close"></i> ขอยกเลิกรายการ</button>
                </div>
                {% endif %}
                <div class="col text-right">
                  <button type="button" class="btn btn-secondary pull-right hidden-print" onclick="scrollToTop();window.print();">
                    <i class="fas fa-print"></i>
                    ปริ้นใบสั่งซื้อ
                </button>
                </div>
              </div>
            <hr>
          </div>
        </div>
      </div>
    </div>
    <form  method="POST">
      {% csrf_token %}
      <!-- เหตุผลยกเลิกรายการ po -->
      <div class="modal fade" id="cancelPO" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header alert alert-danger">
                <h5 class="modal-title" id="exampleModalLongTitle">เหตุผลที่ยกเลิกรายการ</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                {{cancel_form.cancel_reason | add_class:"form-control is-invalid"}}
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">ปิด</button>
                <button type="submit"  name="btnformCancelPO" class="btn btn-primary">บันทึกการยกเลิก</button>
              </div>
          </div>
        </div>
      </div>
    </form>
</div>
<!-- Modal Search-->
<div class="modal fade" id="myEdit" role="dialog">
  <div class="modal-dialog modal-lg verybigmodal">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">รายการสินค้าที่ซื้อล่าสุด</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <p id="pShowSearch"></p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block javascript %}
<script src="{% static 'js/thaibath.js' %}" type="text/javascript"></script>
<script type="text/javascript">

$('div.pdf a').addClass('btn btn-outline-success btn-sm');
$('div.pdf a').text('Download');

$(function() {
    //แสดง จำนวนเงินรวมทั้งสิ้นสะกด
    var amount = "{{po.amount}}";
		var thaibath = ArabicNumberToText(amount);
    document.getElementById("total-spell").innerHTML = "(" + thaibath + ")";
});

//ค้นหา 5 รายการล่าสุด
function searchLastPoItem(){
    var itemList = [];

    "{% for it in items %}"
        itemList.push('{{it.item.id}}');
    "{% endfor %}"

    if (itemList) {
        // Create Ajax Call
        $.ajax({
            url: '{% url "searchLastPoItem" %}',
            data: { itemList },
            dataType: 'json',
            success: function (data) {
              if (data.instance) {
                openModal(data.instance);
                e.preventDefault();
              }else{
                $("#pShowSearch").html('ไม่พบรายการที่สั่งซื้อล่าสุด');
              }
            }
        });
    } else {
      
    }
    return false;
}

function openModal(instance) {
  $("#pShowSearch").html(instance);
  $('#myEdit').modal('show');
}
</script>
{% endblock %}