{% extends 'layouts.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load templatehelpers %}
{% load humanize %}

{% block content %}
<div class="container">
    <h3 align="center">ใบสั่งซื้อ</h3>
    <div class="card my-3 bg-light div-shadow">
        <div class="card-body">
          <form method="get">
            {% csrf_token %}
            <div class="form-row">
              <div class="form-group col-md-1 mb-0">
                {{ filter.form.ref_no|as_crispy_field }}
              </div>
              <div class="form-group col-md-3 mb-0">
                {{filter.form.distributor|as_crispy_field}}
              </div>
              <div class="form-group col-md-1 mb-0">
                {{filter.form.credit|as_crispy_field}}
              </div>
              <div class="form-group col-md-2 mb-0">
                {{filter.form.stockman_user|as_crispy_field}}
              </div>
              <div class="form-group col-md-2 mb-0">
                {{filter.form.start_created|as_crispy_field}}
              </div>
              <div class="form-group col-md-2 mb-0">
                {{filter.form.end_created|as_crispy_field}}
              </div>
              <div class="form-group col-md-1 mb-0">
                <div>
                  <label for=""></label>
                  <div class="my-2">
                    <button type="submit" class="btn btn-info">กรอง<i class="fas fa-filter"></i></button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    <div class="card div-shadow">
        <div class="card-body">
          <!-- a class="btn btn-primary btn-block" href="{%url 'preparePO' %}" role="button"><i class="fas fa-plus-square"></i> สร้างใบสั่งซื้อ</a-->
          <div class="table-responsive">
            <table class="table table-striped my-3">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">รหัสใบสั่งซื้อ</th>
                  <th scope="col">รหัส CM/รหัส PR</th>
                  <th scope="col">ชื่อผู้จำหน่าย</th>
                  <th scope="col">เครดิต</th>
                  <th scope="col">ผู้สั่งสินค้า</th>
                  <th scope="col">วันที่สั่งซื้อ</th>
                  <th scope="col">ราคา</th>
                  <th scope="col" style="width:150px;">รายการสั่งซื้อ</th>
                  <th scope="col">รับสินค้า</th>
                  <th scope="col">ใบเสนอราคา</th>
                </tr>
              </thead>
              <tbody>
              {% for po in pos %}
                <tr>
                  <th scope="row"><a class="{% if po.is_re_approve %}text-danger{%endif%}" href="{%url 'showPO' po.id 1 %}">{{po.ref_no}}</a></th>
                  <td>
                    {%if po.cp %}<a class="{% if po.cp.is_re_approve %}text-danger{%endif%}" href="{%url 'showComparePricePO' po.cp.id 1 %}">{{po.cp.ref_no}}</a>{%endif%}
                    {%if po.pr %}
                      {% for pr in prs %}
                          {% if po.id == pr.po %}
                            {% ifchanged pr.item__requisit__pr_ref_no a%}
                              <a class="{% if pr.is_re_approve %}text-danger{%endif%}"  href="/purchaseRequisition/show/{{pr.item__requisit__purchase_requisition_id}}/4">{{pr.item__requisit__pr_ref_no}}</a><br>
                            {% endifchanged %}
                          {%endif%}
                      {%endfor%}
                    {%endif%}
                  </td>
                  <td>{{po.distributor}}</td>
                  <td>{{po.credit}}</td>
                  <td>{{po.stockman_user}}</td>
                  <td>{{po.created |date:"d/m/Y"}}</td>
                  <td>{% if po.amount %}{{po.amount | intcomma}}{%endif%}</td>
                  <td>
                    {% if po.approver_status_id == 1 and request.user == po.stockman_user %}
                      <div style="display: flex;">
                        <a href="{%url 'editPOItem' po.id False False %}" class="btn btn-secondary btn-sm"><i class="fas fa-edit"></i> แก้ไข</a>
                        <a onclick="return confirm('คุณต้องการลบใบสั่งซื้อนี้หรือไม่ ?')" href="{% url 'removePO' po.id %}" class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i> ลบ</a>                    
                      </div>
                    {% elif request.user.is_superuser %}
                      <div style="display: flex;">
                        <a href="{%url 'editPOItem' po.id False False %}" class="btn btn-secondary btn-sm"><i class="fas fa-edit"></i> แก้ไข</a>
                        <a onclick="return confirm('คุณต้องการลบใบสั่งซื้อนี้หรือไม่ ?')" href="{% url 'removePO' po.id %}" class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i> ลบ</a>                    
                      </div>
                    {% else %}
                      <button type="button"
                      class="btn btn-sm
                      {% if po.approver_status.id == 1 %}
                        btn-outline-warning
                      {% elif po.approver_status.id == 2 %}
                        btn-outline-success
                      {% elif po.approver_status.id == 3 %}
                        btn-outline-danger
                      {% endif %}" style="width:120px"
                      >{{po.approver_status}}</button>
                    {% endif %}
                  </td>
                  <td>
                    <button type="button"
                    class="btn btn-sm btn-block
                    {% if po.is_receive == True %}
                      btn-outline-primary
                    {% elif po.is_receive == False %}
                      btn-outline-warning
                    {% endif %}"
                    >{% if po.is_receive == True %}รับแล้ว{% elif po.is_receive == False%}ยังไม่รับ{%endif%}</button>
                  </td>
                  <td>
                    {% if po.quotation_pdf %}
                      <a href="/media/{{po.quotation_pdf}}" class="btn btn-success btn-block btn-sm" target="_blank"><i class="fas fa-file-download"></i></a>
                    {% endif %}
                  </td>
                  <!-- td>
                      {% if po.cp %}
                        <a href="{% url 'editPOFromComparison' po.id %}" class="btn btn-secondary"><i class="fas fa-edit"></i> แก้ไข</a>
                      {% else %}
                        <a href="{% url 'editPO' po.id %}" class="btn btn-secondary"><i class="fas fa-edit"></i> แก้ไข</a>
                      {% endif %}                        
                  </td -->
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
    </div>
    <br/>
    <!--Pagination-->
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
      {% if pos.has_previous %}
          <li class="page-item">
          <a class="page-link" href="{% my_url pos.previous_page_number 'page' request.GET.urlencode %}">Previous</a>
        </li>
      {% else %}
          <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
        </li>
      {% endif %}

      {% if pos.number|add:'-4' > 1 %}
          <li class="page-item"><a class="page-link" href="{% my_url pos.number|add:'-5' 'page' request.GET.urlencode %}">&hellip;</a></li>
      {% endif %}

      {% for i in pos.paginator.page_range %}
          {% if pos.number == i %}
              <li class="page-item active" aria-current="page">
            <span class="page-link">
              {{ i }}
              <span class="sr-only">(current)</span>
            </span>
          </li>
          {% elif i > pos.number|add:'-5' and i < pos.number|add:'5' %}
               <li class="page-item"><a class="page-link" href="{% my_url i 'page' request.GET.urlencode %}">{{ i }}</a></li>
          {% endif %}
      {% endfor %}

      {% if pos.paginator.num_pages > pos.number|add:'4' %}
         <li class="page-item"><a class="page-link" href="{% my_url pos.number|add:'5' 'page' request.GET.urlencode %}">&hellip;</a></li>
      {% endif %}

      {% if pos.has_next %}
          <li class="page-item">
          <a class="page-link"  href="{% my_url pos.next_page_number 'page' request.GET.urlencode %}">Next</a>
        </li>
      {% else %}
          <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
        </li>
      {% endif %}
    </ul>
  </nav>
  <!--end of Pagination-->
</div>
{% endblock%}