{% extends 'layouts.html' %}
{% load static %}

{% block css %}
<style>
body {
  --table-width: 100%; /* Or any value, this will change dinamically */
}
tbody {
  display:block;
  max-height:500px;
  overflow-y:auto;
}
thead, tbody tr {
  display:table;
  width: var(--table-width);
  table-layout:fixed;
}
#total-orders{
	background-color: #4cb4c7;
}

#orders-delivered{
	background-color: #7abecc;
}

#orders-pending{
	background-color: #7CD1C0;
}
</style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="col-md">
                <div class="card text-center text-white mb-3" id="total-orders">
                      <div class="card-header">
                          <h5 class="card-title">ใบขอซื้อที่ต้องอนุมัติ</h5><br>
                      </div>
                      <div class="card-body">
                        <h3 class="card-title">{{all_pr_ap}}</h3>
                      </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="col-md">
                <div class="card text-center text-white mb-3" id="orders-delivered">
                      <div class="card-header">
                          <h5 class="card-title">ใบสั่งซื้อที่ต้องอนุมัติ</h5><br>
                      </div>
                      <div class="card-body">
                        <h3 class="card-title">{{all_po_ap}}</h3>
                      </div>
                </div>
            </div>
        </div>
    
        <div class="col">
            <div class="col-md">
                <div class="card text-center text-white mb-3" id="orders-pending">
                      <div class="card-header">
                          <h5 class="card-title">ใบเปรียบเทียบที่ต้องอนุมัติหรือเปรียบเทียบ</h5>
                      </div>
                      <div class="card-body">
                        <h3 class="card-title">{{all_cp_ap}}</h3>
                      </div>
                </div>
            </div>
        </div>
    </div>
      <hr>
      <div class="row">
        <div class="col-sm-4">
            <h5>ใบขอซื้อ</h5>
        </div>
        <div class="col-sm-4">
            <h5>ใบสั่งซื้อ</h5>
        </div>
        <div class="col-sm-4">
            <h5>ใบเปรียบเทียบ</h5>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-sm table-striped table-bordered" style="margin-bottom: 0">
                        <thead>
                          <tr>
                            <th scope="col">รหัสใบขอซื้อ</th>
                            <th scope="col">ทำรายการ</th>
                          </tr>
                        </thead>
                        <tbody>
                            {% for pr in prs%}
                                <tr>
                                    <th scope="row"><a href="{% url 'showPR' pr.id 2 %}">{{pr.ref_no}}</a></th>
                                      <td>
                                        {% if pr.purchase_status.id == 1 or pr.approver_status.id == 1 %}
                                        <a href="{%url 'editPRApprove' pr.id True %}" class="btn btn-primary btn-block btn-sm">ทำการอนุมัติ</a>
                                        {%endif%}
                                      </td>
                                </tr>
                            {% empty %}
                                <tr>
                                  <th scope="row" colspan="2" class="text-center">
                                    <div class="alert alert-warning" role="alert">
                                      ไม่มีรายการ
                                    </div>
                                  </th>
                                </tr>
                            {% endfor %}
                        </tbody>
                      </table>
                </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
              <div class="card-body">
                  <div class="table-responsive">
                      <table class="table table-sm table-striped table-bordered" style="margin-bottom: 0">
                          <thead>
                            <tr>
                              <th scope="col">รหัสใบสั่งซื้อ</th>
                              <th scope="col">ทำรายการ</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for po in pos%}
                                <tr>
                                    <th scope="row">{{po.ref_no}}</th>
                                      <td>
                                        {% if po.approver_status.id == 1 %}
                                        <a href="{%url 'editPOApprove' po.id True%}" class="btn btn-primary btn-block btn-sm">ทำการอนุมัติ</a>
                                        {%endif%}
                                      </td>
                                </tr>
                            {% empty %}
                                <tr>
                                  <th scope="row" colspan="2" class="text-center">
                                    <div class="alert alert-warning" role="alert">
                                      ไม่มีรายการ
                                    </div>
                                  </th>
                                </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                  </div>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card">
              <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-sm table-striped table-bordered" style="margin-bottom: 0">
                          <thead>
                            <tr>
                              <th scope="col">รหัสใบเปรียบเทียบ</th>
                              <th scope="col">ทำรายการ</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for cm in cms%}
                                <tr>
                                    <th scope="row"><a href="{%url 'showComparePricePO' cm.id 2 %}">{{cm.ref_no}}</a></th>
                                    <td>
                                        <a href="{% url 'printCPApprove' cm.id True %}" class="btn btn-primary btn-sm"> ทำการอนุมัติ</a>
                                    </td>
                                </tr>
                            {% empty %}
                                <tr>
                                  <th scope="row" colspan="2" class="text-center">
                                    <div class="alert alert-warning" role="alert">
                                      ไม่มีรายการ
                                    </div>
                                  </th>
                                </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                  </div>
              </div>
            </div>
          </div>
      </div>
</div>
{% endblock%}