{% extends 'layouts.html' %}
{% load static %}
{% load humanize %}

{% block content %}

<div class="container">
  <h5>{{category.name}}</h5>
    <div class="row my-4">
        {% for product in products %}
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <div class="card-body">
                <b class="card-title">
                  <!-- a href="{{product.get_url}}">{{product.name}}</a-->
                  {{product.id}}
                </b>
                {{product.name}}
                <!-- h5>฿{{product.price | intcomma}}</h5-->
                <p class="card-text">{{product.description | slice:":150"}}</p>
              </div>
              <!--div class="card-footer">
                {% if product.stock <= 0 %}
                  <h4 class="text-danger">สินค้าหมด</h4>
                {% else %}
                  <h4 class="text-success">มีในสต็อก {{product.stock}}</h4>
                {% endif %}
              </div-->
            </div>
        </div>
    {% endfor %}
    </div>
    <!--Pagination-->
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
        {% if products.has_previous %}
            <li class="page-item">
            <a class="page-link" href="?page={{ products.previous_page_number }}">Previous</a>
          </li>
        {% else %}
            <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="True">Previous</a>
          </li>
        {% endif %}

        {% if products.number|add:'-4' > 1 %}
            <li class="page-item"><a class="page-link" href="?page={{ products.number|add:'-5' }}">&hellip;</a></li>
        {% endif %}

        {% for i in products.paginator.page_range %}
            {% if products.number == i %}
                <li class="page-item active" aria-current="page">
              <span class="page-link">
                {{ i }}
                <span class="sr-only">(current)</span>
              </span>
            </li>
            {% elif i > products.number|add:'-5' and i < products.number|add:'5' %}
                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}

        {% if products.paginator.num_pages > products.number|add:'4' %}
          <li class="page-item"><a class="page-link" href="?page={{ products.number|add:'5' }}">&hellip;</a></li>
        {% endif %}

        {% if products.has_next %}
            <li class="page-item">
            <a class="page-link" href="?page={{ products.next_page_number }}">Next</a>
          </li>
        {% else %}
            <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="True">Next</a>
          </li>
        {% endif %}
      </ul>
      </nav>
    <!--end of Pagination-->
</div>
{% endblock%}