<!--
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #EBF5FB;">
  <div class="container-fluid">
      <button type="button" id="sidebarCollapse" class="btn btn-info float-left">
          <i class="fas fa-align-left"></i>
      </button>
      <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-align-justify"></i>
      </button>
      <form class="form-inline ml-4" action="{% url 'search'%}", method="GET">
        <div class="input-group w-20">
          <input type="text" name="title" class="form-control" placeholder="Search">
          <div class="input-group-append">
            <button type="submit" class="btn btn-warning"><i class="fas fa-search"></i></button>
          </div>
        </div>
      </form>    
      <div class="collapse navbar-collapse float-right" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          {% for tab in visible_tab %}
            {% if 'Admin' in tab.name %}
              <li class="nav-item">
                <a class="nav-link text-uppercase font-weight-bold px-3" href="/admin">
                  Admin
                </a>
              </li>
            {%endif%}
            {% if 'Category' in tab.name %}
            <li class="nav-item dropdown"><a class="nav-link text-uppercase font-weight-bold px-3"
              href="" data-toggle="dropdown">Category <i class="fas fa-caret-down"></i></a>
              <div class="dropdown-menu" style="height:350px;overflow-y:auto;">
                <a class="dropdown-item" href="{% url 'home' %}">สินค้าทั้งหมด</a>
                {% for catagory in links %}
                <a class="dropdown-item" href="{{catagory.get_url}}">{{catagory.name}}</a>
                {% endfor %}
              </div>
            {%endif%}
          {%endfor%}
          </li>
          {% if request.user.is_authenticated and request.user.first_name %}
            <li class="nav-item dropdown">
              <a class="nav-link text-uppercase font-weight-bold px-3" data-toggle="dropdown">
              <i class="fas fa-user circle"></i> {{request.user.first_name}} <i class="fas fa-caret-down"></i>
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'orderHistory' %}">ประวัติการสั่งซื้อ</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link text-uppercase font-weight-bold px-3">
                <i class="fas fa-user circle"></i> {{request.user.first_name}}
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-uppercase font-weight-bold px-3" href="{% url 'signOut' %}">
                Sign Out <i class="fas fa-sign-out-alt"></i>
              </a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link text-uppercase font-weight-bold px-3" href="{% url 'signUp' %}">
                Sign Up <i class="fas fa-user-plus"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-uppercase font-weight-bold px-3" href="{% url 'signIn' %}">
                Sign In <i class="fas fa-sign-in-alt"></i>
              </a>
            </li>
            {% endif %}
          <li class="nav-item">
            <a class="nav-link text-uppercase font-weight-bold px-3" href="{% url 'cartdetail'%}">
              <i class="fas fa-shopping-cart"></i>
              {% if item_count > 0%}
                {{item_count}}
              {% else %}
                0
              {% endif %}
          </a>
        </li>
      </ul>  
      </div>
  </div>
</nav>  
-->

<nav class="navbar navbar-expand-md navbar-light" style="background-color: #EBF5FB;">
  <!-- One of the primary actions on mobile is to call a business - This displays a phone button on mobile only -->
  <button type="button" id="sidebarCollapse" class="btn btn-info" style="position: absolute;top: 1%;z-index: 1;">
    <i class="fas fa-align-left"></i>
  </button>
  <div class="navbar-toggler-right float-xs-right">
    <button class="navbar-toggler ml-5" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
            
  </div>
  
  <div class="collapse navbar-collapse flex-column" id="navbar">
    <ul class="navbar-nav ml-auto">
      <form class="form-inline" action="{% url 'search'%}", method="GET">
        <div class="input-group w-10 float-start">
          <input type="text" name="title" class="form-control" placeholder="Search">
          <div class="input-group-append">
            <button type="submit" class="btn btn-warning"><i class="fas fa-search"></i></button>
          </div>
        </div>
      </form>
      {% for tab in visible_tab %}
        {% if 'Admin' in tab.name %}
          <li class="nav-item">
            <a class="nav-link text-uppercase font-weight-bold px-3" href="/admin">
              Admin
            </a>
          </li>
        {%endif%}
        {% if 'Category' in tab.name %}
        <li class="nav-item dropdown"><a class="nav-link text-uppercase font-weight-bold px-3"
          href="" data-toggle="dropdown">Category <i class="fas fa-caret-down"></i></a>
          <div class="dropdown-menu" style="height:350px;overflow-y:auto;">
            <a class="dropdown-item" href="{% url 'home' %}">สินค้าทั้งหมด</a>
            {% for catagory in links %}
            <a class="dropdown-item" href="{{catagory.get_url}}">{{catagory.name}}</a>
            {% endfor %}
          </div>
        {%endif%}
      {%endfor%}
      </li>
      {% if request.user.is_authenticated and request.user.first_name %}
        <!-- li class="nav-item dropdown">
          <a class="nav-link text-uppercase font-weight-bold px-3" data-toggle="dropdown">
          <i class="fas fa-user circle"></i> {{request.user.first_name}} <i class="fas fa-caret-down"></i>
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{% url 'orderHistory' %}">ประวัติการสั่งซื้อ</a>
          </div>
        </li -->
        <li class="nav-item">
          <a class="nav-link text-uppercase font-weight-bold px-3">
            <i class="fas fa-user circle"></i> {{request.user.first_name}}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-uppercase font-weight-bold px-3" href="{% url 'signOut' %}">
            Sign Out <i class="fas fa-sign-out-alt"></i>
          </a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link text-uppercase font-weight-bold px-3" href="{% url 'signUp' %}">
            Sign Up <i class="fas fa-user-plus"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-uppercase font-weight-bold px-3" href="{% url 'signIn' %}">
            Sign In <i class="fas fa-sign-in-alt"></i>
          </a>
        </li>
        {% endif %}
      <!-- li class="nav-item">
        <a class="nav-link text-uppercase font-weight-bold px-3" href="{% url 'cartdetail'%}">
          <i class="fas fa-shopping-cart"></i>
          {% if item_count > 0%}
            {{item_count}}
          {% else %}
            0
          {% endif %}
      </a>
    </li -->
    </ul>
    {% if request.user.is_authenticated and request.user.first_name %}
    <div class="bg-white w-100">
      <div class="bg-light w-100">
            <ul id="nav-tabs" class="nav nav-tabs nav-pills flex-column flex-sm-row text-center border-0 w-100 {{colorNav}}">
              {% for tab in company_tab %}
                {% if 'ALL' in tab.code %}
                <li class="nav-item flex-sm-fill pointer">
                  <a id="{{tab.code}}" data-toggle="tab" role="tab" aria-selected="true" class="nav-link border-0 text-uppercase font-weight-bold {{ALL}} {{disableTab}}" onClick="setCompany('{{tab.code}}')">{{tab.code}}-{{tab.name}}
                    {% if request.session.NUM_ALL > 0%}
                      <span class="badge badge-pill badge-dark notification">{{request.session.NUM_ALL}}</span>
                    {% endif %}
                  </a>
                </li>
                {%endif%}
                {% if 'S1' in tab.code %}
                  <li class="nav-item flex-sm-fill pointer">
                    <a id="{{tab.code}}" data-toggle="tab" role="tab" aria-selected="true" class="nav-link border-0 text-uppercase font-weight-bold {{S1}} {{disableTab}}" onClick="setCompany('{{tab.code}}')">{{tab.code}}-{{tab.name}}
                      {% if request.session.NUM_S1 > 0%}
                        <span class="badge badge-pill badge-dark notification">{{request.session.NUM_S1}}</span>
                      {% endif %}
                    </a>
                  </li>
                {%endif%}
                {% if 'D1' in tab.code %}
                  <li class="nav-item flex-sm-fill pointer">
                    <a id="{{tab.code}}" data-toggle="tab" role="tab" aria-selected="false" class="nav-link border-0 text-uppercase font-weight-bold {{D1}} {{disableTab}}" onClick="setCompany('{{tab.code}}')" >{{tab.code}}-{{tab.name}}
                      {% if request.session.NUM_D1 > 0%}
                        <span class="badge badge-pill badge-dark notification">{{request.session.NUM_D1}}</span>
                      {% endif %}
                    </a>
                  </li>
                {%endif%}
                {% if 'I1' in tab.code %}
                  <li class="nav-item flex-sm-fill pointer">
                    <a id="{{tab.code}}" data-toggle="tab" role="tab" aria-selected="false" class="nav-link border-0 text-uppercase font-weight-bold {{I1}} {{disableTab}}" onClick="setCompany('{{tab.code}}')" >{{tab.code}}-{{tab.name}}
                      {% if request.session.NUM_I1 > 0%}
                        <span class="badge badge-pill badge-dark notification">{{request.session.NUM_I1}}</span>
                      {% endif %}
                    </a>
                  </li>
                {%endif%}
                {% if 'U1' in tab.code %}
                  <li class="nav-item flex-sm-fill pointer">
                    <a id="{{tab.code}}" data-toggle="tab" role="tab" aria-selected="false" class="nav-link border-0 text-uppercase font-weight-bold {{U1}} {{disableTab}}" onClick="setCompany('{{tab.code}}')" >{{tab.code}}-{{tab.name}}
                      {% if request.session.NUM_U1 > 0%}
                        <span class="badge badge-pill badge-dark notification">{{request.session.NUM_U1}}</span>
                      {% endif %}
                    </a>
                  </li>
                {%endif%}
                {% if 'G1' in tab.code %}
                  <li class="nav-item flex-sm-fill pointer">
                    <a id="{{tab.code}}" data-toggle="tab" role="tab" aria-selected="false" class="nav-link border-0 text-uppercase font-weight-bold {{G1}} {{disableTab}}" onClick="setCompany('{{tab.code}}')" >{{tab.code}}-{{tab.name}}
                      {% if request.session.NUM_G1 > 0%}
                        <span class="badge badge-pill badge-dark notification">{{request.session.NUM_G1}}</span>
                      {% endif %}
                    </a>
                  </li>
                {%endif%}
                {% if 'R1' in tab.code %}
                <li class="nav-item flex-sm-fill pointer">
                  <a id="{{tab.code}}" data-toggle="tab" role="tab" aria-selected="false" class="nav-link border-0 text-uppercase font-weight-bold {{R1}} {{disableTab}}" onClick="setCompany('{{tab.code}}')" >{{tab.code}}-{{tab.name}}
                    {% if request.session.NUM_R1 > 0%}
                      <span class="badge badge-pill badge-dark notification">{{request.session.NUM_R1}}</span>
                    {% endif %}
                  </a>
                </li>
              {%endif%}
              {%endfor%}
            </ul>
      </div>
  </div>
  {%endif%}
  </nav>