<nav class="hidden-print" id="sidebar">
    <div class="sidebar-header">
        <h3><a href="{% url 'home' %}"><img src="/media/company/STG_logo.png" class="rounded center" style="-webkit-filter: drop-shadow(5px 5px 5px #45507f); filter: drop-shadow(5px 5px 5px #45507f);" width="130" height="65"></a></h3>
        <strong style="color:#ED3237; text-shadow: 0 0 5px #45507f; font-size:25px;"><a href="{% url 'home' %}">STG</a></strong>
    </div>

    {% if request.user.is_authenticated %}
    <ul class="list-unstyled components" id="myTab">
        <li class="list-group-item list-group-item-info text-center">
            {{request.session.company}}
        </li>
        {% for tab in visible_tab %}
            {% if 'Request' in tab.name %}
                <li class="">
                    <a href="{% if request.user.is_authenticated %}#requestSubmenu {% endif %}" data-toggle="collapse" aria-expanded="{% if requisitions_page or pr_page or po_page or cp_page or ma_page or cl_page %}true{% else %}false{% endif %}" class="dropdown-toggle">
                        <i class="fas fa-file"></i>
                        Request
                        {% if pc_all > 0%}
                            <span class="float-right badge badge-pill badge-warning notification mr-5">{{pc_all}}</span>
                        {% endif %}
                    </a>
                    <ul class="collapse list-unstyled {{requisitions_show}} {{pr_show}} {{po_show}} {{cp_show}} {{iv_show}} {{ma_show}} {{cl_show}}" id="requestSubmenu">
                        <li>
                            <a class="{{ma_page}}" href="{% url 'viewMA' %}">ใบแจ้งซ่อม
                                {% if ma_all > 0%}
                                    <span class="float-right badge badge-pill badge-warning notification mr-5">{{ma_all}}</span>
                                {% endif %}
                            </a>
                        </li>
                        <li>
                            <a id="requisitionsPage" class="{{requisitions_page}}" href="{% url 'requisition' %}">ใบขอเบิก</a>
                        </li>
                        <li>
                            <a class="{{pr_page}}" href="{% url 'viewPR' %}">ใบขอซื้อ
                                {% if is_purchasing_pr > 0%}
                                    <span class="float-right badge badge-pill badge-warning notification mr-5">{{is_purchasing_pr}}</span>
                                {% endif %}
                            </a>
                        </li>
                        <!--
                        {% if request.user.is_superuser %}
                        <li>
                            <a class="{{iv_page}}" href="{% url 'viewInvoice' %}">OLD ใบจ่ายสินค้าภายใน</a>
                        </li>
                        {% endif %}                        
                        -->
                        <li>
                            <a class="{{cp_page}}" href="{% url 'viewComparePricePO' %}">ใบเปรียบเทียบราคา
                                {% if add_po_all > 0%}
                                    <span class="float-right badge badge-pill badge-warning notification mr-5">{{add_po_all}}</span>
                                {% endif %}
                            </a>
                        </li>
                        <li>
                            <a class="{{po_page}}" href="{% url 'viewPO' %}">ใบสั่งซื้อ</a>
                        </li>
                        <li>
                            <a class="{{cl_page}}" href="{% url 'viewCL' %}">ใบบันทึกการใช้รถ
                            </a>
                        </li>
                    </ul>
                </li>
            {% endif %}
            {% if 'Approve' in tab.name %}
                <li class="">
                    <a href="{% if request.user.is_authenticated %}#approveSubmenu{% endif %}" data-toggle="collapse" aria-expanded="{% if ap_pr_page or ap_po_page or ap_cp_page %}true{% else %}false{% endif %}" class="dropdown-toggle">
                        <i class="fas fa-file-signature"></i> Approve
                        {% if ap_all > 0%}
                            <span class="float-right badge badge-pill badge-warning notification mr-5">{{ap_all}}</span>
                        {% endif %}
                    </a>
                    <ul class="collapse list-unstyled {{ap_pr_show}} {{ap_po_show}} {{ap_cp_show}}" id="approveSubmenu">
                        <li>
                            <a class="{{ap_pr_page}}" href="{% url 'viewPRApprove' %}">ใบขอซื้อ
                                {% if all_pr_ap > 0%}
                                    <span class="float-right badge badge-pill badge-warning notification mr-5">{{all_pr_ap}}</span>
                                {% endif %}
                            </a>
                            <a class="{{ap_cp_page}}" href="{% url 'viewCPApprove' %}">ใบเปรียบเทียบราคา
                                {% if all_cp_ap > 0%}
                                    <span class="float-right badge badge-pill badge-warning notification mr-5">{{all_cp_ap}}</span>
                                {% endif %}
                            </a>
                            <a class="{{ap_po_page}}" href="{% url 'viewPOApprove' %}">ใบสั่งซื้อ
                                {% if all_po_ap > 0%}
                                    <span class="float-right badge badge-pill badge-warning notification mr-5">{{all_po_ap}}</span>
                                {% endif %}
                            </a>
                        </li>
                    </ul>
                </li>
            {% endif %}
            {% if 'Receive' in tab.name %}
                <li class="">
                    <a href="{% url 'viewReceive' %}" class="{{rc_page}}">
                        <i class="fas fa-warehouse"></i> Receive
                        <!--
                        {% if rc_count > 0%}
                            <span class="float-right badge badge-pill badge-warning notification mr-5">{{rc_count}}</span>
                        {% endif %}                        
                        -->
                    </a>
                    <!--
                    <a href="{% if request.user.is_authenticated %}#receiveSubmenu{% endif %}" data-toggle="collapse" aria-expanded="{% if rc_page %}true{% else %}false{% endif %}" class="dropdown-toggle">
                        <i class="fas fa-warehouse"></i> Receive
                        {% if rc_count > 0%}
                            <span class="float-right badge badge-pill badge-warning notification mr-5">{{rc_count}}</span>
                        {% endif %}
                    </a>
                    <ul class="collapse list-unstyled {{rc_show}}" id="receiveSubmenu">
                        <li>
                            <a class="{{rc_page}}" href="{% url 'viewReceive' %}">ใบสั่งซื้อที่ไม่ได้รับเข้า
                                {% if rc_count > 0%}
                                    <span class="float-right badge badge-pill badge-warning notification mr-5">{{rc_count}}</span>
                                {% endif %}
                            </a>
                        </li>
                    </ul>
                    -->
                </li>
            {% endif %}
            {% if 'History' in tab.name %}
            <li class="">
                <a href="{% if request.user.is_authenticated %}#historySubmenu{% endif %}" data-toggle="collapse" aria-expanded="{% if h_requisitions_page or h_ma_page or h_pr_page or h_po_page or h_cp_page %}true{% else %}false{% endif %}" class="dropdown-toggle">
                    <i class="fas fa-history"></i>
                    History
                </a>
                <ul class="collapse list-unstyled {{h_requisitions_show}} {{h_ma_show}} {{h_pr_show}} {{h_po_show}} {{h_cp_show}}" id="historySubmenu">
                    <li>
                        <a class="{{h_requisitions_page}}" href="{% url 'viewRequisitionHistory' %}">ใบขอเบิก</a>
                    </li>
                    <li>
                        <a class="{{h_ma_page}}" href="{% url 'viewMAHistory' %}">ใบแจ้งซ่อม</a>
                    </li> 
                    <li>
                        <a class="{{h_pr_page}}" href="{% url 'viewPRHistory' %}">ใบขอซื้อ</a>
                    </li>                
                    <li>
                        <a class="{{h_cp_page}}" href="{% url 'viewComparePricePOHistory' %}">ใบเปรียบเทียบราคา</a>
                    </li>
                    <li>
                        <a class="{{h_po_page}}" href="{% url 'viewPOHistory' %}">ใบสั่งซื้อ</a>
                    </li>
                </ul>
            </li>
            {% endif %}
            {% if 'Incomplete' in tab.name %}
            <li class="">
                <a href="{% if request.user.is_authenticated %}#historyIncompleteSubmenu{% endif %}" data-toggle="collapse" aria-expanded="{% if h_i_requisitions_page or h_i_pr_page or h_i_po_page or h_i_cp_page %}true{% else %}false{% endif %}" class="dropdown-toggle">
                    <i class="fas fa-times-circle"></i>
                    Incomplete
                </a>
                <ul class="collapse list-unstyled {{h_i_requisitions_show}} {{h_i_pr_show}} {{h_i_po_show}} {{h_i_cp_show}}" id="historyIncompleteSubmenu">
                    <!--ซ่อนก่อนเพราะไม่มีการอนุมัติในใบขอเบิก-->
                    <!--li>
                        <a class="{{h_i_requisitions_page}}" href="{% url 'viewRequisitionHistoryIncomplete' %}">ใบขอเบิก</a>
                    </li-->
                    <li>
                        <a class="{{h_i_pr_page}}" href="{% url 'viewPRHistoryIncomplete' %}">ใบขอซื้อ</a>
                    </li>                
                    <li>
                        <a class="{{h_i_cp_page}}" href="{% url 'viewComparePricePOHistoryIncomplete' %}">ใบเปรียบเทียบราคา</a>
                    </li>
                    <li>
                        <a class="{{h_i_po_page}}" href="{% url 'viewPOHistoryIncomplete' %}">ใบสั่งซื้อ</a>
                    </li>
                </ul>
            </li>
            {% endif %}
            {% if 'Express' in tab.name %}
            <li class="">
                <a href="{% if request.user.is_authenticated %}#expressSubmenu{% endif %}" data-toggle="collapse" aria-expanded="{% if ex_old_iv_show or ex_iv_page or ex_o_i_page or ex_ie_page or ex_o_ie_page %}true{% else %}false{% endif %}" class="dropdown-toggle">
                    <i class="fab fa-xing"></i>
                    Express
                </a>
                <ul class="collapse list-unstyled {{ex_old_iv_show}} {{ex_iv_show}} {{ex_o_i_show}} {{ex_ie_show}} {{ex_o_ie_show}}" id="expressSubmenu">
                    <!--
                    {% if request.user.is_superuser %}
                    <li>
                        <a class="{{ex_old_iv_page}}" href="{% url 'viewExInvoice_old' %}">OLD ใบจ่ายสินค้าภายใน - อะไหล่</a>
                    </li>
                    {%endif%}
                    -->
                    <li>
                        <a class="{{ex_iv_page}}" href="{% url 'viewExInvoice' %}">ใบจ่ายสินค้าภายใน - อะไหล่</a>
                    </li>
                    <li>
                        <a class="{{ex_o_i_page}}" href="{% url 'viewExOiInvoice' %}">ใบจ่ายสินค้าภายใน - น้ำมัน</a>
                    </li>
                    <li>
                        <a class="{{ex_ie_page}}" href="{% url 'viewExSOC' %}">ใบขายเงินเชื่อ - อะไหล่</a>
                    </li>
                    <li>
                        <a class="{{ex_o_ie_page}}" href="{% url 'viewExOiSOC' %}">ใบขายเงินเชื่อ - น้ำมัน</a>
                    </li>
                </ul>
            </li>
            {% endif %}
            {% if 'Report' in tab.name %}
            <li class="">
                <a href="{% if request.user.is_authenticated %}#reportSubmenu{% endif %}" data-toggle="collapse" aria-expanded="{% if rp_po_page or rp_poi_page %}true{% else %}false{% endif %}" class="dropdown-toggle">
                    <i class="fas fa-file-pdf"></i> Report
                </a>
                <ul class="collapse list-unstyled {{rp_po_show}} {{rp_poi_show}} {{rp_rd_show}}" id="reportSubmenu">
                    <li>
                        <a class="{{rp_po_page}}" href="{% url 'viewPOReport' %}">สรุปใบสั่งซื้อที่อนุมัติ</a>
                    </li>                
                    <li>
                        <a class="{{rp_poi_page}}" href="{% url 'viewPOItemReport' %}">รายงานตามสินค้าที่สั่งซื้อ</a>
                    </li>
                    <li>
                        <a class="{{rp_rd_page}}" href="{% url 'viewRateDistributorReport' %}">รายงานการประเมินร้านค้า</a>
                    </li>
                </ul>
            </li>
            {% endif %}
        {% endfor %}
    </ul>
    <ul class="list-unstyled CTAs">
        <li>
            <a href="/media/{{document.doc_pdf}}" class="download text-center">รายการอัพเดทล่าสุด</a>
        </li>
    </ul>
    {% endif %}
</nav>
