<nav class="hidden-print" id="sidebar">
    <div class="sidebar-header">
        <h3><a href="{% url 'home' %}"><img src="/media/company/STG_logo.png" class="rounded center" style="-webkit-filter: drop-shadow(5px 5px 5px #45507f); filter: drop-shadow(5px 5px 5px #45507f);" width="155" height="75"></a></h3>
        <strong style="color:#ED3237; text-shadow: 0 0 5px #45507f;"><a href="{% url 'home' %}">STG</a></strong>
    </div>

    {% if request.user.is_authenticated %}
    <ul class="list-unstyled components" id="myTab">
        {% for tab in visible_tab %}
            {% if 'Request' in tab.name %}
                <li class="">
                    <a href="{% if request.user.is_authenticated %}#requestSubmenu {% endif %}" data-toggle="collapse" aria-expanded="{% if requisitions_page or pr_page or po_page or cp_page %}true{% else %}false{% endif %}" class="dropdown-toggle">
                        <i class="fas fa-file"></i>
                        Request
                        {% if pc_all > 0%}
                            <span class="float-right badge badge-pill badge-warning notification mr-5">{{pc_all}}</span>
                        {% endif %}
                    </a>
                    <ul class="collapse list-unstyled {{requisitions_show}} {{pr_show}} {{po_show}} {{cp_show}}" id="requestSubmenu">
                        <li>
                            <a id="requisitionsPage" class="{{requisitions_page}}" href="{% url 'requisition' %}">ใบขอเบิก</a>
                        </li>
                        <li>
                            <a class="{{pr_page}}" href="{% url 'viewPR' %}">ใบขอซื้อ
                                {% if is_purchasing_pr > 0%}
                                    <span class="float-right badge badge-pill badge-warning notification mr-5">{{is_purchasing_pr}}</span>
                                {% endif %}
                            </a>
                        </li>                
                        <li>
                            <a class="{{cp_page}}" href="{% url 'viewComparePricePO' %}">ใบเปรียบเทียบราคา
                                {% if add_po_all > 0%}
                                    <span class="float-right badge badge-pill badge-warning notification mr-5">{{add_po_all}}</span>
                                {% endif %}
                            </a>
                        </li>
                        <li>
                            <a class="{{po_page}}" href="{% url 'viewPO' %}">ใบสั่งซื้อ</a>
                        </li>
                    </ul>
                </li>
            {% endif %}
            {% if 'Approve' in tab.name %}
                <li class="">
                    <a href="{% if request.user.is_authenticated %}#approveSubmenu{% endif %}" data-toggle="collapse" aria-expanded="{% if ap_pr_page or ap_po_page or ap_cp_page %}true{% else %}false{% endif %}" class="dropdown-toggle">
                        <i class="fas fa-file-signature"></i> Approve
                        {% if ap_all > 0%}
                            <span class="float-right badge badge-pill badge-warning notification mr-5">{{ap_all}}</span>
                        {% endif %}
                    </a>
                    <ul class="collapse list-unstyled {{ap_pr_show}} {{ap_po_show}} {{ap_cp_show}}" id="approveSubmenu">
                        <li>
                            <a class="{{ap_pr_page}}" href="{% url 'viewPRApprove' %}">ใบขอซื้อ
                                {% if all_pr_ap > 0%}
                                    <span class="float-right badge badge-pill badge-warning notification mr-5">{{all_pr_ap}}</span>
                                {% endif %}
                            </a>
                            <a class="{{ap_cp_page}}" href="{% url 'viewCPApprove' %}">ใบเปรียบเทียบราคา
                                {% if all_cp_ap > 0%}
                                    <span class="float-right badge badge-pill badge-warning notification mr-5">{{all_cp_ap}}</span>
                                {% endif %}
                            </a>
                            <a class="{{ap_po_page}}" href="{% url 'viewPOApprove' %}">ใบสั่งซื้อ
                                {% if all_po_ap > 0%}
                                    <span class="float-right badge badge-pill badge-warning notification mr-5">{{all_po_ap}}</span>
                                {% endif %}
                            </a>
                        </li>
                    </ul>
                </li>
            {% endif %}
            {% if 'Receive' in tab.name %}
                <li class="">
                    <a href="{% url 'viewReceive' %}" class="{{rc_page}}">
                        <i class="fas fa-warehouse"></i> Receive
                        {% if rc_count > 0%}
                            <span class="float-right badge badge-pill badge-warning notification mr-5">{{rc_count}}</span>
                        {% endif %}
                    </a>
                    <!--
                    <a href="{% if request.user.is_authenticated %}#receiveSubmenu{% endif %}" data-toggle="collapse" aria-expanded="{% if rc_page %}true{% else %}false{% endif %}" class="dropdown-toggle">
                        <i class="fas fa-warehouse"></i> Receive
                        {% if rc_count > 0%}
                            <span class="float-right badge badge-pill badge-warning notification mr-5">{{rc_count}}</span>
                        {% endif %}
                    </a>
                    <ul class="collapse list-unstyled {{rc_show}}" id="receiveSubmenu">
                        <li>
                            <a class="{{rc_page}}" href="{% url 'viewReceive' %}">ใบสั่งซื้อที่ไม่ได้รับเข้า
                                {% if rc_count > 0%}
                                    <span class="float-right badge badge-pill badge-warning notification mr-5">{{rc_count}}</span>
                                {% endif %}
                            </a>
                        </li>
                    </ul>
                    -->
                </li>
            {% endif %}
            {% if 'History' in tab.name %}
            <li class="">
                <a href="{% if request.user.is_authenticated %}#historySubmenu{% endif %}" data-toggle="collapse" aria-expanded="{% if h_requisitions_page or h_pr_page or h_po_page or h_cp_page %}true{% else %}false{% endif %}" class="dropdown-toggle">
                    <i class="fas fa-history"></i>
                    History
                </a>
                <ul class="collapse list-unstyled {{h_requisitions_show}} {{h_pr_show}} {{h_po_show}} {{h_cp_show}}" id="historySubmenu">
                    <li>
                        <a class="{{h_requisitions_page}}" href="{% url 'viewRequisitionHistory' %}">ใบขอเบิก</a>
                    </li>
                    <li>
                        <a class="{{h_pr_page}}" href="{% url 'viewPRHistory' %}">ใบขอซื้อ</a>
                    </li>                
                    <li>
                        <a class="{{h_cp_page}}" href="{% url 'viewComparePricePOHistory' %}">ใบเปรียบเทียบราคา</a>
                    </li>
                    <li>
                        <a class="{{h_po_page}}" href="{% url 'viewPOHistory' %}">ใบสั่งซื้อ</a>
                    </li>
                </ul>
            </li>
            {% endif %}
            {% if 'History Incomplete' in tab.name %}
            <li class="">
                <a href="{% if request.user.is_authenticated %}#historyIncompleteSubmenu{% endif %}" data-toggle="collapse" aria-expanded="{% if h_i_requisitions_page or h_i_pr_page or h_i_po_page or h_i_cp_page %}true{% else %}false{% endif %}" class="dropdown-toggle">
                    <i class="fas fa-times-circle"></i>
                    History Incomplete
                </a>
                <ul class="collapse list-unstyled {{h_i_requisitions_show}} {{h_i_pr_show}} {{h_i_po_show}} {{h_i_cp_show}}" id="historyIncompleteSubmenu">
                    <!--ซ่อนก่อนเพราะไม่มีการอนุมัติในใบขอเบิก-->
                    <!--li>
                        <a class="{{h_i_requisitions_page}}" href="{% url 'viewRequisitionHistoryIncomplete' %}">ใบขอเบิก</a>
                    </li-->
                    <li>
                        <a class="{{h_i_pr_page}}" href="{% url 'viewPRHistoryIncomplete' %}">ใบขอซื้อ</a>
                    </li>                
                    <li>
                        <a class="{{h_i_cp_page}}" href="{% url 'viewComparePricePOHistoryIncomplete' %}">ใบเปรียบเทียบราคา</a>
                    </li>
                    <li>
                        <a class="{{h_i_po_page}}" href="{% url 'viewPOHistoryIncomplete' %}">ใบสั่งซื้อ</a>
                    </li>
                </ul>
            </li>
            {% endif %}
        {% endfor %}
    </ul>
    {% endif %}
    <!-- ul class="list-unstyled CTAs">
        <li>
            <a href="https://bootstrapious.com/tutorial/files/sidebar.zip" class="download">Download source</a>
        </li>
        <li>
            <a href="https://bootstrapious.com/p/bootstrap-sidebar" class="article">Back to article</a>
        </li>
    </ul -->
</nav>
