{% extends 'layouts.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container h-75">
    <div class="row align-items-center h-75">
        <div class="col-md-8 col mx-auto">
            <div class="card div-shadow" >
                <h4 class="card-header alert-success">ลงชื่อเข้าใช้ระบบ</h4>
                <div class="card-body">
                    <form method="post">
                        <!-- {% crispy form %} -->
                        {% if form.non_field_errors%}
                            <div class="alert alert-danger" role="alert">
                                {{ form.non_field_errors }}
                            </div>
                        {% endif %}
                        {% csrf_token %}
                        <div class="fieldWrapper my-2">
                            {{ form.username.errors }}
                        </div>
                        <div class="fieldWrapper my-2">
                            {{ form.username.errors }}
                            <label for="{{ form.username.id_for_label }}">ชื่อผู้ใช้งาน</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                  <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                                {{ form.username }}
                            </div>
                        </div>
                        <div class="fieldWrapper my-2">
                            {{ form.password.errors }}
                            <label for="{{ form.password.id_for_label }}">รหัสผ่าน</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                  <span class="input-group-text"><i class="fas fa-key"></i></span>
                                </div>
                                {{ form.password }}
                            </div>
                        </div>
                        <div class="fieldWrapper my-4">
                            <input type="submit" class="btn btn-success btn-block btn-lg" value="Login">
                        </div>
                        <div class="mt-4">
                            <div class="d-flex justify-content-center links">
                                ลืมรหัสผ่านใช่หรือไม่? <a href="{% url 'reset_password' %}" class="ml-2 text-primary">รีเซ็ตรหัสผ่าน</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock%}