{% extends 'layouts.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <div class="col d-flex justify-content-center container my-5">
            <div class="card w-75 div-shadow" >
                <h4 class="card-header alert-primary">แบบฟอร์มลงทะเบียน</h4>
                <div class="card-body">
                    <form method="post">
                        <p>{{form | crispy}}</p>
                        <p>{{profile_form | crispy}}</p>
                        {% csrf_token %}
                        <input type="submit" class="btn btn-primary" value="Register">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock%}