{% extends 'layouts.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% load humanize %}

{% block css %}
<style>
    @media print {
    .hidden-print {
      display: none;
    }
    @page {
    margin: 0mm 10mm 0mm 0mm;
    size: A4 landscape;
    }
    body {
        font-size: 9pt;
        font-family: serif;
        color: black;
        float: right;
    }
  }

  b.dblUnderlined { border-bottom: 3px double; }
  u.dotted {
  border-bottom: 1px dashed #999;
  text-decoration: none;
  }

  .verybigmodal {
    max-width: 80%;
  }
</style>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-2 offset-1">
            <img src="/media/company/STG_logo.png" class="rounded float-right" width="90" height="60"/>
        </div>
        <div class="col-4 text-center">
            <h6 style="display: inline-block;align-items: center;">ใบเปรียบเทียบราคา</h6>
            {% if cp.is_re_approve %}
                <b class="text-danger">***ฉบับแก้ไข</b>
            {% endif %}
            {% if cp.cm_type %}
                &emsp;<p style="font-size:6px;display: inline-block;align-items: center;">({{cp.cm_type}})</p>
            {%endif%}
            <h6>{{cp.address_company.name_th}}</h6>
            <p style="font-size:12px">{{cp.address_company.address}}</p>
         </div>
        <div class="col-2">
            <img src="/media/{{cp.address_company.logo}}" class="rounded float-left" width="60" height="60"/>
        </div>
        <div class="col-3 text-center">
            <p style="font-size:6pt">รหัส {{cp.ref_no}}
                {% for oldest in items_oldest %}
                    {% if oldest.item.requisit.memorandum_pdf %}
                        {% ifchanged oldest.item.requisit.memorandum_pdf %}
                            <a href="/media/{{oldest.item.requisit.memorandum_pdf}}" class="btn btn-outline-success btn-sm hidden-print"><i class="fas fa-file-download"></i></a>
                        {% endifchanged %}
                    {% endif %}
                {% endfor %}
            </p>
            <h6 style="font-size:6pt">รหัสใบขอซื้อ
                {% for i in new_pr %}
                    <b><u><a href="/purchaseRequisition/show/{{i.id}}/4">{{i.ref_no}}</a></u>, </b>
                {% endfor %}
            </h6>
            <p style="font-size:6pt">วันที่&emsp;{% if cp.select_bidder_update %}{{cp.select_bidder_update | date:"d/m/Y"}}{% else %}{{cp.created | date:"d/m/Y"}}{% endif %}</p>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered table-sm">
        <thead class="text-center">
            <tr>
                <td scope="col" rowspan="4">ลำดับ</td>
                <form class="form-inline ml-3" id="search" method="GET">
                    <td scope="col" rowspan="4" class="text-center" style="cursor: pointer;" onclick="searchLastPoItem()" data-target="#myEdit" data-toggle="modal">
                      <strong>รายการ <i class="fas fa-list text-danger d-print-none"></i></strong>
                    </td>
                </form>
                <td scope="col" rowspan="4">จำนวน</td>
                <td scope="col" rowspan="4">หน่วย</td>
                {% for bd in bidder %}
                    <td scope="col" colspan="3">{{bd.distributor.name}}
                        {% if bd.quotation_pdf %}
                            <a href="/media/{{bd.quotation_pdf}}" class="btn btn-outline-primary btn-sm hidden-print"><i class="fas fa-file-download"></i></a>
                        {% endif %}
                    </td>
                {% endfor %}
                <td scope="col" rowspan="4">
                    <ul class="list-unstyled my-3 text-left">
                        {% for bst in baseSparesType %}
                            <li>
                                {% if bst == cp.base_spares_type%}
                                <i class="fas fa-square"></i>
                                {% else %}
                                <i class="far fa-square"></i>
                                {% endif %}
                                 {{bst.name}}
                            </li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            <tr>
                {% for bd in bidder %}
                    <td scope="col" colspan="3">โทร. {{bd.distributor.tel}}</td>
                {% endfor %}
            </tr>
            <tr>
                {% for bd in bidder %}
                    <td scope="col">เกรด</td>
                    <td scope="col" colspan="2">เครดิต {{bd.credit}}</td>
                {% endfor %}
            </tr>
            <tr>
                {% for bd in bidder %}
                    <td scope="col">ยี่ห้อ</td>
                    <td scope="col">ราคา/หน่วย</td>
                    <td scope="col">รวม</td>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for oldest in items_oldest %}
                <tr>
                    <th scope="row" class="text-center">{{forloop.counter}}</th>
                    <td>{{oldest.item.product_name}} <b class="text-success">{{oldest.description}}</b></td>
                    <td class="text-right">{{oldest.quantity |floatformat:"-4"}}</td>
                    <td class="text-center">{{oldest.unit}}</td>
                        {% for it in itemName %}
                            {% if oldest.item.id == it.item.id and oldest.quantity == it.quantity and oldest.unit == it.unit %}
                            <td>{{it.brand}}</td>
                            <td class="text-right">{% if it.unit_price %}{{it.unit_price | intcomma}}{%else%}{%endif%}</td>
                            <td class="text-right">{% if it.price %}{{it.price | intcomma}}{%else%}{%endif%}</td>
                            {% endif %}
                        {% endfor %}
                    <td><!-- * --></td>
                </tr>
            {% endfor %}
            <tr style="visibility:hidden;"><td colspan="100%">.</td></tr>
            <tr>
                <td colspan="2" class="text-right">รวม</td>
                <td rowspan="6"></td>
                <td rowspan="6"></td>
                {% for bd in bidder %}
                    <td rowspan="6"></td>
                    <td rowspan="6"></td>
                    <td class="text-right">{{bd.total_price | intcomma}}</td>
                {% endfor %}
                <td rowspan="6"><u>หมายเหตุ</u><br>{{cp.note}}</td>
            </tr>
            <tr>
                <td colspan="2" class="text-right">หักส่วนลด</td>
                {% for bd in bidder %}
                    <td class="text-right">{{bd.discount | intcomma}}</td>
                {% endfor %}
            </tr>
            <tr>
                <td colspan="2" class="text-right">จำนวนเงินหลังหักส่วนลด</td>
                {% for bd in bidder %}
                    <td class="text-right">{{bd.total_after_discount | intcomma}}</td>
                {% endfor %}
            </tr>
            <tr>
                <td colspan="2" class="text-right">ค่าขนส่ง</td>
                {% for bd in bidder %}
                    <td class="text-right">{{bd.freight | intcomma}}</td>
                {% endfor %}
            </tr>
            <tr>
                <td colspan="2" class="text-right">ภาษีมูลค่าเพิ่ม 7%</td>
                {% for bd in bidder %}
                    <td class="text-right"><u>{{bd.vat | intcomma}}</u></td>
                {% endfor %}
            </tr>
            <tr>
                <td colspan="2" class="text-right">รวมเป็นเงินทั้งสิ้น</td>
                {% for bd in bidder %}
                    <td class="text-right"><b class="dblUnderlined">{{bd.amount | intcomma}}</b></td>
                {% endfor %}
            </tr>           
        </tbody>
        </table>
    </div>
    {% if cp.select_bidder %}
    <div class="container">
        <div class="row pd-3 less" style="height: 4px;">
            <div class="col-xs">
                <b id="txtLess"></b>
            </div>
        </div>
        <hr class="less">
        <div class="row pd-3" style="height: 4px;">
            <div class="col-xs">
                <b id="txtSelectBidder"></b>
            </div>
        </div>
        <hr>        
    </div>
    {% endif %}           
    <form action="{% url 'printCPApprove' cp.id isFromHome %}" method="post">
        {% csrf_token %}
        <div class="row my-4">
            <div class="card-group col">
                    <div class="card" style="max-width: 13rem; max-height:8rem;">
                        <div class="card-body text-center pt-1 pb-1">
                        ผู้จัดทำ <img src="/media/{{cp.organizer.userprofile.signature}}" width="100" height="40" style="border-bottom: 1px dashed #999;text-decoration: none;"/><br>
                        ( {{cp.organizer}} )<br>
                        {{cp.organizer.userprofile.position}}
                        </div>
                    </div>
                    <div class="card" style="max-height:8rem;">
                        <div class="card-body text-center pt-1 pb-1">
                            ผู้ตรวจสอบ
                            {% if cp.examiner_status.id == 3 %}
                                <br>{{cp.examiner_status.name}}
                            {% elif cp.select_bidder %}
                                {% if cp.examiner_status.id == 2 %}
                                <img src="/media/{{cp.examiner_user.userprofile.signature}}" width="100" height="40" style="border-bottom: 1px dashed #999;text-decoration: none;"/><br>
                                    ( {{cp.examiner_user}} )<br>
                                    {{cp.examiner_user.userprofile.position}} วันที่ {{cp.examiner_update| date:"d/m/Y"}}
                                {% endif %}
                                {% if cp.examiner_status.id == 1 and isExaminer %}
                                    <br>
                                    <input id='submit' type='submit' name = 'status' value = 'อนุมัติ' class="btn btn-success btn hidden-print" onclick="return confirm('ต้องการอนุมัติใบเปรียบเทียบราคานี้หรือไม่?');">
                                    <input id='submit' type='submit' name = 'status' value = 'ไม่อนุมัติ' class="btn btn-danger btn hidden-print" onclick="return confirm('ต้องการไม่อนุมัติใบเปรียบเทียบราคานี้หรือไม่?');">
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="card" style="max-height:8rem;">
                        <div class="card-body text-center pt-1 pb-1">
                            ผู้อนุมัติ
                            {% if cp.approver_status.id == 3 %}
                                <br>{{cp.approver_status.name}}
                            {% else %}
                                {% if cp.approver_status.id == 2 %}
                                <img src="/media/{{cp.approver_user.userprofile.signature}}" width="100" height="40" style="border-bottom: 1px dashed #999;text-decoration: none;"/><br>
                                    ( {{cp.approver_user}} )<br>
                                    {{cp.approver_user.userprofile.position}} วันที่ {{cp.approver_update| date:"d/m/Y"}}
                                {% endif %}
                                {% if isApprover and isExaminer and cp.examiner_status.id == 1%}
                                    <br>
                                    <input id='submit' type='submit' name = 'status' value = 'อนุมัติ' class="btn btn-success btn hidden-print" onclick="return confirm('ต้องการอนุมัติใบเปรียบเทียบราคานี้หรือไม่?');">
                                    <input id='submit' type='submit' name = 'status' value = 'ไม่อนุมัติ' class="btn btn-danger btn hidden-print" onclick="return confirm('ต้องการไม่อนุมัติใบเปรียบเทียบราคานี้หรือไม่?');">
                                {% elif cp.approver_status.id == 1 and isApprover and cp.examiner_status.id == 2 %}
                                    <br>
                                    <input id='submit' type='submit' name = 'status' value = 'อนุมัติ' class="btn btn-success btn hidden-print" onclick="return confirm('ต้องการอนุมัติใบเปรียบเทียบราคานี้หรือไม่?');">
                                    <input id='submit' type='submit' name = 'status' value = 'ไม่อนุมัติ' class="btn btn-danger btn hidden-print" onclick="return confirm('ต้องการไม่อนุมัติใบเปรียบเทียบราคานี้หรือไม่?');">
                                {% endif %}                           
                            {% endif %}
                        </div>
                    </div>
                    {% if isSpecialCP %}
                        <div class="card">
                            <div class="card-body text-center pt-1 pb-1">
                                ผู้อนุมัติ
                                {% if cp.special_approver_status.id == 3 %}
                                    <br>{{cp.special_approver_status.name}}
                                {% elif cp.special_approver_status.id == 2 %}
                                    {% if cp.special_approver_user %}
                                    <img src="/media/{{cp.special_approver_user.userprofile.signature}}" width="100" height="40" style="border-bottom: 1px dashed #999;text-decoration: none;"/><br>
                                        ( {{cp.special_approver_user}} )<br>
                                        {{cp.special_approver_user.userprofile.position}} วันที่ {{cp.special_approver_update| date:"d/m/Y"}}
                                    {% endif %}
                                {% elif cp.examiner_status.id == 2 and cp.approver_status.id == 2 and cp.special_approver_status.id == 1 and isApproverSpecial%}
                                    <br>
                                    <input id='submit' type='submit' name = 'status' value = 'อนุมัติ' class="btn btn-success btn hidden-print" onclick="return confirm('ต้องการอนุมัติใบเปรียบเทียบราคานี้หรือไม่?');">
                                    <input id='submit' type='submit' name = 'status' value = 'ไม่อนุมัติ' class="btn btn-danger btn hidden-print" onclick="return confirm('ต้องการไม่อนุมัติใบเปรียบเทียบราคานี้หรือไม่?');">
                                {% endif %}
                            </div>
                        </div>
                    {%endif%}
            </div>        
        </div>
    </form>
    <div class="row">
        <div class="col d-print-none">
            <a href="" class="btn btn-outline-success btn-sm d-print-none"><i class="fas fa-file-download"></i></a> = ใบบันทึก &emsp;
            <a href="" class="btn btn-outline-primary btn-sm d-print-none"><i class="fas fa-file-download"></i></a> = ใบเสนอราคา
        </div>
        <div class="col text-right">{{bc.affiliated.iso_code.cm_code|safe}}</div>
    </div>
    <div class="row my-2">
        <div class="col d-print-none">
            {% if isFromHome == 'True' %}
                <a href="{% url 'home' %}" class="btn btn-secondary d-print-none"><i class="fas fa-arrow-left"></i> กลับไป</a>
            {% elif isFromHome == 'False' %}
                <a href="{% url 'viewCPApprove' %}" class="btn btn-secondary d-print-none"><i class="fas fa-arrow-left"></i> กลับไป</a>
            {% endif %}
        </div>
        <div class="col-6 text-right">
          <button type="button" class="btn btn-outline-info pull-right hidden-print my-2" onclick="window.print();">
            <i class="fas fa-print"></i>
            ปริ้นใบเปรียบเทียบราคา
          </button>
        </div>
      </div>
</div>
<!-- Modal Search-->
<div class="modal fade" id="myEdit" role="dialog">
    <div class="modal-dialog modal-lg verybigmodal">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">รายการสินค้าที่ซื้อล่าสุด</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p id="pShowSearch"></p>
            </div>
        </div>
    </div>
</div>
{% endblock%}
{% block javascript %}
<script src="{% static 'js/thaibath.js' %}" type="text/javascript"></script>
<script>
    $(function() {
    var priceSelect = 0;
    var index = 0;
    var amount = 0;
    //get datalist to set input
    var bidderName = "{{cp.select_bidder}}";
    "{% for bd in bidder%}"
        "{% if cp.select_bidder == bd.distributor%}"
            priceSelect = "{{bd.total_price}}";
            index = "{{forloop.counter}}";
            amount = "{{bd.amount}}";
        "{% endif %}"
    "{% endfor %}"
    
    var thaibath = ArabicNumberToText(amount);
    document.getElementById("txtSelectBidder").innerHTML = "ขออนุมัติจัดซื้อจาก "+ bidderName + "&emsp;&emsp;เป็นเงินทั้งสิ้น&emsp;&emsp;" + ReplaceNumberWithCommas(amount) + " บาท&emsp;&emsp;" + "(" + thaibath + ")";

    /*ไม่ใช้แล้ว 14/02/2023
    //ถ้ามีมากกว่า 1 ร้านให้คิดราคาส่วนต่าง/ส่วนลด
    if('{{bidder.count}}' > 1){
        calculateDiffPrice(priceSelect, index);
    }else{
        calculateDiffPriceOnlyOneDistributor();
    }
    */

    //คำนวนราคาส่วนต่างของสองร้านค้า
    calculateDiffPrice(priceSelect, index);

}); 

  function calculateDiffPrice(priceSelect, index){
    var priceFirst = parseFloat("{{ bidder.0.total_after_discount}}");
    var priceSelect = parseFloat("{{ bidder.1.total_after_discount}}");
    var diff = priceSelect - priceFirst;
    var diffPercent = (diff/priceFirst)*100;
    if (typeof index !== "undefined" && !isNaN(diff)){
        document.getElementById("txtLess").innerHTML = "รายการที่ 1 ถูกกว่ารายการที่ 2 (ก่อน vat)&emsp;&emsp;&emsp;&emsp;"+ ReplaceNumberWithCommas(diff) + "&emsp;&emsp;&emsp;&emsp;คิดเป็น&emsp;&emsp;&emsp;&emsp;"+diffPercent.toFixed(2)+"%";
    }else{
        $(".less").remove();
    }
        
  }

  function ReplaceNumberWithCommas(num) {
        const options = { 
        minimumFractionDigits: 2,
        maximumFractionDigits: 2 
        };
        const formatted = Number(num).toLocaleString('en', options);
        return formatted;
    }

    //ค้นหา 5 รายการล่าสุด
function searchLastPoItem(){
    var itemList = [];

    "{% for it in items_oldest %}"
        itemList.push('{{it.item.id}}');
    "{% endfor %}"

    if (itemList) {
        // Create Ajax Call
        $.ajax({
            url: '{% url "searchLastPoItem" %}',
            data: { itemList },
            dataType: 'json',
            success: function (data) {
              if (data.instance) {
                openModal(data.instance);
                e.preventDefault();
              }else{
                $("#pShowSearch").html('ไม่พบรายการที่สั่งซื้อล่าสุด');
              }
            }
        });
    } else {
      
    }
    return false;
}

function openModal(instance) {
  $("#pShowSearch").html(instance);
  $('#myEdit').modal('show');
}

/*ไม่ใช้แล้ว 14/02/2023
//ถ้ามีมากกว่า 1 ร้านให้คิดราคาส่วนต่าง/ส่วนลด
function calculateDiffPriceOnlyOneDistributor(){
    var priceFirst = parseFloat("{{bidder.0.total_after_discount}}");
    var diffPercent = ("{{cp.amount_diff}}"/priceFirst)*100;
    if (!isNaN(diffPercent))
        document.getElementById("txtLess").innerHTML = "ราคาส่วนต่าง/ส่วนลด (ก่อน vat)&emsp;&emsp;&emsp;&emsp;"+ ReplaceNumberWithCommas("{{cp.amount_diff}}") + "&emsp;&emsp;&emsp;&emsp;คิดเป็น&emsp;&emsp;&emsp;&emsp;"+ diffPercent.toFixed(2) +"%";
    else
        $(".less").remove();
}
*/
</script>
{% endblock %}