{% extends 'layouts.html' %}
{% load static %}
{% load widget_tweaks %}

{% block css %}
<style>
    @media print {
    .hidden-print {
      display: none;
    }
  }
  .verybigmodal {
        max-width: 80%;
  }
</style>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row my-2">
        <div class="col-md-12">
            <div class="row">
              <div class="col">
                <description>
                  <h4>{{po.address_company.name_th}}</h4>
                  {{po.address_company.address}}
                  {% if po.address_company.tel %}<br>โทร {{po.address_company.tel}}{%endif%}
                  {% if po.address_company.tex %}<br>เลขที่ผู้เสียภาษี {{po.address_company.tex}}{%endif%}
                </description>
              </div>
              <!-- QR Code 17-05-2024 เอาออกก่อน -->
              <div class="col-4 float-right" style="display: flex; align-items: center;">
                {% if po.qr_code %}
                    <img src="{{ po.qr_code.url }}" width="120" height="120" style="margin-right: 10px;">
                <ul class="list-unstyled my-3 text-left">
                    {% for bp in base_po_type %}
                        <li>
                            {% if bp == po.po_type %}
                                <i class="fas fa-square"></i>
                            {% else %}
                                <i class="far fa-square"></i>
                            {% endif %}
                            {{ bp.name }}
                        </li>
                    {% endfor %}
                </ul>
                {% endif %}
              </div>
            </div>
        <hr>
        <div class="row">
          <div class="col-md-6">
            <address>
            <strong>ผู้จำหน่าย: {{po.distributor.id}}</strong><br>
              {% if po.distributor.prefix %}{{po.distributor.prefix}}{%endif%} {{po.distributor}}<br>
              {{po.distributor.address}}<br>
              โทร : {{po.distributor.tel}}<br>
              <h6 style="font-size:8pt">รหัสใบเปรียบเทียบ :
                <b><u><a class="{% if po.cp.is_re_approve %}text-danger{%endif%}" href="{%url 'showComparePricePO' po.cp.id 4 %}">{{po.cp.ref_no}}</a></u></b>
              </h6>
            </address>
          </div>
          <div class="col-md-6 text-right">
            <address>
              <strong>ใบสั่งซื้อ
                {% for item in po_items %}
                  {% if item.item.requisit.memorandum_pdf %}
                    {% ifchanged item.item.requisit.memorandum_pdf %}
                      <a href="/media/{{item.item.requisit.memorandum_pdf}}" class="btn btn-outline-success btn-sm hidden-print"><i class="fas fa-file-download"></i> เอกสารแนบ</a>
                    {% endifchanged %}
                  {% endif %}
                {% endfor %}
              </strong><br>
              เลขที่ใบสั่งซื้อ : {{po.ref_no}}<br>
              วันที่ : {{po.created}}<br>
              เครดิต : {{po.credit}}<br>
              ขนส่งโดย : {{po.shipping}}
            </address>
          </div>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><strong>รายการสั่งซื้อ</strong></h3>
          </div>
          <div class="panel-body">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <form class="form-inline ml-3" id="search" method="GET">
                            <th scope="col" style="cursor: pointer;" onclick="searchLastPoItem()" data-target="#myEdit" data-toggle="modal">
                              รหัสสินค้า <i class="fas fa-list text-danger d-print-none"></i>
                            </th>
                        </form>
                        <th scope="col">รายละเอียด</th>
                        <th scope="col">จำนวน</th>
                        <th scope="col">หน่วย</th>
                        <th scope="col" class="text-right">หน่วยละ</th>
                        <th scope="col" class="text-right">ส่วนลด</th>
                        <th scope="col" class="text-right">จำนวนเงิน</th>
                        <th scope="col" class="w-10"></th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <form class="form-horizontal" method="POST" action="">
                {% csrf_token %}
            {{ formset.management_form }}
            {% for form in formset %}
            <div class="row form-row spacer my-2" >
                <div class="col">
                    <div class="input-group">
                          {{form.item}}
                          <input id="id_form-0-express" name="form-0-express" type="text" list="idExpressList" class="express form-control" Placeholder="ค้นหารหัส express..." class="form-control" autocomplete="off">
                          <!--datalist id="idExpressList">
                            {% for results in itemList %}
                              <option data-id="{{results.id}}" data-show="{{results.product.id}} {{results.product}}" data-refno = "{{results.requisit.pr_ref_no}}{{results.product.id}}" value="{{results.product.id}}: {{results.product}} เลขที่ {{results.requisit.pr_ref_no}}" data-quantity="{{results.quantity_pr}}" data-unit="{{results.product.unit.id}}"></option>
                            {% endfor %}
                          </datalist-->
                          <datalist id="idExpressList">
                            {% for results in itemList %}
                              <option data-id="{{results.item__id}}" data-show="{{results.item__product__id}} {{results.item__product_name}}" data-refno = "{{results.item__requisit__pr_ref_no}}{{results.item__product__id}}" value="{{results.item__product__id}}: {{results.item__product_name}} เลขที่ {{results.item__requisit__pr_ref_no}}" data-quantity="{{results.item__quantity_pr}}" data-unit="{{results.unit__id}}"></option>
                            {% endfor %}
                          </datalist>
                          {{form.description| add_class:"form-control description"}} {{form.quantity}} {{form.unit | add_class:"form-control"}} {{form.unit_price}} {{form.discount}} {{form.price}}
                          <div class="input-group-append text-right">
                              <button class="btn btn-success add-form-row hidden-print">+</button>
                          </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <hr>
            <div class="row">
              <div class="col-2">
                <p>{{price_form.note.label}}</p>
              </div>
              <div class="col-5">
                {{price_form.note | add_class:"form-control"}}
              </div>
              <div class="col-3">
                <p class="text-right">รวมเป็นเงิน</p>
              </div>
              <div class="col-2">
                {{price_form.total_price | add_class:"text-right"}}
              </div>
            </div>
            <div class="row">
              <div class="col-2">
                <p>{{price_form.delivery.label}}</p>
              </div>
              <div class="col-5">
                {{price_form.delivery | add_class:"form-control"}}
              </div>
              <div class="col-3">
                <p class="text-right">หักส่วนลด</p>
              </div>
              <div class="col-2">
                {{price_form.discount | add_class:"text-right"}}
                <p class="text-right" id="tempTotal" hidden>{{po.total_price}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-10">
                <p class="text-right">จำนวนเงินหลังหักส่วนลด</p>
              </div>
              <div class="col-2">
                {{price_form.total_after_discount | add_class:"text-right"}}
              </div>
            </div>
            <div class="row">
              <div class="col-10">
                <p class="text-right">ค่าขนส่ง</p>
              </div>
              <div class="col-2">
                {{price_form.freight | add_class:"text-right"}}
              </div>
            </div>
            <div class="row">
              <div class="col-10">
                <p class="text-right">จำนวนภาษีมูลค่าเพิ่ม 7%</p>
                <p id="vat-type" hidden>{{po.vat_type.id}}</p>
              </div>
              <div class="col-2">
                {{price_form.vat | add_class:"text-right"}}
              </div>
            </div>
            <div class="row">
              <div class="col-7">
                <p id="total-spell"></p>
              </div>
              <div class="col-3">
                <p class="text-right">จำนวนเงินรวมทั้งสิ้น</p>
              </div>
              <div class="col-2">
                {{price_form.amount | add_class:"text-right" }}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col text-right">
                <h6>{{bc.affiliated.iso_code.po_code|safe}}</h6>
              </div>
            </div>
            <div class="row spacer my-3">
                <div class="col">
                    <button type="submit" class="btn btn-primary hidden-print"><i class="fas fa-save"></i>
                      บันทึก
                    </button>
                </div>
                <div>
                  <button type="button" class="col btn btn-secondary pull-right hidden-print" onclick="scrollToTop();window.print();">
                      <i class="fas fa-print"></i>
                      ปริ้นใบสั่งซื้อ
                  </button>
                </div>
            </div>
            </form> 
          </div>
        </div>
      </div>
    </div>
    <!-- Modal Search-->
    <div class="modal fade" id="myEdit" role="dialog">
      <div class="modal-dialog modal-lg verybigmodal">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">รายการสินค้าที่ซื้อล่าสุด</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <p id="pShowSearch"></p>
          </div>
          </div>
      </div>
    </div>
</div>
{% endblock%}
{% block javascript %}
<script src="{% static 'js/thaibath.js' %}" type="text/javascript"></script>
<script type="text/javascript">

$(function() {
//หาจำนวนที่จะสร้างช่อง
let len = 0; 
"{% for it in cp_item %}"
        len = len + 1;
"{% endfor %}"

//เพิ่มช่อง
for (let i = 1; i < len; i++) {
    $('.add-form-row').trigger('click');
}

//set ค่าตามผู้จำหน่ายแรกสุดที่ได้สร้าง
"{% for it in cp_item %}"
        $("#id_form-{{forloop.counter0}}-item").val("{{it.item.id}}");
        $("#id_form-{{forloop.counter0}}-description").val("{{it.description}}");
        $("#id_form-{{forloop.counter0}}-quantity").val("{{it.quantity}}");
        $("#id_form-{{forloop.counter0}}-unit").val("{{it.unit.id}}");
        $("#id_form-{{forloop.counter0}}-unit_price").val("{{it.unit_price}}");
        $("#id_form-{{forloop.counter0}}-price").val("{{it.price}}");
        "{% if it.discount %}"
          $("#id_form-{{forloop.counter0}}-discount").val("{{it.discount}}");
        "{% endif %}"
"{% endfor %}"

//get datalist to set input
var inputs = $(".item");
for(var i = 0; i < inputs.length; i++){
    if($(inputs[i]).val()){
      var val = $(inputs[i]).val();
      var show = $('#idExpressList option[data-id='+val+']').attr('data-show');
      //set value to form.item
      var val = $("#id_form-"+i+"-express").val(show);
    }
}

//price ราคารวม, vat, รวมทั้งสิ้น
$("#id_total_price").val("{{cpd_price.total_price}}");
//หลังหักส่วนลดเป็นราคารวมก่อน
$("#id_total_after_discount").val("{{cpd_price.total_after_discount}}");
$("#id_discount").val("{{cpd_price.discount}}");
$("#id_freight").val("{{cpd_price.freight}}");
$("#id_vat").val("{{cpd_price.vat}}");
$("#id_amount").val("{{cpd_price.amount}}");

//แสดง จำนวนเงินรวมทั้งสิ้นสะกด
var thaibath = ArabicNumberToText($("#id_amount").val());
document.getElementById("total-spell").innerHTML = "(" + thaibath + ")";

});

function updateElementIndex(el, prefix, ndx) {
    var id_regex = new RegExp('(' + prefix + '-\\d+)');
    var replacement = prefix + '-' + ndx;
    if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex, replacement));
    if (el.id) el.id = el.id.replace(id_regex, replacement);
    if (el.name) el.name = el.name.replace(id_regex, replacement);
}
function cloneMore(selector, prefix) {
    var newElement = $(selector).clone(true);
    var total = $('#id_' + prefix + '-TOTAL_FORMS').val();
    newElement.find(':input:not([type=button]):not([type=submit]):not([type=reset])').each(function() {
        var name = $(this).attr('name')
        if(name) {
            name = name.replace('-' + (total-1) + '-', '-' + total + '-');
            var id = 'id_' + name;
            $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
        }
    });
    newElement.find('label').each(function() {
        var forValue = $(this).attr('for');
        if (forValue) {
          forValue = forValue.replace('-' + (total-1) + '-', '-' + total + '-');
          $(this).attr({'for': forValue});
        }
    });
    total++;
    $('#id_' + prefix + '-TOTAL_FORMS').val(total);
    $(selector).after(newElement);
    var conditionRow = $('.form-row:not(:last)');
    conditionRow.find('.btn.add-form-row')
    .removeClass('btn-success').addClass('btn-danger')
    .removeClass('add-form-row').addClass('remove-form-row')
    .html('-');
    return false;
}
function deleteForm(prefix, btn) {
    var total = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
    if (total > 1){
        btn.closest('.form-row').remove();
        var forms = $('.form-row');
        $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);
        for (var i=0, formCount=forms.length; i<formCount; i++) {
            $(forms.get(i)).find(':input').each(function() {
                updateElementIndex(this, prefix, i);
            });
        }
    }
    return false;
}
$(document).on('click', '.add-form-row', function(e){
    e.preventDefault();
    cloneMore('.form-row:last', 'form');
    return false;
});
$(document).on('click', '.remove-form-row', function(e){
    e.preventDefault();
    deleteForm('form', $(this));
    //คำนวนค่าทั้งหมด
    calculateAll();
    return false;
});

//jQuery ดึงค่าจาก 2 class
$(".unit-price, .quantity , .discount")
  .focusout(function() {
  })  
  .blur(function() {
    var suffix = $(this).attr('id').match(/\d+/);
    var quantity = $('#id_form-' + suffix + '-quantity').val();
    var unitPrice = $('#id_form-' + suffix + '-unit_price').val();

    //เพิ่มคำนวณส่วนลด 09-08-2024
    tmp_price = parseFloat(quantity) * parseFloat(unitPrice);
    var discount = calculateUnitDiscount($('#id_form-' + suffix + '-discount').val(), tmp_price);
    price = tmp_price - discount;

    $('#id_form-' + suffix + '-price').val(price);
    
    // format ทศนิยม 2 และ 0 ตำแหน่ง
    $('#id_form-' + suffix + '-unit_price').val(parseFloat($('#id_form-' + suffix + '-unit_price').val()).toFixed(2));
    $('#id_form-' + suffix + '-quantity').val(parseFloat($('#id_form-' + suffix + '-quantity').val()).toFixed(4));
    $('#id_form-' + suffix + '-price').val(parseFloat($('#id_form-' + suffix + '-price').val()).toFixed(2));

    //คำนวนค่าทั้งหมด
    calculateAll();
});

//เพิ่มคำนวณส่วนลด 09-08-2024
$(".discount")
  .focusout(function() {
  })  
  .blur(function() {
    if($(this).val().indexOf('%') != -1){
        //ไม่ต้องทำอะไร
    }else{
        $(this).val(parseFloat($(this).val()).toFixed(2));
    }
});

$(".price" )
  .focusout(function() {
  })  
  .blur(function() {
    $(this).val(parseFloat($(this).val()).toFixed(2));
    //คำนวนค่าทั้งหมด
    calculateAll();
  });


$("#id_discount")
  .focusout(function() {
  })  
  .blur(function() {
    if($(this).val().indexOf('%') != -1){
        //ไม่ต้องทำอะไร
    }else{
        $(this).val(parseFloat($(this).val()).toFixed(2));
    }
});

$("#id_total_price")
  .focusout(function() {
  })  
  .blur(function() {
    $(this).val(parseFloat($(this).val()).toFixed(2));
});

$("#id_freight")
  .focusout(function() {
  })  
  .blur(function() {
    $(this).val(parseFloat($(this).val()).toFixed(2));
});

$("#id_freight" ).change(function() {
  var amount = calculateAmount($("#id_vat").val(), $("#id_total_after_discount").val(), $("#id_freight").val());
  $("#id_amount").val(amount.toFixed(2));
  //แสดงจำนวนเงินตัวสะกด
  var thaibath = ArabicNumberToText($("#id_amount").val());
  document.getElementById("total-spell").innerHTML = "(" + thaibath + ")";
});

$("#id_amount").change(function() {
  $(this).val(parseFloat($(this).val()).toFixed(2));
  //แสดงจำนวนเงินตัวสะกด
  var thaibath = ArabicNumberToText($(this).val());
  document.getElementById("total-spell").innerHTML = "(" + thaibath + ")";
});

$("#id_total_price, #id_discount").change(function() {
  var price =  $("#id_total_price").val();
  var discount =  $("#id_discount").val();
  var totalAfterDiscount = parseFloat(price) - calculateDiscount(discount);

  //คำนวน vat
  var vat = calculateVat(totalAfterDiscount);
  $("#id_vat").val(vat.toFixed(2));

  setValueTotalAfterDiscount(totalAfterDiscount, vat);

  //คำนวน amount
  var amount = calculateAmount(vat, $("#id_total_after_discount").val(), $("#id_freight").val());
  $("#id_amount").val(amount.toFixed(2));
  //แสดงจำนวนเงินตัวสะกด
  var thaibath = ArabicNumberToText($("#id_amount").val());
  document.getElementById("total-spell").innerHTML = "(" + thaibath + ")";
});

//เพิ่มคำนวณส่วนลด 09-08-2024
function calculateUnitDiscount(prmDiscount, price){
    if(prmDiscount.indexOf('%') != -1){
        var discountPersent = prmDiscount.replace('%','');
        var discount = parseFloat(price) * parseFloat(discountPersent)/100;
        return discount;
    }else{
        return prmDiscount;
    }
}

function calculateDiscount(prmDiscount){
    if(prmDiscount.indexOf('%') != -1){
        var discountPersent = prmDiscount.replace('%','');
        var totalPrice = $("#id_total_price").val();
        var discount = parseFloat(totalPrice) * parseFloat(discountPersent)/100;
        return discount;
    }else{
        return prmDiscount;
    }
}


function calculateAll(){
    //คำนวน รวมเป็นเงิน
    var inputs = $(".price" );
      var total = 0.0;
      for(var i = 0; i < inputs.length; i++){
          if($(inputs[i]).val() != 0.00){
            total += parseFloat($(inputs[i]).val());
          }
      }
    var totalAfterDiscount = calculateTotalAfterDiscount(total);
    var vat = calculateVat(totalAfterDiscount);

    setValueTotalAfterDiscount(totalAfterDiscount, vat);

    //แสดง จำนวนเงินหลังหักส่วนลด
    $("#id_total_after_discount").val(totalAfterDiscount.toFixed(2));
    //แสดง รวมเป็นเงิน 
    $("#id_total_price").val(total.toFixed(2));
    //แสดง จำนวนภาษีมูลค่าเพิ่ม
    $("#id_vat").val(vat.toFixed(2));
    //document.getElementById("vat").innerHTML = vat.toFixed(2) + " บาท";
    //แสดง จำนวนเงินรวมทั้งสิ้น
    var amount =  calculateAmount(vat, $("#id_total_after_discount").val(), $("#id_freight").val());
    $("#id_amount").val(amount.toFixed(2));
    //document.getElementById("amount").innerHTML = amount.toFixed(2) + " บาท";
    //แสดง จำนวนเงินรวมทั้งสิ้นสะกด
		var thaibath = ArabicNumberToText($("#id_amount").val());
    document.getElementById("total-spell").innerHTML = "(" + thaibath + ")";
}

function setValueTotalAfterDiscount(totalAfterDiscount, vat){
  var TAD = 0.00;
  tempTotal.innerHTML = totalAfterDiscount;
  var vatType = document.getElementById("vat-type").innerHTML;
  if(vatType == "1"){
    TAD = parseFloat(tempTotal.innerHTML) - parseFloat(vat) ;
  } //vat ใน
  else if(vatType == "2") //vat นอก
    TAD = parseFloat(tempTotal.innerHTML);
  else
    TAD = parseFloat(tempTotal.innerHTML);
    
  $("#id_total_after_discount").val(TAD.toFixed(2));
}

function calculateTotalAfterDiscount(totalPrice){
  var discount =  parseFloat($("#id_discount").val());
  if(isNaN(discount) || discount == "")
    discount = 0.00;
  return totalPrice - discount;
}
function calculateVat(totalAfterDiscount){
  var vatType = document.getElementById("vat-type").innerHTML;
  var vat = 0.00;
  if(vatType == "1") //vat ใน
    vat = (totalAfterDiscount*7)/107;
  else if(vatType == "2") //vat นอก
    vat = (totalAfterDiscount*7)/100;
  return vat;
}

function calculateAmount(vat, totalAfterDiscount, freight){
  if(isNaN(freight) || freight == "")
    freight = 0.00;
  return parseFloat(totalAfterDiscount) + parseFloat(vat) + parseFloat(freight);
}

$(".express").change(function() {
    // get data id ของ option data list
    var suffix = $(this).attr('id').match(/\d+/);
    var val = $("#id_form-"+suffix+"-express").val();
    var item1 = val.split(":");
    var idExpress = item1[item1.length - 2];

    var item2 = val.split("เลขที่ ");
    var idRef = item2[item2.length - 1];

    var dataRef = idRef + idExpress;

    if(val != ""){
        var id = $('#idExpressList option[data-refno='+dataRef+']').attr('data-id');
        var quantity = $('#idExpressList option[data-refno='+dataRef+']').attr('data-quantity');
        var unit = $('#idExpressList option[data-refno='+dataRef+']').attr('data-unit');
        var show = $('#idExpressList option[data-refno='+dataRef+']').attr('data-show');
        //set value to form.item
      $("#id_form-"+suffix+"-express").val(show);
      $("#id_form-"+suffix+"-item").val(id);
      $("#id_form-"+suffix+"-quantity").val(quantity);
      $("#id_form-"+suffix+"-unit").val(unit);
    }else{
      $("#id_form-"+suffix+"-item").val("");
      $("#id_form-"+suffix+"-quantity").val("");
      $("#id_form-"+suffix+"-unit").val("");
    }
  });

  function searchLastPoItem(){
    var itemList = [];
    var inputs = $(".item");
    for(var i = 0; i < inputs.length; i++){
        if($(inputs[i]).val()){
            itemList.push($("#id_form-"+i+"-item").val());
        }
    }

    if (itemList) {
        // Create Ajax Call
        $.ajax({
            url: '{% url "searchLastPoItem" %}',
            data: { itemList },
            dataType: 'json',
            success: function (data) {
              if (data.instance) {
                openModal(data.instance);
                e.preventDefault();
              }else{
                $("#pShowSearch").html('ไม่พบรายการที่สั่งซื้อล่าสุด');
              }
            }
        });
    } else {

    }
    return false;
}


function openModal(instance) {
  $("#pShowSearch").html(instance);
  $('#myEdit').modal('show');
}

</script>
{% endblock%}