{% extends 'layouts.html' %}
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}

{% block css %}
<style>
    @media print {
    .hidden-print {
      display: none;
    }
  }
  input.del[type=checkbox] {
   display: none;
  }
  
</style>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row my-2">
        <div class="col-md-12">
        <div class="invoice-title">
          <description>
            <h4>{{po.address_company.name_th}}</h4>
            {{po.address_company.address}}
            {% if po.address_company.tel %}<br>โทร {{po.address_company.tel}}{%endif%}
            {% if po.address_company.tex %}<br>เลขที่ผู้เสียภาษี {{po.address_company.tex}}{%endif%}
          </description>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-6">
            <address>
            <strong>ผู้จำหน่าย: {{po.distributor.id}}</strong><br>
              {% if po.distributor.prefix %}{{po.distributor.prefix}}{%endif%} {{po.distributor}}<br>
              {{po.distributor.address}}<br>
              โทร : {{po.distributor.tel}}<br>
              <h6 style="font-size:8pt">
              {% if po.cp %}
                รหัสใบเปรียบเทียบ :
                <b><u><a class="{% if po.cp.is_re_approve %}text-danger{%endif%}" href="{%url 'showComparePricePO' po.cp.id 4 %}">{{po.cp.ref_no}}</a></u></b>
              {% else %}
                รหัสใบขอซื้อ :
                {% for i in new_pr %}
                  <b><u><a href="/purchaseRequisition/show/{{i.id}}/4">{{i.ref_no}}</a></u>, </b>
                {% endfor %}
              {%endif%}
              </h6>
            </address>
          </div>
          <div class="col-md-6 text-right">
            <address>
              <strong>ใบสั่งซื้อ
                {% if po.is_re_approve == True %}
                  <b class="text-danger">***ฉบับแก้ไข</b>
                {% endif %}
                {% for item in po_items %}
                  {% if item.item.requisit.memorandum_pdf %}
                    {% ifchanged item.item.requisit.memorandum_pdf %}
                      <a href="/media/{{item.item.requisit.memorandum_pdf}}" class="btn btn-outline-success btn-sm hidden-print"><i class="fas fa-file-download"></i> เอกสารแนบ</a>
                    {% endifchanged %}
                  {% endif %}
                {% endfor %}
              </strong><br>
              เลขที่ใบสั่งซื้อ : {{po.ref_no}}<br>
              วันที่ : {{po.created}}<br>
              เครดิต : {{po.credit}}<br>
              ขนส่งโดย : {{po.shipping}}
            </address>
          </div>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><strong>รายการสั่งซื้อ</strong></h3>
          </div>
          <div class="panel-body">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">รหัสสินค้า</th>
                        <th scope="col">รายละเอียด</th>
                        <th scope="col">จำนวน</th>
                        <th scope="col" class="w-25">หน่วย</th>
                        <th scope="col">หน่วยละ</th>
                        <th scope="col">จำนวนเงิน</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <form class="form-horizontal" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
            {{ formset.management_form }}
            {% for form in formset %}
            <div class="row form-row spacer my-2" id="div-{% if form.id.value %}{{form.id.value}}{% else %}None{% endif %}">
                <div class="col">
                    <div class="input-group">
                        {{form.id}} 
                        {{form.item}}
                        <input id="id_purchaseorderitem_set-{{forloop.counter0}}-express" name="purchaseorderitem_set-{{forloop.counter0}}-express" type="text" list="idExpressList" class="express form-control" Placeholder="ค้นหารหัส express..." class="form-control" autocomplete="off">
                        <!--datalist id="idExpressList">
                          {% for results in itemList %}
                            <option data-id="{{results.id}}" data-show="{{results.product.id}} {{results.product}}" data-refno = "{{results.requisit.pr_ref_no}}{{results.product.id}}" value="{{results.product.id}}: {{results.product}} เลขที่ {{results.requisit.pr_ref_no}}" data-quantity="{{results.quantity_pr}}" data-unit="{{results.product.unit.id}}"></option>
                          {% endfor %}
                        </datalist เปลี่ยนให้ดึงสินค้าเฉพาะที่ตัดมาจากใบขอซื้อแล้วเท่านั้น 14-09-2022 -->
                        <datalist id="idExpressList">
                          {% for results in itemList %}
                            <option data-id="{{results.item__id}}" data-show="{{results.item__product__id}} {{results.item__product__name}}" data-refno = "{{results.item__requisit__pr_ref_no}}{{results.item__product__id}}" value="{{results.item__product__id}}: {{results.item__product__name}} เลขที่ {{results.item__requisit__pr_ref_no}}" data-quantity="{{results.item__quantity_pr}}" data-unit="{{results.item__product__unit__id}}"></option>
                          {% endfor %}
                        </datalist>
                        {{form.description|add_class:"form-control"}} {{form.quantity }} {{form.unit| add_class:"form-control"}} {{form.unit_price}} {{form.price}} {{ form.DELETE| add_class:"del"}}
                        {% if form.id.value %}
                          <div class="input-group-append text-right">
                            <button type="button" class="btn btn-danger hidden-print" onclick="hideDiv('{{form.id.value}}')">-</button>
                         </div>
                        {% else %}
                          <div class="input-group-append text-right">
                              <button class="btn btn-success add-form-row hidden-print">+</button>
                          </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
            <hr>
            <div class="row">
              <div class="col-2">
                <p>{{price_form.note.label}}</p>
              </div>
              <div class="col-5">
                {{price_form.note | add_class:"form-control"}}
              </div>
              <div class="col-3">
                <p class="text-right">รวมเป็นเงิน</p>
              </div>
              <div class="col-2">
                {{price_form.total_price | add_class:"text-right"}}
              </div>
            </div>
            <div class="row">
              <div class="col-2">
                <p>{{price_form.delivery.label}}</p>
              </div>
              <div class="col-5">
                {{price_form.delivery | add_class:"form-control"}}
              </div>
              <div class="col-3">
                <p class="text-right">หักส่วนลด</p>
              </div>
              <div class="col-2">
                {{price_form.discount | add_class:"text-right"}}
                <p class="text-right" id="tempTotal" hidden>{{po.total_price}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-10">
                <p class="text-right">จำนวนเงินหลังหักส่วนลด</p>
              </div>
              <div class="col-2">
                {{price_form.total_after_discount | add_class:"text-right"}}
              </div>
            </div>
            <div class="row">
              <div class="col-10">
                <p class="text-right">ค่าขนส่ง</p>
              </div>
              <div class="col-2">
                {{price_form.freight | add_class:"text-right"}}
              </div>
            </div>
            <div class="row">
              <div class="col-10">
                <p class="text-right">จำนวนภาษีมูลค่าเพิ่ม 7%</p>
                <p id="vat-type" hidden>{{po.vat_type.id}}</p>
              </div>
              <div class="col-2">
                {{price_form.vat | add_class:"text-right"}}
              </div>
            </div>
            <div class="row">
              <div class="col-7">
                <p id="total-spell"></p>
              </div>
              <div class="col-3">
                <p class="text-right">จำนวนเงินรวมทั้งสิ้น</p>
              </div>
              <div class="col-2">
                {{price_form.amount | add_class:"text-right" }}
              </div>
            </div>
            <div class="card bg-light hidden-print my-3 {%if isFromPR == 'True'%}d-none{%endif%}">
              <div class="card-body">
                <label>{{ form.distributor.label }}</label>
                <div>
                    <input type="text" name="form-distributor" id="id-form-distributor" class="form-control" Placeholder="ค้นหาผู้จำหน่าย ..." autocomplete="off" onfocusout="searchDataDistributor()">
                    <!--input id="id-form-distributor" name="form-distributor" type="text" list="idDistributorList" class="distributor form-control" Placeholder="ค้นหาผู้จำหน่าย ..." autocomplete="off">
                    <datalist-- id="idDistributorList">
                    {% for results in distributorList %}
                        <option data-id="{{results.id}}" data-show="{{results.name}}" value="{{results.id}}-{{results.name}}" data-credit="{{results.credit__id}}" data-vat_type="{{results.vat_type__id}}"></option>
                    {% endfor %}
                    </datalist-->
                </div>
                <p>{{ form | crispy}}</p>
                {% csrf_token %}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col text-right">
                <h6>{{bc.affiliated.iso_code.po_code|safe}}</h6>
              </div>
            </div>
            <div class="row spacer my-3">
                <div class="col">
                    <button id="submit" type="submit" class="btn {% if isFromPR == 'True'%}btn-primary{% else %}btn-warning{% endif %} hidden-print"><i class="fas fa-save"></i>
                      {% if isFromPR  == 'True'%}
                        บันทึก
                      {% else %}
                        บันทึกการแก้ไข
                      {% endif %}
                    </button>
                </div>
                <div>
                  <button type="button" class="col btn btn-secondary pull-right hidden-print" onclick="window.print();">
                      <i class="fas fa-print"></i>
                      ปริ้นใบสั่งซื้อ
                  </button>
                </div>
            </div>
          </form>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock%}
{% block javascript %}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
<script src="{% static 'js/thaibath.js' %}" type="text/javascript"></script>
<script type="text/javascript">

$('div#div_id_quotation_pdf a').addClass('btn btn-outline-success btn-sm');
$('div#div_id_quotation_pdf a').text('Download');
//แสดงครั้งแรกเมื่อเปิด page
$(function() {
    //แสดง จำนวนเงินรวมทั้งสิ้นสะกด
		var thaibath = ArabicNumberToText($("#id_amount").val());
    document.getElementById("total-spell").innerHTML = "(" + thaibath + ")";

    //get datalist to set input
    var inputs = $(".item");
    for(var i = 0; i < inputs.length; i++){
        if($(inputs[i]).val()){
          var val = $(inputs[i]).val();
          var show = $('#idExpressList option[data-id='+val+']').attr("data-show");
          var unit = $('#idExpressList option[data-id='+val+']').attr("data-unit");

          //set value to form.item
          $("#id_purchaseorderitem_set-"+i+"-express").val(show);
          $("#id_purchaseorderitem_set-"+i+"-unit").val(unit);
        }
    }

    //set ผู้จำหน่าย
    /*
    var valDT  = $('#id_distributor').val();
    var showDT = $('#idDistributorList option[data-id='+valDT+']').val();
    $('#id-form-distributor').val(showDT);
    */
    setDataDistributor();

    $('#id_created').val('{{po.created|date:"Y-m-d"}}');

    //ปิดไม่ให้แก้รหัสใบสั่งซื้อหากไม่มีสิทธิ
    "{% if not isEditPO %}"
            $('#div_id_ref_no').hide();
            $('#div_id_created').hide();
     "{% endif %}"

      //ปิดไม่ให้แก้ผู้อนุมัติใบสั่งซื้อหากไม่มีสิทธิ
      "{% if not isEditApproverUserPO %}"
            $('#div_id_approver_user').hide();
      "{% endif %}"

});

$('form').submit(function() {
  var inputId = $("#div-None div.col div.input-group input").attr("id").match(/\d+/);
  var data = $('#id_purchaseorderitem_set-'+inputId+'-item').val();
  if(data == "")
     $("#div-None" ).remove();
});

function updateElementIndex(el, prefix, ndx) {
    var id_regex = new RegExp('(' + prefix + '-\\d+)');
    var replacement = prefix + '-' + ndx;
    if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex, replacement));
    if (el.id) el.id = el.id.replace(id_regex, replacement);
    if (el.name) el.name = el.name.replace(id_regex, replacement);
}
function cloneMore(selector, prefix) {
    var newElement = $(selector).clone(true);
    var total = $('#id_' + prefix + '-TOTAL_FORMS').val();
    newElement.find(':input:not([type=button]):not([type=submit]):not([type=reset])').each(function() {
        var name = $(this).attr('name')
        if(name) {
            name = name.replace('-' + (total-1) + '-', '-' + total + '-');
            var id = 'id_' + name;
            $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
        }
    });
    newElement.find('label').each(function() {
        var forValue = $(this).attr('for');
        if (forValue) {
          forValue = forValue.replace('-' + (total-1) + '-', '-' + total + '-');
          $(this).attr({'for': forValue});
        }
    });
    total++;
    $('#id_' + prefix + '-TOTAL_FORMS').val(total);
    $(selector).after(newElement);
    var conditionRow = $('.form-row:not(:last)');
    conditionRow.find('.btn.add-form-row')
    .removeClass('btn-success').addClass('btn-danger')
    .removeClass('add-form-row').addClass('remove-form-row')
    .html('-');
    return false;
}
function deleteForm(prefix, btn) {
    var total = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
    if (total > 1){
        btn.closest('.form-row').remove();
        var forms = $('.form-row');
        $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);
        for (var i=0, formCount=forms.length; i<formCount; i++) {
            $(forms.get(i)).find(':input').each(function() {
                updateElementIndex(this, prefix, i);
            });
        }
    }
    return false;
}
$(document).on('click', '.add-form-row', function(e){
    e.preventDefault();
    cloneMore('.form-row:last', 'purchaseorderitem_set');
    return false;
});
$(document).on('click', '.remove-form-row', function(e){
    e.preventDefault();
    deleteForm('purchaseorderitem_set', $(this));
    //คำนวน รวมเป็นเงิน
    calculateAll();
    return false;
});

//jQuery ดึงค่าจาก 2 class
$(".unit-price, .quantity")
  .focusout(function() {
  })  
  .blur(function() {
    var suffix = $(this).attr('id').match(/\d+/);
    var quantity = $('#id_purchaseorderitem_set-' + suffix + '-quantity').val();
    var unitPrice = $('#id_purchaseorderitem_set-' + suffix + '-unit_price').val();

    price = parseFloat(quantity) * parseFloat(unitPrice);
    $('#id_purchaseorderitem_set-' + suffix + '-price').val(price);
    
    // format ทศนิยม 2 และ 0 ตำแหน่ง
    $('#id_purchaseorderitem_set-' + suffix + '-unit_price').val(parseFloat($('#id_purchaseorderitem_set-' + suffix + '-unit_price').val()).toFixed(2));
    $('#id_purchaseorderitem_set-' + suffix + '-quantity').val(parseFloat($('#id_purchaseorderitem_set-' + suffix + '-quantity').val()).toFixed(4));

    //คำนวนค่าทั้งหมด
    calculateAll();
});

$(".price" )
  .focusout(function() {
  })  
  .blur(function() {
    $(this).val(parseFloat($(this).val()).toFixed(2));
    //คำนวน รวมเป็นเงิน
    calculateAll();
  });

$("#id_discount")
  .focusout(function() {
  })  
  .blur(function() {
    if($(this).val().indexOf('%') != -1){
        //ไม่ต้องทำอะไร
    }else{
        $(this).val(parseFloat($(this).val()).toFixed(2));
    }
});

$("#id_total_price")
  .focusout(function() {
  })  
  .blur(function() {
    $(this).val(parseFloat($(this).val()).toFixed(2));
});

$("#id_freight")
  .focusout(function() {
  })  
  .blur(function() {
    $(this).val(parseFloat($(this).val()).toFixed(2));
});

$("#id_freight" ).change(function() {
  var amount = calculateAmount($("#id_vat").val(), $("#id_total_after_discount").val(), $("#id_freight").val());
  $("#id_amount").val(amount.toFixed(2));
});

$("#id_total_price, #id_discount").change(function() {
  var price =  $("#id_total_price").val();
  var discount =  $("#id_discount").val();
  var totalAfterDiscount = parseFloat(price) - calculateDiscount(discount);

  //คำนวน vat
  var vat = calculateVat(totalAfterDiscount);
  $("#id_vat").val(vat.toFixed(2));

  setValueTotalAfterDiscount(totalAfterDiscount, vat);

  //คำนวน amount
  var amount = calculateAmount(vat, $("#id_total_after_discount").val(), $("#id_freight").val());
  $("#id_amount").val(amount.toFixed(2));
  //แสดงจำนวนเงินตัวสะกด
  var thaibath = ArabicNumberToText(amount);
  document.getElementById("total-spell").innerHTML = "(" + thaibath + ")";
});

function calculateDiscount(prmDiscount){
    if(prmDiscount.indexOf('%') != -1){
        var discountPersent = prmDiscount.replace('%','');
        var totalPrice = $("#id_total_price").val();
        var discount = parseFloat(totalPrice) * parseFloat(discountPersent)/100;
        return discount;
    }else{
        return prmDiscount;
    }
}

function calculateAll(){
    var inputs = $(".price" );
    var total = 0.0;
    for(var i = 0; i < inputs.length; i++){
        if($(inputs[i]).val() != 0.00 && !$(inputs[i]).hasClass("hiden-delete")){
          total += parseFloat($(inputs[i]).val());
        }
    }
    
    var totalAfterDiscount = calculateTotalAfterDiscount(total);
    var vat = calculateVat(totalAfterDiscount);

    setValueTotalAfterDiscount(totalAfterDiscount, vat);

    //แสดง รวมเป็นเงิน 
    $("#id_total_price").val(total.toFixed(2));
    //แสดง จำนวนภาษีมูลค่าเพิ่ม
    $("#id_vat").val(vat.toFixed(2));
    //แสดง จำนวนเงินรวมทั้งสิ้น
    var amount =  calculateAmount(vat, $("#id_total_after_discount").val(), $("#id_freight").val());
    $("#id_amount").val(amount.toFixed(2));
    //แสดง จำนวนเงินรวมทั้งสิ้นสะกด
		var thaibath = ArabicNumberToText(amount);
    document.getElementById("total-spell").innerHTML = "(" + thaibath + ")";
}

function setValueTotalAfterDiscount(totalAfterDiscount, vat){
  var TAD = 0.00;
  tempTotal.innerHTML = totalAfterDiscount;
  var vatType = document.getElementById("vat-type").innerHTML;
  if(vatType == "1"){
    TAD = parseFloat(tempTotal.innerHTML) - parseFloat(vat) ;
  } //vat ใน
  else if(vatType == "2") //vat นอก
    TAD = parseFloat(tempTotal.innerHTML);
  else
    TAD = parseFloat(tempTotal.innerHTML);
    
  $("#id_total_after_discount").val(TAD.toFixed(2));
}

function calculateTotalAfterDiscount(totalPrice){
  var discount =  parseFloat($("#id_discount").val());
  if(isNaN(discount) || discount == "")
    discount = 0.00;
  return totalPrice - discount;
}
function calculateVat(totalAfterDiscount){
  var vatType = document.getElementById("vat-type").innerHTML;
  var vat = 0.00;
  if(vatType == "1") //vat ใน
    vat = (totalAfterDiscount*7)/107;
  else if(vatType == "2") //vat นอก
    vat = (totalAfterDiscount*7)/100;
  return vat;
}

function calculateAmount(vat, totalAfterDiscount, freight){
  if(isNaN(freight) || freight == "")
    freight = 0.00;
  return parseFloat(totalAfterDiscount) + parseFloat(vat) + parseFloat(freight);
}

function hideDiv(id){
    var inputId = $("#div-"+id+" div.col div.input-group input[value='"+id+"']").attr("id").match(/\d+/);
    $("#id_purchaseorderitem_set-"+inputId+"-DELETE").prop('checked', true);
    //เพิ่ม class hiden-delete ไว้บอกว่าไม่ต้องคำนวน ราคารวม
    $("#id_purchaseorderitem_set-"+inputId+"-price").addClass("hiden-delete");
    //คำนวน รวมเป็นเงิน
    calculateAll();
    $("#div-"+id).hide();
}
$(".express" ).change(function() {
    // get data id ของ option data list
    var suffix = $(this).attr('id').match(/\d+/);
    var val = $("#id_purchaseorderitem_set-"+suffix+"-express").val();
    var item1 = val.split(":");
    var idExpress = item1[item1.length - 2];

    var item2 = val.split("เลขที่ ");
    var idRef = item2[item2.length - 1];

    var dataRef = idRef + idExpress;

    if(val != ""){
        var id = $('#idExpressList option[data-refno='+dataRef+']').attr('data-id');
        var quantity = $('#idExpressList option[data-refno='+dataRef+']').attr('data-quantity');
        var unit = $('#idExpressList option[data-refno='+dataRef+']').attr('data-unit');
        var show = $('#idExpressList option[data-refno='+dataRef+']').attr('data-show');
        //set value to form.item
      $("#id_purchaseorderitem_set-"+suffix+"-express").val(show);
      $("#id_purchaseorderitem_set-"+suffix+"-item").val(id);
      $("#id_purchaseorderitem_set-"+suffix+"-quantity").val(quantity);
      $("#id_purchaseorderitem_set-"+suffix+"-unit").val(unit);      
    }else{
      $("#id_purchaseorderitem_set-"+suffix+"-item").val("");
      $("#id_purchaseorderitem_set-"+suffix+"-quantity").val("");
      $("#id_purchaseorderitem_set-"+suffix+"-unit").val("");
    }

});

$("#id_vat_type").change(function() {
  document.getElementById("vat-type").innerHTML = $(this).val();

  var price =  $("#id_total_price").val();
  var discount =  $("#id_discount").val();
  var totalAfterDiscount = parseFloat(price) - calculateDiscount(discount);

  var vat = calculateVat(parseFloat(tempTotal.innerHTML));

  setValueTotalAfterDiscount(totalAfterDiscount, vat);

  var amount =  calculateAmount(vat, $("#id_total_after_discount").val(), $("#id_freight").val());
  vat = calculateVat(parseFloat(tempTotal.innerHTML));

  $("#id_vat").val(vat.toFixed(2));
  $("#id_amount").val(amount.toFixed(2));
});

$(function () {
    $("#id-form-distributor").autocomplete({
        source: '{% url "autocompalteDistributor" %}',
        minLength: 1,
    });
});

function searchDataDistributor(){
    if($('#id-form-distributor').val() != ""){
        var str = $('#id-form-distributor').val();
        var items = str.split( "-" );
        var idInput = items[0];
        // Create Ajax Call
        if(idInput){
            //set id_distributor
            $("#id_distributor").val(idInput);
            $.ajax({
            url: '{% url "searchDataDistributor" %}',
            data: {
                    'id_distributor': idInput,
                },
            dataType: 'json',
            success: function (data) {
                if (data.credit) {
                    //set id_credit , id_vat_type
                    $("#id_credit").val(data.credit);
                    $("#id_vat_type").val(data.vat_type);
                }
            }
            });
        }
        return false;
    }

  }

function setDataDistributor(){
    if($('#id_distributor').val() != ""){
        var idInput = $('#id_distributor').val();
        // Create Ajax Call
        if(idInput){
            $.ajax({
                url: '{% url "setDataDistributor" %}',
                data: {
                    'id_distributor': idInput,
                },
                dataType: 'json',
                success: function (data) {
                    if (data.val) {
                        //set id_credit , id_vat_type
                        $('#id-form-distributor').val(data.val);
                    }
                }
            });
        }
        return false;
    }

}

/*
$(".distributor" ).change(function() {
    // get data id ของ option data list
    var str = $("#id-form-distributor").val();
    var items = str.split( "-" );
    var id = items[items.length - 2]
    $("#id_distributor").val(id);
    var credit = $('#idDistributorList option[data-id='+id+']').attr('data-credit');
    $("#id_credit").val(credit);

    var vat_type = $('#idDistributorList option[data-id='+id+']').attr('data-vat_type');
    $("#id_vat_type").val(vat_type);
  });
*/
</script>
{% endblock%}