{% extends 'layouts.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load templatehelpers %}
{% load humanize %}

{% block content %}
<div class="container">
    <h3 align="center">ใบเปรียบเทียบราคา</h3>
    <div class="card my-3 bg-light div-shadow">
        <div class="card-body">
          <form method="get">
            {% csrf_token %}
            <div class="form-row">
              <div class="form-group col-md-1 mb-0">
                {{ filter.form.ref_no|as_crispy_field }}
              </div>
              <div class="form-group col-md-3 mb-0">
                {{filter.form.organizer|as_crispy_field}}
              </div>
              <div class="form-group col-md-3 mb-0">
                {{filter.form.select_bidder|as_crispy_field}}
              </div>
              <div class="form-group col-md-2 mb-0">
                {{filter.form.start_created|as_crispy_field}}
              </div>
              <div class="form-group col-md-2 mb-0">
                {{filter.form.end_created|as_crispy_field}}
              </div>
              <div class="form-group col-md-1 mb-0">
                <div>
                  <label for=""></label>
                  <div class="my-2">
                    <button type="submit" class="btn btn-info">กรอง<i class="fas fa-filter"></i></button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    <div class="card div-shadow">
        <div class="card-body">
            <!-- a class="btn btn-primary btn-block btn-sm" href="{%url 'prepareComparePricePO' %}" role="button"><i class="fas fa-plus-square"></i> สร้างใบเปรียบเทียบราคา</a-->
          <div class="table-responsive">
            <table class="table table-striped my-3">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">รหัส CM</th>
                  <th scope="col">รหัส PR</th>
                  <th scope="col" class="text-center">ชื่อผู้จำหน่าย</th>
                  <th scope="col">ผู้จัดทำ</th>
                  <th scope="col">วันที่สร้าง</th>
                  <th scope="col">ร้านที่เลือก</th>
                  <th scope="col">ราคา</th>
                  <th scope="col">ทำรายการ</th>
                  <th scope="col">ใบสั่งซื้อ</th>
                </tr>
              </thead>
              <tbody>
              {% for cp in cps %}
                <tr>
                  <th scope="row"><a class="{% if cp.is_re_approve %}text-danger{%endif%}" href="{%url 'showComparePricePO' cp.id 1 %}">{{cp.ref_no}}</a></th>
                  <td>
                    {% for pr in prs %}
                        {% if cp.id == pr.cp %}
                            {% ifchanged pr.item__requisit__pr_ref_no %}
                              <a href="/purchaseRequisition/show/{{pr.item__requisit__purchase_requisition_id}}/4">{{pr.item__requisit__pr_ref_no}}</a><br>
                            {% endifchanged %}
                        {%endif%}
                    {%endfor%}
                  </td>
                  <td>
                    {% for item in cp.comparisonpricedistributor_set.all %}
                      <li>{{ item.distributor.name }}</li>
                    {% endfor %}
                  </td>
                  <td>{{cp.organizer.first_name}}</td>
                  <td>{{cp.created |date:"d/m/Y"}}</td>
                  <td>{% if cp.select_bidder %}{{cp.select_bidder}}{%endif%}</td>
                  <td>
                    {% for bd in bidder %}
                      {% if cp.id == bd.cp_id  and bd.distributor__id == cp.select_bidder.id%}
                        {% if  bd.amount %}{{bd.amount | intcomma}}{%endif%}
                      {% endif %}
                    {% endfor %} 
                  </td>
                  {% if cp.approver_status_id == 1 and cp.examiner_status_id == 1 and request.user == cp.organizer%}
                    <td><a href="{%url 'createComparePricePOItem' cp.id False %}" class="btn btn-secondary btn-sm" style="width:90px"><i class="fas fa-edit"></i> แก้ไข</a>
                        <!-- a href="{% url 'editComparePricePO' cp.id %}" class="btn btn-secondary"><i class="fas fa-edit"></i> แก้ไข</a -->
                        <a onclick="return confirm('คุณต้องการลบใบสั่งซื้อนี้หรือไม่ ?')" href="{% url 'removeComparePricePO' cp.id %}" class="btn btn-danger btn-sm" style="width:90px"><i class="fas fa-trash-alt"></i> ลบ</a>
                    </td>
                  {% elif request.user.is_superuser %}
                    <td><a href="{%url 'createComparePricePOItem' cp.id False %}" class="btn btn-secondary btn-sm" style="width:90px"><i class="fas fa-edit"></i> แก้ไข</a>
                      <!-- a href="{% url 'editComparePricePO' cp.id %}" class="btn btn-secondary"><i class="fas fa-edit"></i> แก้ไข</a -->
                      <a onclick="return confirm('คุณต้องการลบใบสั่งซื้อนี้หรือไม่ ?')" href="{% url 'removeComparePricePO' cp.id %}" class="btn btn-danger btn-sm" style="width:90px"><i class="fas fa-trash-alt"></i> ลบ</a>
                    </td>
                  {% else %}
                    <td>
                      <button type="button"
                      class="btn btn-block btn-sm
                      {% if cp.examiner_status.id == 1 %}
                        btn-outline-warning
                      {% elif cp.examiner_status.id == 2 %}
                        btn-outline-success
                      {% elif cp.examiner_status.id == 3 %}
                        btn-outline-danger
                      {% endif %}" style="width:90px"
                      >{{cp.examiner_status}}</button>
                      <button type="button"
                      class="btn btn-block btn-sm
                      {% if cp.approver_status.id == 1 %}
                        btn-outline-warning
                      {% elif cp.approver_status.id == 2 %}
                        btn-outline-success
                      {% elif cp.approver_status.id == 3 %}
                        btn-outline-danger
                      {% endif %}" style="width:90px"
                      >{{cp.approver_status}}</button>
                      {% if cp.is_special_approve_cm %}
                        <button type="button"
                        class="btn btn-block btn-sm
                        {% if cp.special_approver_status.id == 1 %}
                          btn-outline-warning
                        {% elif cp.special_approver_status.id == 2 %}
                          btn-outline-success
                        {% elif cp.special_approver_status.id == 3 %}
                          btn-outline-danger
                        {% endif %}" style="width:90px"
                        >{{cp.special_approver_status}}</button>
                      {% endif %}
                    </td>
                  {% endif %}
                  <td>
                    {% if cp.is_special_approve_cm %}
                      {% if cp.select_bidder and cp.po_ref_no == "" and cp.examiner_status.id == 2 and cp.approver_status.id == 2 and cp.special_approver_status.id == 2%}
                      <a href="{%url 'createPOFromComparisonPrice' cp.id %}" class="btn btn-primary btn-sm"><i class="fas fa-plus-square"></i> สร้าง</a></td>
                      {% endif %}
                    {%else%}
                      {% if cp.select_bidder and cp.po_ref_no == "" and cp.examiner_status.id == 2 and cp.approver_status.id == 2 %}
                        <a href="{%url 'createPOFromComparisonPrice' cp.id %}" class="btn btn-primary btn-sm"><i class="fas fa-plus-square"></i> สร้าง</a></td>
                      {% endif %}
                    {% endif %}
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
    </div>
    <br/>
    <!--Pagination-->
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
      {% if cps.has_previous %}
          <li class="page-item">
          <a class="page-link" href="{% my_url cps.previous_page_number 'page' request.GET.urlencode %}">Previous</a>
        </li>
      {% else %}
          <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
        </li>
      {% endif %}

      {% if cps.number|add:'-4' > 1 %}
          <li class="page-item"><a class="page-link" href="{% my_url cps.number|add:'-5' 'page' request.GET.urlencode %}">&hellip;</a></li>
      {% endif %}

      {% for i in cps.paginator.page_range %}
          {% if cps.number == i %}
              <li class="page-item active" aria-current="page">
            <span class="page-link">
              {{ i }}
              <span class="sr-only">(current)</span>
            </span>
          </li>
          {% elif i > cps.number|add:'-5' and i < cps.number|add:'5' %}
               <li class="page-item"><a class="page-link" href="{% my_url i 'page' request.GET.urlencode %}">{{ i }}</a></li>
          {% endif %}
      {% endfor %}

      {% if cps.paginator.num_pages > cps.number|add:'4' %}
         <li class="page-item"><a class="page-link" href="{% my_url cps.number|add:'5' 'page' request.GET.urlencode %}">&hellip;</a></li>
      {% endif %}

      {% if cps.has_next %}
          <li class="page-item">
          <a class="page-link"  href="{% my_url cps.next_page_number 'page' request.GET.urlencode %}">Next</a>
        </li>
      {% else %}
          <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
        </li>
      {% endif %}
    </ul>
  </nav>
  <!--end of Pagination-->
</div>
{% endblock%}