{% extends 'layouts.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container h-75">
    <div class="row align-items-center h-75">
        <div class="col-6 mx-auto">
            <div class="card div-shadow">
                <div class="card-body">
                <h3 class="card-title">ใส่รหัสผ่านใหม่</h3>
                <br>
                <p>โปรดป้อนรหัสผ่านใหม่ของคุณสองครั้งเพื่อให้เราสามารถตรวจสอบว่าคุณพิมพ์ถูกต้องหรือไม่</p>
                <form method="post">
                    {% csrf_token %}
                    {{form | crispy}}
                    <input class="btn btn-success btn-block" type="Submit" name="Update Password">
                </form>
                </div>
            </div> 
        </div>
    </div>
</div>
{% endblock%}