{% extends 'layouts.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container h-75">
    <div class="row align-items-center h-75">
        <div class="col-6 mx-auto">
        <div class="card div-shadow">
            <div class="card-body">
            <h3 class="card-title">รีเซ็ตรหัสผ่าน</h3>
            <br>
            <p>หากลืมรหัสผ่าน? โปรดป้อนที่อยู่อีเมลของคุณด้านล่าง แล้วเราจะส่งอีเมลคำแนะนำในการตั้งค่าใหม่</p>
            <form method="post">
                {% csrf_token %}
                {{form | crispy}}
                <input class="btn btn-primary btn-block"  type="Submit" name="Send email">
            </form>
            </div>
        </div> 
        </div>
    </div>
</div>
{% endblock%}