{% extends 'layouts.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="jumbotron my-5">
        <div class="container">
          <h4 class="display-4">รีเซ็ตรหัสผ่านได้ส่งไปแล้ว</h4>

          <p class="lead">เราได้ส่งอีเมลคำแนะนำในการตั้งรหัสผ่านให้คุณแล้ว หากมีบัญชีที่ใช้อีเมลที่คุณป้อน คุณควรจะได้รับมันในไม่ช้า</p>
          <hr class="my-4">
          <p>หากคุณไม่ได้รับอีเมล โปรดตรวจสอบให้แน่ใจว่าคุณได้ป้อนที่อยู่ที่คุณลงทะเบียนไว้ และตรวจสอบโฟลเดอร์สแปมของคุณ</p>
        </div>
    </div>
</div>
{% endblock%}